/**
 * Placeholders & mixins
 */
%font-bold { // @todo move into a different file
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

%font-normal { // @todo move into a different file
  font-family: $font-family-base;
  font-weight: normal;
}

@mixin icon-font($symbol) {
  content: "#{$symbol}";
  font-family: "#{$icons-font-name}";
}

@mixin full-row-on-mobile() {
  @include media-breakpoint-down(sm) {
    margin-left: -$grid-gutter-width / 2;
    margin-right: -$grid-gutter-width / 2;
  }
}

@mixin dropdown-common-style() {
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  // border: 1px solid $dropdown-fallback-border; // @@todo
  border: 1px solid $dropdown-border-color;
  border-radius: 0;
}

/**
 * Create gradient
 */
@mixin hsGradient ( $map, $direction: 'from to', $index: 1, $fallback: '' ) {
  @if $index == 'all' {
    $bgFallback: map-get($map, 1);
    @if $fallback {
      $bgFallback: $fallback;
    }
    $gradient: '';
    $how_many_colors: length( map-values($map) );
    $step_percent: 100 / $how_many_colors;

    @each $index, $color in $map {
      $percent: min($step_percent * $index, 100);
      @if $index == 1 {
        $percent: 0;
      }
      $gradient: $gradient + '#{$color} #{$percent}%';
      @if $index != $how_many_colors {
        $gradient: $gradient + ',';
      }
    }
    background: $bgFallback;
    background: linear-gradient(#{$direction}, #{$gradient});
  }
  @else {
    $bgFallback: map-get($map, $index);
    @if $fallback {
      $bgFallback: $fallback;
    }
    $step1: map-get($map, $index);
    $step2: map-get($map, $index + 1);
    background: $bgFallback;
    background: linear-gradient($direction,
      $step1 0%,
      $step2 100%);
  }
  color: #fff;
}


@mixin hsImage () {
  border: 3px solid $body-bg;
  border-radius: $border-radius-lg / 3;
}

@mixin hsMediaItemCardRedesign () {
  @media (min-width: map-get($grid-breakpoints, md)) {
    @content;
  }
}

@mixin hsMediaItemModal ($device) {
  @if $device == 'mobile' {
    $max: map-get($grid-breakpoints, md);
    @media (max-width: $max) {
      @content;
    }
  }

  @if $device == 'tablet' {
    $min: map-get($grid-breakpoints, md);
    $max: map-get($grid-breakpoints, lg);
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  }

  @if $device == 'mobile,tablet' {
    $max: map-get($grid-breakpoints, lg);
    @media (max-width: $max) {
      @content;
    }
  }

  @if $device == 'tablet,desktop' {
    $min: map-get($grid-breakpoints, md);
    @media (min-width: $min) {
      @content;
    }
  }

  @if $device == 'desktop' {
    $min: map-get($grid-breakpoints, lg);
    @media (min-width: $min) {
      @content;
    }
  }
}

