/**
 * Faq module
 */
#hsFaq_filterSubmit {
  cursor: pointer;
}
.hsFaq {

  a {
    white-space: nowrap;
    color: #3984c6;
  }

  &__search {
    margin: ($spacer * 3) 0 ($spacer * 3);
  }

  &__row {
    @include media-breakpoint-up(lg) {
      margin-bottom: $spacer * 4;
    }
  }

  &__col {
    @include media-breakpoint-down(md) {
      margin-bottom: $spacer * 2.5;
    }
  }

  &__title {
    color: $appColor--violet-dark;
    font-size: $font-size-h2;
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  &__mark {
    background: #ffc;
  }

  &__media {
    font-size: 95%;
    margin-bottom: $spacer;
    // word-break: break-word;
  }

  &__contacts {
    .col-12 {
      margin: ($spacer * 2) 0;
    }
  }

  .expandable__heading {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
  }
  .expandable__header:hover .expandable__heading {
    color: $appColor--violet-dark;
  }

  .expandable {
    margin-left: -7px;
  }

  // Input borders
  .form-control {
    border-right: 0;
    border-color: darken($body-bg, 15%);

    &:focus,
    &:focus ~ .input-group-btn:before {
      border-color: darken($body-bg, 25%);
    }
  }
  .input-group-btn:before {
    border-color: darken($body-bg, 15%);
  }
  // inputs bg
  .form-control,
  .input-group-btn {
    background: white;
  }
  .input-group-btn {
    position: relative;
    &:after { // fake bg
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 100%;
      background: $body-bg;
    }
  }
  .input-group-lg > .form-control,
  .input-group-lg > .input-group-addon,
  .input-group-lg > .input-group-btn > .btn {
    font-size: $font-size-base;
  }
}
