.hsContact {
  &__form {
    margin-top: $spacer;

    .btn {
      @include media-breakpoint-up(md) {
        float: right;
      }
    }
  }

  &__title {
    margin-bottom: $spacer * 2;
  }

  &__info {
    @include media-breakpoint-down(md) {
      margin-top: $spacer * 2;
    }
  }

  &__inforow {
    position: relative;
    padding-left: 40px;
    margin: $spacer 0;
    // word-break: break-word;

    &-img {
      position: absolute;
      left: 0;
      top: 0;
      max-width: 20px;
      max-height: 28px;
    }

    &-txt {}

    .small {
      margin-top: -3px;
      font-size: 12px;
    }

    &--info {
      .hsContact__inforow-img {
        margin-left: 5px;
      }
    }

    &--email {
      .hsContact__inforow-img {
        margin-top: 5px;
      }
      @media screen and (max-width: 340px) {
        font-size: 14px;
      }
      .hsContact__inforow-txt {
        padding-top: 2px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1.2;
        &:hover {
          white-space: normal;
          word-break: break-all;
        }
        a:hover {
          color: $appColor--violet-dark;
        }
      }
    }

    &--share {
      img {
        margin-right: $spacer / 2.5;
      }
    }
  }
}
