/**
 * Diagonal continuous gradients
 */
@each $index, $color in $appGradient__map--complex {
  // .hsGradient--#{$index} {
  //   @include hsGradient( $appGradient__map--complex, 135deg, $index );
  // }
  @if $index <= 3 {
    .row .hsItem__col:nth-of-type(3n+#{$index}) .hsItemCard__middle {
      @include hsGradient( $appGradient__map--complex, 135deg, $index );
    }
  }
}

.hsGradient {
  // default gradient (for header, footer etc.)
  @include hsGradient( $appGradient__map--default, 'to right', 'all' );

  &--orange {
    @include hsGradient( $appGradient__map--orange, 'to right', 'all' );
  }

  &--green {
    @include hsGradient( $appGradient__map--green, 'to right', 'all' );
  }

  &--diagonal {
    @include hsGradient( $appGradient__map--complex, 215deg, 'all' );
  }

  &--bg {
    @include hsGradient( $appGradient__map--complex, 305deg, 'all' );
  }

  &--velvet {
    @include hsGradient( $appGradient__map--velvet, 135deg, 'all' );
  }

  &--pink {
    @include hsGradient( $appGradient__map--pink, 135deg, 'all' );
  }
}
