.hsHoewerkt {

  /**
   * Steps row
   */
  &__steps {
    align-items: center;
  }

  /**
   * Long explanations of each step
   */
  &__text {
    padding: $spacer 0;
    @include media-breakpoint-up(lg) {
      padding: ($spacer * 4) 0;
    }
    @include media-breakpoint-down(md) {
      text-align: center;
      margin-bottom: $spacer * 3;
    }
    > h3 {
      @include media-breakpoint-down(sm) {
        font-size: $font-size-h4;
      }
    }
    > p {
      max-width: 530px;
      @include media-breakpoint-down(md) {
        margin: 0 auto;
      }
    }
  }

  /**
   * Pay icons block
   */
  &__payicons {
    padding: ($spacer * 3) 0 ($spacer * 5);
    padding-right: $spacer * 2 !important;
    // padding-left: $spacer * 2 !important;
    text-align: center;

    > img {
      margin: $spacer / 4;
      height: 75px;
      @include media-breakpoint-up(xl) {
        height: 90px;
      }
    }
  }

  /**
   * Video row
   */
  &__video {
    text-align: center;
    padding-top: $spacer * 2;
    @include media-breakpoint-up(md) {
      padding-top: $spacer * 4;
    }
    @include media-breakpoint-up(lg) {
      padding-top: $spacer * 6;
    }
    @include media-breakpoint-up(xl) {
      padding-top: $spacer * 8;
    }

    // .embed-responsive-item {
    //   @include media-breakpoint-up(md) {
    //     max-width: 560px;
    //     max-height: 315px;
    //   }
    // }
  }

  /**
   * Arrow block
   */
  &__arrow {
    text-align: center;
    margin: -($spacer * 2.8) 0;

    &--1 {
    }
  }
}

/**
 * Reorder the steps on mobile
 */
@each $index in (1,2,3,4,5,6,7,8) {
  @include media-breakpoint-down(md) {
    .hsHoewerkt__step--#{$index} {
      order: $index;
    }
  }
}
