.appPayreminder {
  font-family: $countdown__font-family;

  &__date {
    margin-bottom: $spacer / 2;
    font-size: $font-size-sm;
  }

  &__title {
    font-weight: normal;
  }

  &__variation {
    font-weight: normal;
    font-size: $font-size-h6;
  }

  /**
   * Modal
   */
  &__modal {
    .modal-dialog {
      @include media-breakpoint-up(lg) {
        max-width: 900px;
      }
    }
  }

  /**
   * Table
   */
  &__table {
    table {
      width: 100%;
    }
    tbody tr:first-child td {
      border-top: 1px solid $body-color;
      padding-top: $spacer;
    }

    tbody tr:last-child td {
      border-bottom: 1px solid $body-color;
      padding-bottom: $spacer;
    }

    &-total > td {
      border-bottom: 1px solid $body-color;
      font-size: 130%;
      font-weight: bold;
      padding: $spacer 0;
    }

    td {
      padding: ($spacer / 3) 0;
    }

    td:first-child {
      width: 45%;
    }

    /**
     * Header `<p>` outside of table
     */
    &-header {
      margin: ($spacer * 3) 0 $spacer;
    }

    /**
     * Footer `<p>` outside of table
     */
    &-footer {
      margin: $spacer 0 ($spacer * 3);
    }
  }

  .countdown {
    @include media-breakpoint-down(lg) {
      // margin-left: -$spacer;
      // margin-right: -$spacer;
    }
  }
}
