.hsColophon {
  background: $appColophon-bg;
  padding: $spacer;
  @include media-breakpoint-up(sm) {
    padding: $spacer ($spacer * 2);
  }

  &__above {
    @include media-breakpoint-up(sm) {
      padding: $spacer ($spacer * 2);
    }

    @include media-breakpoint-up(lg) {
      margin-top: $spacer-y * 4;
    }

    .row {
      align-items: center;
    }

    h3,
    p {
      display: inline-block;
      margin: 0;
    }

    h3 {
      font-size: $font-size-h5;
      margin-right: $spacer * 2;
    }

    &-title {
      flex: 0;
      min-width: 230px;

      @include media-breakpoint-down(md) {
        margin-bottom: $spacer-y / 2;
      }
    }

    &-txt {
      flex: 1;

      @include media-breakpoint-down(md) {
        margin-bottom: $spacer-y;
      }

      @include media-breakpoint-down(lg) {
        font-size: .9rem;
      }
    }

    .hsNewsletter,
    .hsNewsletter .form-control, {
      background: white;
    }
    .hsNewsletter .form-control, {
      border-color: white;
    }
  }

  &__col {
    margin: $spacer 0;
    // &:last-of-type {
    //   @include media-breakpoint-up(lg) {
    //     text-align: right;
    //   }

    //   .list-unstyled {
    //     text-align: right;
    //   }
    // }
  }

  &__heading {
    font-size: $font-size-h5;
    border-bottom: 1px solid #999;
    padding-bottom: $spacer-y;
    margin-bottom: $spacer-y;
  }

  &__item {
    display: block;
    padding: $spacer-y / 5 0;
  }

  .list-unstyled {
    margin-bottom: 0;
  }
}
