.hsNocontent {
  &__cnt {
    text-align: center;
  }

  &__title {
    color: $appColor--purpletext;
  }

  &__img {
    margin: ($spacer * 3) 0 ($spacer);
  }

  &__msg {
    margin-bottom: $spacer;
  }

  &__btn {
    margin-bottom: $spacer * 3;
  }
}
