$cookieannouncement__font-size: 14px;

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

.cookieannouncement {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  @include background-opacity($appColor--pink-warm, 0.8);
  text-align: center;
  color: #fff;
  font-family: $font-family-serif;
  transform: translateY(100%);
  transition: transform .28s ease-in-out;

  .no-csstransforms & {
    transition: bottom .28s ease-in-out;
    bottom: -300px;
  }

  &.in {
    bottom: 0;
    transform: translateY(0%);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    min-height: 60px;
    margin: 0 auto;
    padding: $spacer;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    > .btn {
      text-transform: none;
      white-space: nowrap;

      > i {
        font-size: 20px;
        font-weight: normal;
      }
    }
  }

  &__text {
    margin-bottom: $spacer;

    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: row;
      margin-bottom: 0;
    }

    > p {
      display: inline;
      font-size: $cookieannouncement__font-size;
      margin: 0;

      @include media-breakpoint-up(md) {
        display: inline-block;
      }
    }

    > a {
      margin: 0 0 0 $spacer;
      text-decoration: underline;
      font-size: $cookieannouncement__font-size;
      color: #fff;

      @include media-breakpoint-up(md) {
        display: inline-block;
        margin: 0 $spacer * 3;
      }
    }
  }
}
