.hsFooter {
  box-shadow: $appShadow--base;

  @include media-breakpoint-up(sm) {
    font-size: 14px;
  }
  @include media-breakpoint-up(md) {
    font-size: 15px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 15px;
  }

  &__text {
    margin: 1rem 0 1.5rem 0;

    @include media-breakpoint-up(lg) {
      margin-top: 1.9rem;
      flex: 0 0 52%;
      max-width: 52%;
    }
  }

  &__logos {
    @include media-breakpoint-up(lg) {
      flex: 0 0 48%;
      max-width: 48%;
    }
  }

  &__keur {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
    @include media-breakpoint-up(lg) {
      flex: 1;
      text-align: center;
      max-width: none;
    }
  }

  &__pay {
    margin-top: $spacer;
    text-align: center;
    @include media-breakpoint-up(md) {
      text-align: right;
    }

    > img {
      padding-right: 10px;

      &:last-child {
        padding-right: 0;
      }

      @include media-breakpoint-down(lg) {
        height: auto;
        max-width: 15%;
      }
    }
  }
}
