.hsNewsletter {
  .form-control {
    font-size: 14px;
  }

  .fa-check {
    display: none;
  }

  &.sent {
    .fa-check {
      display: block;
    }
    .fa-plus {
      display: none;
    }
  }

  > .input-group-btn {

    &:before { // remove border
      display: none;
    }

    ~ span { // hide weird blue icon on non-hover
      display: none !important;
    }
  }

}
