/**
 * FAQ page
 */
.page--faq {
  .wrap__top {
    padding-bottom: $spacer;
  }
  .hsColophon {
    margin-top: 0;
  }
}

.page--404 {
  .wrap__top {
    padding-bottom: $spacer;
  }
}

.page--detail {
  .appCats {
    margin: 0 0 ($spacer);
    @include media-breakpoint-up(lg) {
      margin: $spacer 0 ($spacer * 2);
    }
  }
  .appCats__nav {
    margin: 0;
  }
}
