.nask {
  opacity: 0;
  transition: opacity .1s ease-in-out;

  &.nask--ready {
    opacity: 1;
  }

  &__viewwrap {
  }

  [data-nask-view] {
    display: none !important;
  }

  &[data-nask-view-is="none"] .nask__viewwrap,
  &[data-nask-view-is="granted"] .nask__viewwrap,
  &[data-nask-view-is="other-mobile"] .nask__viewwrap {
    display: none;
  }

  &[data-nask-view-is="request"] [data-nask-view="request"],
  &[data-nask-view-is="allowing"] [data-nask-view="allowing"],
  &[data-nask-view-is="thanks"] [data-nask-view="thanks"],
  &[data-nask-view-is="other"] [data-nask-view="other"],
  &[data-nask-view-is="other-mobile"] [data-nask-view="other-mobile"] {
    display: flex !important;
    flex: 1;
  }

  [data-nask-env] {
    display: none;
  }
  &[data-nask-env-is="android"] [data-nask-env="android"],
  &[data-nask-env-is="chrome"] [data-nask-env="chrome"],
  &[data-nask-env-is="firefox"] [data-nask-env="firefox"],
  &[data-nask-env-is="opera"] [data-nask-env="opera"] {
    display: block;
  }
}

/**
 * Browsers' native like buttons
 */
.btn-native {
  &-android {
    padding: 8px 16px;
    border: 0;
    background: #4385F5;
    border-radius: 2px;
    box-shadow: 0 2px 3px -2px rgba(0,0,0,.4), 0 2px 10px rgba(0,0,0,.2);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    font-family: 'Roboto';
    letter-spacing: 0px;
  }
  &-chrome {
    padding: 4px 16px;
    background: linear-gradient(to bottom, #EDEDED 0%, #E8E8E8 100%);
    border: 1px solid #BDBDBD;
    border-radius: 2px;
    font-size: 14px;
    box-shadow: inset 1px -1px 4px rgba(255,255,255,.5);
  }
  &-firefox {
    padding: 10px 30px;
    background: #0096FF;
    border: 0;
    border-radius: 1px;
    font-size: 12px;
    color: #fff;
    // font-family: $font-family-sans-serif;
  }
  &-opera {
    padding: 0 28px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,.08);
    font-size: 12px;
  }
}
