$countdown__block-padding: 0 4px 4px 4px;
$countdown__block-padding--md: 0 8px 8px 8px;
$countdown__font-family: $font-family-serif;
$countdown__border-radius: .5rem;
$countdown__bg-top: #EC586E;
$countdown__bg-bottom: #CD485B;
$countdown__bg-barsides-height: 8px;
$countdown__bg-barsides-thickness: 3px;
$countdown__bg-barsides-color: #333;
$countdown__label-font-size: 11px;
$countdown__label-color: #888;
$countdown__value-font-size: 2.5rem;
$countdown__value-font-size--md: 3.5rem;
$countdown__value-color: #FFFFFF;

.countdown {
  font-family: $countdown__font-family;

  &__blocks {
    display: flex;
  }

  &__block {
    flex: 1;
    width: 25%;
    padding: $countdown__block-padding;
    text-align: center;

    &:first-child {
      padding-left: 0; // @@rtl
    }
    &:last-child {
      padding-right: 0; // @@rtl
    }

    @include media-breakpoint-up(md) {
      padding: $countdown__block-padding--md;
    }
  }

  &__title {
  }

  &__label {
    display: block;
    line-height: 1;
    margin-bottom: 6px;
    text-transform: uppercase;
    font-size: $countdown__label-font-size;
    font-weight: bold;
    color: $countdown__label-color;
  }

  &__value {
    position: relative;
    z-index: 2;
    display: block;
    color: $countdown__value-color;
    font-size: $countdown__value-font-size;
    @include media-breakpoint-up(md) {
      font-size: $countdown__value-font-size--md;
    }
  }

  &__bg {
    position: relative;
    background: $countdown__bg-top;
    border-radius: $countdown__border-radius;

    &:before {
      z-index: 0;
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      bottom: 0;
      left: 0;
      background: $countdown__bg-bottom;
      border-bottom-right-radius: $countdown__border-radius;
      border-bottom-left-radius: $countdown__border-radius;
      border-top: 1px solid $body-color;
    }
    &:after {
      z-index: 1;
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      height: $countdown__bg-barsides-height;
      margin-top: -($countdown__bg-barsides-height / 2);
      border-left: $countdown__bg-barsides-thickness solid $countdown__bg-barsides-color;
      border-right: $countdown__bg-barsides-thickness solid $countdown__bg-barsides-color;
    }
  }
}
