$navsel__item-border-radius: 20px;
$navsel__item-hover-bg: $appColor--orange-dark;
$navsel__item-active-bg: $appColor--violet-warm;
$navsel__link-padding: 4px 8px 3px;
$navsel__link-padding-xl: 4px 9px 3px 12px;
$navsel__link-font-size: .9rem;
$navsel__link-color: #585858;
$navsel__link-active-color: #fff;
$navsel__icon-active-color: #fff;
$navsel__divider-left-gutter: 3px;

.appCats {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-up(lg) {
    display: block;
  }

  /**
   * No icons variation
   */
  &--noicons {
    .icon {
      display: none;
    }
  }

  /**
   * Navsel list `<ul>`
   */
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: $spacer;

    @include media-breakpoint-down(xs) {
      flex: 1;
    }

    @include media-breakpoint-up(lg) {
      width: 100%;
      margin: ($spacer * 4) 0 0;
    }
  }

  /**
   * Navsel list item `<li>`
   */
  &__item {
    position: relative;
    display: none;

    &.active {
      display: inline-block;
    }
    @include media-breakpoint-up(lg) {
      display: inline-block;

      &.active {
        margin-right: 9px;
      }
    }

    &:first-child .appCats__link:before {
      display: none;
    }

    &:hover + .appCats__item > .appCats__link:before,
    &.active + .appCats__item > .appCats__link:before {
      display: none;
    }
  }

  /**
   * Navsel link `<a>`
   */
  &__link {
    position: relative;
    padding: $navsel__link-padding;
    font-weight: bold;
    font-size: $navsel__link-font-size;
    color: $navsel__link-color;
    white-space: nowrap;
    border-radius: $navsel__item-border-radius;

    @include media-breakpoint-up(xl) {
      padding: $navsel__link-padding-xl;
    }

    &:before {
      position: absolute;
      content: "|";
      left: -$navsel__divider-left-gutter;
      top: 2px;

    }

    &:focus,
    &:hover,
    .active > & {
      text-decoration: none;
    }
    &:hover,
    .active > & {
      color: $navsel__link-active-color;
      &:before {
        display: none;
      }
    }
    &:hover,
    &:hover:after {
      background-color: $navsel__item-hover-bg;
    }
    .active > &,
    .active > &:after {
      background-color: $navsel__item-active-bg;
    }

    &:after {
      z-index: 1;
      position: absolute;
      content: "";
      width: 17px;
      height: 100%;
      top: 0;
      right: -8px;
      border-top-right-radius: $navsel__item-border-radius;
      border-bottom-right-radius: $navsel__item-border-radius;
    }
  }

  /**
   * Navsel icon `<i>`
   */
  .icon {
    position: relative;
    bottom: -2px;
    margin-right: 3px;
    font-size: 16px;
  }
  &__item:hover .icon,
  &__item.active .icon {
    color: $navsel__icon-active-color;
  }

  /**
   * Navsel select `<select>`
   */
  &__select {
    display: inline-block;
    border: 0;
    width: auto;
    background: transparent;
    padding: 0;
    margin-left: 20px;
    min-width: 0;
    text-align: right;
    color: $navsel__link-color;
    font-size: $navsel__link-font-size;
    cursor: pointer;
    // max-width: 62px;

    &:focus {
      background: transparent;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  /**
   * Custom component's styling
   *
   * @@ref cat_icons_color
   */
  .icon {
    &-alles,
    &-baby_kinderen,
    &-gadgets_elektronica {
      color: #B585B7;
    }
    &-huis_tuin,
    &-mode_sieraden {
      color: #F5873E;
    }
    &-beauty_verzorging,
    &-hobby_vrije_tijd {
      color: #EC596E;
    }
  }
}
