.hsContent {
  line-height: 1.36;

  /**
   * Card container
   */
  &__card {
    background: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,.1);
    padding: $spacer * 2;
    position: relative;
    word-break: break-word;

    &-maincentered {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 -($spacer * 2);
    }
  }

  /**
   * Title
   */
  &__title {
    padding-bottom: $spacer / 3;
    word-break: initial;


    &.hsContent__pagetitle {
      @include media-breakpoint-down(xs) {
        font-size: $font-size-h2 * 0.80;
      }
      @include media-breakpoint-down(sm) {
        font-size: $font-size-h2 * 0.87;
      }
    }

    &.h4 {
      padding-bottom: 0;
      @include media-breakpoint-down(sm) {
        font-size: $font-size-h5;
      }
    }

    // short-border
    &.hs--shortborder + .hsContent__subtitle,
    &.hs--shortborder + *:not(.hsContent__subtitle) {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        height: 1px;
        width: 40%;
        background: $body-color;
        @include media-breakpoint-down(sm) {
          width: 60%;
        }
      }
    }
    &.hsContent__pagetitle + .hsContent__subtitle,
    &.hsContent__pagetitle + *:not(.hsContent__subtitle) {
      @include media-breakpoint-down(sm) {
        &:after {
          left: 20%;
          width: 60%;
        }
      }
    }

    // long-border
    + .hsContent__subtitle {
      border-bottom: 1px solid $body-color;

      + * {
        margin-top: 0;
        padding-top: $spacer * 2;
      }
    }

    // long-border
    &.hs--shortborder + .hsContent__subtitle {
      border-bottom: 0;

      &:after {
        bottom: 0;
      }
    }

    + *:not(.hsContent__subtitle) {
      margin-top: 0;
      padding-top: $spacer * 2;
      border-top: 1px solid $body-color;
    }

    &.hs--shortborder + *:not(.hsContent__subtitle) {
      border-top: 0;

      &:after {
        top: 0;
      }
    }
  }

  /**
   * Simple title
   */
  &__simpletitle {
    margin-top: -($spacer / 2);
    padding-bottom: $spacer;
    font-weight: 600;
    text-transform: uppercase;

    &--withimg {
      position: relative;
      padding-right: 35px;

      > img {
        position: absolute;
        right: 0;
        top: 0;
        width: 25px;
      }
    }
  }

  /**
   * Subtitle
   */
  &__subtitle {
    margin-top: -($spacer / 2);
    padding-bottom: $spacer;
    @extend .font-sans;
    font-weight: 600;
    font-size: $font-size-h4;
  }

  /**
   * Title icon
   */
  &__titleicon {
    position: absolute;
    top: $spacer * 2;
    right: $spacer * 2;
    width: 50px;
    height: auto;

    ~ .hsContent__title,
    ~ .hsContent__subtitle {
      padding-right: 60px;
    }
  }

  /**
   * Headings
   */
  h3,
  &__heading {
    @extend .font-sans;
    font-size: $font-size-base;
    margin-top: $spacer * 2;

    // p ~ &,
    // ul ~ &,
    // ol ~ & {
    // }
  }

  /**
   * Paragraphs
   */
  p {
  }

  /**
   * Ordered lists
   */
  ol {
    padding-left: $spacer * 4;
    counter-reset: hs-olcounter;

    li {
      position: relative;
      list-style: none;

      &:before {
        content: counter(hs-olcounter) '.';
        counter-increment: hs-olcounter;
        position: absolute;
        left: -($spacer * 2);
        top: 0;
      }
    }
  }

  /**
   * Unordered lists
   */
  ul {
    padding-left: $spacer * 2;

    li {
      position: relative;
      list-style: none;

      &:before {
        position: absolute;
        left: -($spacer * 2);
        top: 0;
      }
    }

    &.hs--disc,
    &.hs--dashes {
      padding-left: $spacer * 4;
    }

    &.hs--disc {
      li:before {
        content: '•';
      }
    }

    &.hs--dashes {
      li:before {
        content: '-';
      }
    }
  }

  /**
   * Links
   */
  a:not(.btn) {
    color: $appColor--violet-dark;
    &:hover {
      color: darken($appColor--violet-dark, 10%);
    }
  }
}
