/**
 * An iconblock can be a link
 */
a.iconblock {
  opacity: .9;

  .iconblock__title {
    box-shadow: 0 0 0 rgba(0,0,0,0);
    transition: box-shadow .18s ease-in-out;
  }

  &:hover {
    text-decoration: none;
    opacity: 1;

    .iconblock__title {
      box-shadow: 0 0 ($appShadow-size / 2) $appShadow-color;
    }
  }
}

.iconblock {

  /**
   * List of
   */
  &-list {
    text-align: center;
    white-space: nowrap;

    .iconblock {
      display: none;

      @include media-breakpoint-up(lg) {
        display: inline-block;
        text-align: center;
        margin: 0 ($spacer / 2) ($spacer * 5);

        &:first-child {
          margin-left: 0 !important;
        }
        &:last-child {
          margin-right: 0 !important;
        }
      }
      @include media-breakpoint-up(xl) {
        margin: 0 ($spacer) ($spacer * 5);
      }
    }
  }

  /**
   * Title
   */
  &__title {
    display: inline-block;
    padding: $btn-padding-y ($btn-padding-x * 1.5);
    border-radius: $btn-border-radius;
    color: #fff;
    background: $appColor--orange;
    text-transform: uppercase;
    font-size: $font-size-h6;
    white-space: nowrap;
    min-width: 200px;

    &.pink-warm {
      background: $appColor--pink-warm;
    }

    &.violet {
      background: $appColor--violet;
    }
  }

  /**
   * Img
   */
  &__img {
    display: none;
    margin: 0 auto ($spacer * 1.2);
    max-height: 100px;
    width: auto;
    max-width: 100%;

    &--mobile {
      display: block;
    }
    @include media-breakpoint-up(lg) {
      display: block;
      // max-height: 143px;
      max-height: none;

      &--mobile {
        display: none;
      }
    }
  }

  /**
   * Header
   */
  &__header {
  }

  /**
   * Icon
   */
  &__icon {
    margin: 0 ($spacer * 1.2) 0 0;
    max-height: 60px;
    width: auto;
    max-width: 100%;

    @include media-breakpoint-up(lg) {
      margin: 0 auto ($spacer * 1.2);
      display: block;
      max-height: 143px;
    }
  }

  /**
   * Text
   */
  &__text {
    margin-top: $spacer;
    line-height: 1.26em;
  }
}
