.hsAccount {
  position: relative;

  /**
   * Account menu area
   */
  &__menu {
    @include media-breakpoint-down(md) {
      z-index: 4;
      position: absolute;
      top: 0;
      height: 100%;
      background: $body-bg;
      transition: all .2s ease-in-out;
      transform: translateX(-100%);
      opacity: 0;

      .no-csstransforms & {
        left: -100%;
      }
    }

    /**
     * Menu trigger
     */
    &-trigger {
      padding: $spacer $spacer ($spacer / 2);
      cursor: pointer;
    }
  }

  /**
   * State: menu is open, it  class on `body`
   */
  &--menu-open {
    .hsAccount__menu {
      opacity: 1;
      transform: translateX(0);

      .no-csstransforms & {
        left: 0;
      }
    }
  }

  /**
   * Account main area
   */
  &__main {
    color: $gray;

    > .card {
      border-radius: $border-radius-lg / 2;
      background: $card-bg;
      @include media-breakpoint-up(md) {
        padding: $spacer * 1.5;
      }
    }

    .display-4 {
      padding-bottom: $spacer * 0.75;
      margin-bottom: $spacer;
      border-bottom: 1px solid darken($body-bg, 5%);
    }
  }

  /**
   * Account tables
   */
  .table {
    font-size: 13px;

    .btn {
      text-decoration: none;
    }
  }

  /**
   * Account table specific classes
   */
  &__table {
    .table {
      @include media-breakpoint-up(sm) {
        margin-top: $spacer;
      }
      max-width: 100%;
    }

    tr {
      position: relative;

      &:hover {
        background: lighten($appTable__borders-bg, 5%);
      }
      &:last-child td {
        border-bottom: 0;
      }
      @include media-breakpoint-down(sm) {
        padding: $spacer 0 !important;
      }
    }

    th {
      background: $appTable__borders-bg;
      white-space: nowrap;
      padding: ($spacer / 6) ($spacer / 1.5);
      font-size: 12px;

      @include media-breakpoint-down(sm) {
        padding: $table-sm-cell-padding .5rem;
      }
    }

    td {
      padding: ($spacer * 1.3) ($spacer / 1.5);
      border-bottom: 1px solid $appTable__borders-bg;

      @include media-breakpoint-down(sm) {
        padding: $table-sm-cell-padding .5rem;
        text-align: right;

        &:before {
          text-align: left !important;
        }
      }
    }

    &-img {
      padding-left: 0 !important;
      padding-right: 0 !important;

      @include media-breakpoint-down(sm) {
        display: block;
        position: absolute !important;
        top: $spacer;
        left: 0;
        width: 45%;
        text-align: center;
      }

      img {
        max-width: $appTable__img-min-height;
        min-width: $appTable__img-min-height;
        min-height: $appTable__img-min-height;
        @include hsImage();

        @include media-breakpoint-down(sm) {
          // width: 100%;
          // max-width: 100%;
          // min-width: 0;
          // min-height: 0;
          height: 120px;
          max-width: 100%;
          min-width: 0;

          margin-right: 1rem;
          border-radius: 1rem;
        }
      }
    }

    &-name {
      word-break: break-word;
      min-height: $appTable__img-min-height + 30; // 10 is the $spacer (conflictin units)

      h4 {
        font-family: $font-family-sans-serif;
        font-size: $font-size-sm;
        line-height: 1.4;
      }

      a {
        text-decoration: none;
        color: $headings-color;

        &:hover {
          text-decoration: underline;
          color: $body-color;
        }
      }

      @include media-breakpoint-down(sm) {
        text-align: left !important;
      }
    }

    &-quantity {}

    &-price {
      white-space: nowrap;
    }

    &-date {
      // white-space: nowrap;
    }

    &-status .btn {
      white-space: nowrap;
    }

    &-tt {
      text-align: center;
      cursor: pointer;
    }
  }

  /**
   * Mijn gegevens (show view)
   */
  &__key {
    font-size: $font-size-sm;
    color: $text-muted; // $gray-light;
  }

  &__value {
    display: block;
    margin-bottom: $spacer * 1.3;
  }
  #gegevens_switchedit {
    cursor: pointer;
  }
}

#hsTtModal {
  .display-4 {
    border: 0;
  }

  .modal-content {
    padding: $spacer;
    margin-top: 100px;

    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
      margin-top: 200px;
    }
  }

  .tt__code {
    text-decoration: underline;
  }
}

.shippingtime {
  &__label {
    font-weight: bold;
    margin-top: $spacer / 2;
  }

  &__val {
    > i {
      position: relative;
      top: -4px;
      right: -1px;
      padding: 10px;
      margin: -10px;
      font-size: 12px;
      cursor: help;
    }
  }

  &__order {
    margin-top: 2px;
  }
}

// Reposition tooltip to don't go off screen on small screens
.page--account-gewonnen {
  @include media-breakpoint-down(sm) {
    .shippingtime__tooltip {
      left: -87px !important; // @@hack override bootstrap css from js

      .tooltip-inner:before {
        left: 93%;
      }
    }
  }
}
