$appItemDetail__breakpoint-vertical-thumbs--down: md;
$appItemDetail__breakpoint-vertical-thumbs--up: lg;

/**
 * Module
 */
.appItemDetail {

  &__back {
    margin-top: -$spacer;
    a {
      padding: $spacer 0;
      display: block;
    }
  }

  /**
   * Column `.col-`
   */
  &__col {
    &-left {
      .appItemDetail__main {
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
    }
    &-right {
      .appItemDetail__main {
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
  }

  /**
   * Subview: Images
   */
  &__images {
    position: relative;
    overflow: hidden; // for `.appAuctionclosed` slide in from bottom
    margin-bottom: $spacer * 0.5;
  }

  /**
   * Subview: Main data
   */
  &__main {
    &-inner {
      padding-top: $spacer * 1.5;
      padding-bottom: $spacer * 2;

      @include media-breakpoint-up(lg) {
        padding-top: $spacer;
        border-top-right-radius: $appItemDetail__card-border-radius;
        border-top-left-radius: $appItemDetail__card-border-radius;
      }
    }
    &-sticky {
      transition: box-shadow .18s ease-in-out;
      .is-sticky & {
        z-index: 1111 !important;
        box-shadow: $appSubheader-box-shadow;
      }
    }
  }
  &__main-inner,
  .hsItem__state {
    padding-left: $spacer;
    padding-right: $spacer;
  }
  .hsItem__state-msg {
    position: relative;
    left: $appItem__counter-size;
    margin-left: $spacer;
  }
  .hsItem__state-circle {
    left: $spacer;
  }
  @include media-breakpoint-up(lg) {
    &__main-inner,
    .hsItem__state {
      padding-left: ($spacer * 3);
      padding-right: ($spacer * 3);
    }
    .hsItem__state-circle {
      left: ($spacer * 3);
    }
  }


  /**
   * Subview: Article
   */
  &__article {
    padding-top: $spacer * 2;

    h1,
    h2,
    h3,
    h4 {
      font-size: $font-size-h4;
      padding-top: $spacer * 2;
      padding-bottom: $spacer / 2;
      border-bottom: 1px solid $appItemDetail__card-headings-border-color;
      margin-bottom: $spacer;
    }

  }

  /**
   * Subview: Aside
   */
  &__aside {
    .btn {
      @include media-breakpoint-down(md) {
        > .icon {
          display: none;
        }
      }
      @include media-breakpoint-down(sm) {
        font-size: $font-size-h6 * 0.9;
      }
      @include media-breakpoint-only(lg) {
        font-size: $font-size-h6 * 0.9;
      }
    }
  }

  /**
   * Slider
   */
  &__slider {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    // to center images on 'md' screens
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: flex-start;

    // to keep the slider always squared
    &-wrap {
      position: relative;
    }

    // to keep the slider always squared
    &-proportion {
      padding-top: 100%;
    }

    .img-wrap {
      height: 100%;
      min-width: 100%;
    }

    img {
      margin: 0 auto;
      max-width: 100%; // @@doubt
      max-height: 100%; // @@doubt
      // flex: 0;
      flex-basis: 15%; // @@bugfix safari flexbox
    }

    .slick-list,
    .slick-track {
      height: 100%;
    }
    .slick-slide {
      position: relative;
    }
    .slick-slide > div,
    .slick-slide .img-wrap {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
    }
    .slick-slide .img-wrap {
      display: flex !important;
      justify-content: center;
      align-items: center;
      background: #fff;
    }
  }
  .has-thumbs .appItemDetail__slider-wrap {
    @include media-breakpoint-up(lg) {
      left: -$spacer / 2;
      margin-right: $appItemDetail__thumb-width;
      right: $spacer / 2;
      margin-left: $spacer / 2;
    }
  }

  /**
   * Thumbs
   */
  &__thumbs {
    width: 100%;
    // min-height: $appItemDetail__thumb-width !important;

    @include media-breakpoint-up(lg) {
      width: $appItemDetail__thumb-width !important;
      height: 100%;
    }

    &-wrap {
      padding: ($spacer) 0 0 0;

      @include media-breakpoint-up($appItemDetail__breakpoint-vertical-thumbs--up) {
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0 0 0 ($spacer / 2);

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: $spacer * 1.5;
          background: linear-gradient(to top, $body-bg 50%, rgba(255,255,255,0) 100%);
        }
      }
    }

    .img-wrap {
      display: block;
      overflow: hidden;
      border: 0px solid transparent;
      transition: border .18s ease-in-out;
    }
    // .slick-current .img-wrap:hover,
    .slick-current .img-wrap {
      border: 3px solid #969796;
      cursor: pointer;
    }

    .slick-slide {
      cursor: pointer;

      > div {
        margin: 0 ($spacer * 0.5) ($spacer * 0.5) 0;
        @include media-breakpoint-up($appItemDetail__breakpoint-vertical-thumbs--up) {
          margin: 0 0 ($spacer * 0.5) ($spacer * 0.5);
        }
      }
    }

    // this makes thumbnails always squared, we keep this both with the vertical and with
    // the horizontal slider. This could be simplified once we have the @@imagecropper
    // @include media-breakpoint-down($appItemDetail__breakpoint-vertical-thumbs--down) {
      .slick-slide {
        position: relative;

        &:after {
          content: "";
          padding-top: 100%;
          display: block;
        }
        > div,
        .img-wrap {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
        .img-wrap {
          display: flex !important;
          justify-content: center;
          align-items: center;
          align-content: center;
          background: #fff;
        }

        .img-fluid {
          max-height: 100%;
          // flex: 0;
          flex-basis: 15%; // @@bugfix safari flexbox
        }
      }
    // }
  }

  /**
   * Content card
   */
  &__card {
    padding: $spacer * 2 $spacer * 1.5 $spacer * 1.5;
    margin-top: $spacer * 2;
    background: $appItemDetail__card-bg;
    border-radius: $appItemDetail__card-border-radius;

    &-title {
      font-size: $font-size-h6;
      padding: 0 0 $spacer * 0.8;
      margin-bottom: $spacer * 0.8;
      border-bottom: 1px solid $appItemDetail__card-headings-border-color;

      > i {
        margin-right: 5px;
      }
    }

    &-img {
      border-radius: 100%;
      border: 4px solid white;
      width: $appItemDetail__card__img-size;
      min-width: $appItemDetail__card__img-size;
      height: $appItemDetail__card__img-size;
      max-height: $appItemDetail__card__img-size;

      .ie & {
        width: auto; // IE fix
      }
    }

    &-list {
      padding: 0 0 0 $spacer;
      margin: 0;
    }

    &-iconlist {
      list-style: none;
      padding: 0;

      > li {
        padding: 2px 0;
      }
    }

    &-line {
      font-size: 14px;
      margin-bottom: 0;
    }

    .icon {
      margin-right: $spacer / 2;
    }
  }

  /**
   * Item object tweaks
   */
  // bigger item info
  .hsItem__info {
    &-what {
      font-size: $font-size-xs;
      opacity: .8;
      margin: 0 0 $spacer / 4;
      @include media-breakpoint-up(sm) {
        font-size: $font-size-xs;
      }
      @include media-breakpoint-up(md) {
        font-size: $font-size-h6;
      }
    }
    &-is {
      font-size: $font-size-sm;
      @include media-breakpoint-up(sm) {
        font-size: $font-size-h5;
      }
      @include media-breakpoint-up(md) {
        font-size: $font-size-h4;
      }
      @include media-breakpoint-up(lg) {
        font-size: $font-size-h3;
      }
    }
  }

  // bigger bid btn
  .hsItem__btn {
    width: 100%;
    padding: ($spacer / 2) ($spacer / 2.5);
    margin-top: $spacer * .75;
    box-shadow: none;
  }

  .hsItem__state {
    border-bottom-right-radius: $appItemDetail__card-border-radius;
    border-bottom-left-radius: $appItemDetail__card-border-radius;
  }
}
