/**
 * Expandable module
 */
.expandable {
  // border-bottom: 1px solid #eee;
  // &:last-child {
  //   border-bottom: 0;
  // }

  &__list {
    @extend .list-unstyled;
    margin: 0;
  }

  &__header {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: ($spacer / 2) 0;
  }

  &__heading {
    margin: 0;
  }

  &__body {
    padding-left: ($spacer / 2) + 2.1rem;
    > p:last-child {
      margin-bottom: $spacer;
    }
  }

  &__toggle {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-right: $spacer / 2;
    background-color: transparent;
    border: 0;
    // color: $TA-accent;
    text-align: center;
    font-size: 28px;
    // transform: rotate(45deg);
    transition: transform .18s ease-in-out;
    transform-origin: center;

    [aria-expanded="true"] & {
      transform: rotate(90deg);
      // color: map-get($TA-grayscale, darkest);
    }

    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }

    > .icon:before {
      content: $icon_keyboard_arrow_right;
    }
  }
}
