.hsItem {

  /**
   * Item Search icon link
   */
  &__search {
    width: $appItem__search-size;
    height: $appItem__search-size;
    line-height: $appItem__search-size;
    background: $appItem__search-bg;
    color: $appItem__search-color;
    border-radius: 100%;
    text-align: center;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $appItem__search-color;
      background: darken($appItem__search-bg, 10%);
    }
  }

  /**
   * Item info
   */
  &__info {

    &-what {
      display: block;
      font-weight: 300;
    }
    &-is {
      display: block;
      font-weight: 400;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &-price {
    }
    &-bid {
      overflow: hidden;
      text-align: right;
    }
  }

  /**
   * Item bid button
   */
  &__btn {
    box-shadow: 3px 3px 20px $appShadow-color;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid transparent;

    &.btn {
      border: 1px solid transparent;
    }

    &:focus {
      box-shadow: 3px 3px 20px $appShadow-color;
    }
    &:active {
      box-shadow: inset 1px 2px 10px $appShadow-color, inset 0 1px 5px darken($appShadow-color, 2.5%);
    }

    &-shipping {
      display: block;
      margin-top: -2px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 13px;
      font-weight: 400;
      text-transform: none;

      @include hsMediaItemModal('mobile') {
        margin-top: -1px;
        font-size: 12px;
      }
    }
  }

  /**
   * Item State
   */
  &__state {
    position: relative;
    padding: ($spacer / 2) $spacer;
    padding-left: $appItem__counter-size + 25px;
    transition: background 2s ease-in-out;
    min-height: 40px;
    font-family: $font-family-serif;

    // [data-state="geboden-timeless"] & {
    //   padding-left: $spacer;
    // }

    &-circle {
      position: absolute;
      left: $spacer;
      top: 50%;
      margin-top: -($appItem__counter-size / 2);
      width: $appItem__counter-size;
      height: $appItem__counter-size;
      border: $appItem__counter-border-width solid #fff;
      border-radius: 100%;
      background: #fff;
      box-shadow: 2px 5px 10px $appShadow-color;

      [data-state="verkocht"] & {
        background: url(../images/icon-sold.png) no-repeat center center #fff;
        background-size: 31px;
      }
      /* [data-state="uitverkocht"] & {
        background: url(../images/icon-uitverkocht.png) no-repeat center center #fff;
        background-size: 31px;
      } */

      [data-state="uitverkocht"] &,
      [data-state="geboden-timeless"] &,
      [data-state="controleren"] & {
        display: none;
      }
    }

    &-svg {
      display: block;
      border-radius: 100%;

      [data-state="verkocht"] &/* ,
      [data-state="uitverkocht"] & */ {
        display: none;
      }
    }
  }
}

$appGradient__map--states: (
  'eenmaal': (
    1: $appColor--green-dark,
    2: $appColor--green-light,
  ),
  'andermaal': (
    1: $appColor--red,
    2: $appColor--orange-dark,
  ),
  'geboden': (
    1: $appColor--violet-dark,
    2: $appColor--violet,
  ),
  'geboden-timeless': (
    1: darken($appColor--violet-dark, 10%),
    2: darken($appColor--violet, 10%),
  ),
  'verkocht': (
    1: $appColor--grey,
    2: $appColor--grey-light,
  ),
  'bieden': (
    1: $appColor--blue,
    2: $appColor--blue-light,
  ),
  'winnen': (
    1: darken(deeppink, 20%),
    2: deeppink,
  ),
  'geladen': (
    1: darken(adjust-color($appColor--grey, 15%), 13%),
    2: darken(adjust-color($appColor--grey-light, 15%), 13%),
  ),
  'gesloten': (
    1: darken(adjust-color($appColor--grey, 10%), 13%),
    2: darken(adjust-color($appColor--grey-light, 10%), 13%),
  ),
  'controleren': (
    1: darken(adjust-color($appColor--grey, 5%), 13%),
    2: darken(adjust-color($appColor--grey-light, 5%), 13%),
  ),
  'uitverkocht': (
    1: darken($appColor--grey, 2%),
    2: darken($appColor--grey-light, 2%),
  )
);

/**
 * Create the gradient bg and svg linearGradient stops for each state
 */
.stop1 {
  stop-opacity: 1;
}
.stop2 {
  stop-opacity: 1;
}
@each $mapID, $map in $appGradient__map--states {
  [data-state="#{$mapID}"] .hsItem__state {
    @include hsGradient( $map, 'to right', 'all' );

    // .stop1 {
    //   stop-color: map-get($map, 1);
    //   stop-opacity: 1;
    // }
    // .stop2 {
    //   stop-color: map-get($map, 2);
    //   stop-opacity: 1;
    // }
  }
}

.hsItem[data-state="verkocht"],
.hsItem[data-state="uitverkocht"] {
  .hsItem__btn {
    background: none;
    border: 1px solid #fff;
    box-shadow: none;
    cursor: default;

    // hide 'Bied'
    &-bid {
      display: none;
    }
  }
}

/*
 * The `expirations` values available are for now:
 * 'blink, close, hurry, final'; to each of them correspond
 * some variations and animation applied through css. Each expiration must
 * declare a `percent` property that indicates the percentage at which point
 * in time trigger the expiration animation (or whatever),
 * e.g. a `percent` value of 50 would trigger at the 14th second for a state
 * that should lasts 28s
 *
 * See the names of the mixins with demo here:
 * https://daneden.github.io/animate.css/
 */
[data-expiration="blink"] {
  .hsItem__btn {
    @include pulse();
  }
}

[data-expiration="close"] {
  .hsItem__btn {
    @include shake();
  }
}

[data-expiration="hurry"] {
  .hsItem__state-circle {
    @include tada();
  }
  .hsItem__btn {
    @include jello();
  }
}

[data-expiration="final"] {
  .hsItem__state-circle {
    @include wobble();
  }
}
