.hsDiscount {
  width: $appDiscount-size;
  height: $appDiscount-size;
  line-height: $appDiscount-size;
  transform: rotate(8deg);
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-family: $font-family-serif;
  font-size: $appDiscount-size / 2.75;
  letter-spacing: -1px;

  &--lg {
    width: $appDiscount-size--lg;
    height: $appDiscount-size--lg;
    line-height: $appDiscount-size--lg;
    font-size: $appDiscount-size--lg / 2.75;
  }
}
