.hsPage {

  /**
   * Intro block
   */
  &__intro {
    text-align: center;
    max-width: 560px;
    margin: 0 auto !important;
    padding-top: $spacer * 3;
    padding-bottom: $spacer * 3;

    &--var1 {
      .hsPage__intro {
        max-width: none;
      }
    }

    &--withicon {
      .hsPage__intro-title {
        display: inline-block;
      }
    }

    /**
     * Intro title
     */
    h1,
    &-title {
      font-size: $font-size-h2;

      @include media-breakpoint-up(sm) {
        font-size: $font-size-h3 * 1.2;
      }
      @include media-breakpoint-up(md) {
        font-size: $font-size-h1 * 1.2;
      }
      @include media-breakpoint-up(lg) {
        .hsPage__intro--withicon & {
          font-size: $font-size-h1 * 1.8;
        }
      }
    }

    /**
     * Intro subtitle
     */
    &-subtitle {
      margin: 0;
      font-weight: 400;
      font-size: $font-size-h6;

      @include media-breakpoint-up(sm) {
        font-size: $font-size-h5;
      }
      @include media-breakpoint-up(md) {
        font-size: $font-size-h4;
      }
    }

    /**
     * Intro fullrow background
     */
    &-bg {
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      color: #FFFDFE;
      text-shadow: 0 0 10px rgba(0,0,0,0);
      // min-height: 335px;
      padding: ($spacer * 2) 0;
      &.hsPage__intro--withicon {
        padding: ($spacer * 3) 0 $spacer;
      }

      @include media-breakpoint-up(md) {
        padding: ($spacer * 4) 0;
        &.hsPage__intro--withicon {
          padding: ($spacer * 6) 0 $spacer * 2;
        }
      }
      @include media-breakpoint-up(lg) {
        padding: ($spacer * 6) 0;
        &.hsPage__intro--var1 {
          padding: ($spacer * 4) 0;
        }
        &.hsPage__intro--withicon {
          padding: ($spacer * 10) 0 $spacer * 2;
        }
      }
      @include media-breakpoint-up(xl) {
        padding: ($spacer * 8) 0;
        &.hsPage__intro--var1 {
          padding: ($spacer * 5) 0;
        }
        &.hsPage__intro--withicon {
          padding: ($spacer * 13) 0 $spacer * 3;
        }
      }

      .hsPage__intro {
        padding-top: 0;
        padding-bottom: 0;
        max-width: none;
      }
    }

    /**
     * Intro background overlay
     */
    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background: rgba(0,0,0, .3);
      background: $modal-backdrop-bg;
      opacity: $modal-backdrop-opacity;

      &--faded {
        background: linear-gradient(to top, $modal-backdrop-bg, transparent);
      }
    }

    /**
     * Intro icon (as in about us page)
     */
    &-icon {
      margin-top: -($spacer * 3);
      margin-left: $spacer;
    }
  }

  /**
   * Page box (content wrapped in a div with borders and a bg color)
   */
  &__box {
    padding: $spacer * 2;
    border-radius: $border-radius;
  }

  &__title {
    border-bottom: 1px solid $body-color;
    padding-bottom: $spacer;
    margin-bottom: $spacer;
  }

  &__textblock {
    padding: $spacer * 1.5 0;
    border-style: solid;
    border-width: 1px 0;
    border-color: #222;

    p {
      @extend .font-serif;
      margin-top: $spacer;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
