/**
 * To use on the `.appItemDetail` wrapper class
 */
.appAuctionclosed {

  /**
   * Modal
   */
  &__modal {
    .modal-body {
      display: flex;
      padding: ($spacer * 3) ($spacer * 2);
      text-align: center;
      max-width: 450px;
      margin: 0 auto;

      @include media-breakpoint-up(md) {
        min-height: 400px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    }

    #appAuctionclosed_hasemail {
      display: none;
      max-width: 680px;
    }

    .appAuctionclosed__msg {
      margin: ($spacer * 2) 0;
      display: block;
    }

    .modal-footer {
      margin-right: -1px;
      padding: 0;
    }

    .hsItem__state {
      width: 100%;
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
  }

  #appAuctionclosed_askemail,
  &-hasemail #appAuctionclosed_hasemail {
    display: flex;
  }
  #appAuctionclosed_hasemail,
  &-hasemail #appAuctionclosed_askemail {
    display: none;
  }

  /**
   * Overlay
   */
  &__overlay {
    z-index: 12;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    right: -3px;
    bottom: 0;
    left: -1px;
    background: #000000;
    background: rgba(0,0,0,.9);
    padding: $spacer $spacer ($spacer * 2);
    color: white;
  }

  /**
   * Text and images
   */
  &__title {
    font-size: $display3-size;
    @include media-breakpoint-up(md) {
      font-size: $display2-size;
    }
    #appAuctionclosed_hasemail & {
      font-weight: normal;
      margin-bottom: $spacer * 2;
    }
  }
  &__subtitle {
    font-size: $display4-size * 0.9;
    @include media-breakpoint-up(md) {
      font-size: $display3-size * 0.9;
    }
    font-weight: normal;
  }
  &__msg {
    font-family: $font-family-serif;
    line-height: 1.2;
    font-size: $font-size-h6;
    @include media-breakpoint-up(md) {
      font-size: $font-size-h5;
    }
  }
  &__img {
    margin-top: -10px;
  }

  /**
   * Message on top of the former bid button
   */
  &__msg {
    text-align: center;
    padding-bottom: $spacer;
  }


  /**
   * Visiblity
   */
  &__overlay {
    transform: translateY(101%);
    transition: top 1s ease-in-out, transform 1s ease-in-out;
    .no-csstransforms & {
      top: 105%;
    }

    .appAuctionclosed & {
      transform: translateY(0%);
      .no-csstransforms & {
        top: 0;
      }
    }
  }

  &__msg,
  &__btn {
    display: none;
    .appAuctionclosed & {
      display: block;
    }
  }

  .hsItem__btn {
    display: none;
  }

  /**
   * Change the column sizes
   */
  @include media-breakpoint-up(md) {
    .hsContentCard__left {
      @include make-col(8);
    }
    .hsContentCard__right {
      @include make-col(4);
    }
  }
}
.hsContentCard__left,
.hsContentCard__right {
  transition: flex 1s ease-in-out, max-width 1s ease-in-out;
}
