.hsSimpleCard {
  padding: $spacer;
  border-radius: $border-radius;
  background: #fff;
  text-align: left; // rtl

  @include media-breakpoint-up(md) {
    height: 100%;
  }

  > h3 {
    margin-bottom: $spacer;
  }

  @include media-breakpoint-up(md) {
    padding: $spacer * 2;
  }

  p:last-child,
  ul:last-child {
    margin-bottom: 0;
  }
}

.hsContentCard {
  // always fullheight
  z-index: 1;
  height: 100%;
  box-shadow: $appShadow--base;

  > .row {
    margin: 0 -1px 0 0; // @@bug bootstrap leaves 1px space here... \\
  }

  /**
   * Content card: subtitle
   */
  &__title {
    font-weight: 300;
    line-height: 1.2;
    color: darken($appColor--violet, 30%);
    word-break: break-word;
  }

  /**
   * Content card: title
   */
  &__subtitle {
    font-family: $font-family-sans-serif;
    font-size: .9rem;
    font-weight: 300;
  }

  // larger spacing for content card
  /**
   * Content card: content
   */
  .card-block {
    padding: $spacer * 2; // $grid-gutter-width-base * 2 ($grid-gutter-width-base * 1.5) ($grid-gutter-width-base * 1.5); // $card-spacer-y * 2 $card-spacer-x * 1.5;
  }

  /**
   * Content card: left area
   */
  &__left {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    // min-height: 100px; // @@hacky, show a piece of image on mobile
    border-top-left-radius: $border-radius;

    @include media-breakpoint-up(lg) {
      border-bottom-left-radius: $border-radius;
    }
  }

  /**
   * Content card: right area
   */
  &__right {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  /**
   * Content card: top area
   */
  &__top {
    position: relative;
    // min-height: 200px;
    color: #fff;
    text-align: center;
    padding: ($spacer * 6) $spacer ($spacer * 1);
    text-shadow: 0 0 20px darken($appShadow-color, 60%);
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    background-size: 100% auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @include media-breakpoint-up(lg) {
      padding-top: ($spacer * 10);
    }
    @include media-breakpoint-up(xl) {
      padding-top: ($spacer * 12);
    }

    &-title {
      position: relative;
      z-index: 1;
      font-size: 31px;
      font-size: 1.95rem;
    }
    &-subtitle {
      position: relative;
      z-index: 1;
      font-size: $font-size-lg;
      font-weight: 500;
    }

    &-logo {
      position: absolute;
      top: $spacer * 1.25;
      left: $spacer * 1.5;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 30%,rgba(0,0,0,0.55) 100%);
  }

  /**
   * Content card: bottom area
   */
  &__bottom {
    padding: $spacer $spacer ($spacer * 1.25);

    @include media-breakpoint-down(md) {
      text-align: center;
      .media {
        display: block;
      }
      .img-fluid {
        display: block;
        margin: 0 auto $spacer;
      }
    }

    .media {
      padding: ($spacer * 0.75) 0;
      // padding: 0;
    }
    .img-fluid {
      margin-right: $spacer;
    }
    h3 {
      font-weight: 700;
      font-size: 1.1rem;
      color: darken($appColor--violet, 30%);
    }
    h4 {
      font-weight: 400;
      font-size: .9rem;
      font-family: $font-family-sans-serif;
      line-height: 1.16;
      margin-bottom: $spacer;
    }
  }

  // position the discount badge
  .hsDiscount--lg {
    position: absolute;
    top: 50%;
    margin-top: -($appDiscount-size--lg / 2);
    right: $spacer;
    box-shadow: $appShadow--base;

    @include media-breakpoint-up(md) {
      right: -$appDiscount-size--lg / 2 + ($grid-gutter-width-base / 2);
    }
  }
}

