html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

// IE fix
// body,
// .wrap {
//   flex: 1 1 0;
//   display: flex;
//   flex-direction: column;
// }

.wrap {

  /**
   * Top wrapper
   */
  &__top {
    flex: 1 1 0;
    // fixed navbar style;
    padding: $appNavbar-height 0;

    /**
     * Variation on body to display fully centered pages like login and
     * register forms
     */
    .wrap--centered & {
      display: flex;
      align-items: center;
      justify-content: center;

      @include media-breakpoint-down(sm) {
        padding: 0; // there is no navbar when using this class
      }
    }

    /**
     * Immediate child of `.wrap__top`, usually but not necessarily also
     * a `.container` element
     */
    &-inner {
      // padding: $spacer !important;
      max-width: 100%;
      @include media-breakpoint-down(xs) {
        width: 100%;
      }
      @include media-breakpoint-up(md) {
        padding: $spacer * 2 $spacer !important;
      }

      &.container-fluid {
        padding: 0 ($grid-gutter-width-base / 2) !important;
      }
      &.container {
        padding-top: $grid-gutter-width-base;
        padding-bottom: $grid-gutter-width-base;
      }
    }
  }
}

