.appSubheader {
  background: $appSubheader-bg;
  box-shadow: $appSubheader-box-shadow;

  /**
   * Immediate child `.container`
   */
  > .container {
    padding: 0;
    overflow: hidden; // we use a js slider for responsiveness
  }

  /**
   * List `<ul>`
   */
  &__list {
    position: relative;
    list-style: none;
    display: block;
    padding: 0;
    margin: 0 auto;
    white-space: nowrap;
    text-align: center;

    .slick-track {
      white-space: nowrap;
      text-align: center;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 30px;
      pointer-events: none;
      transition: right .18s ease-in-out, left .18s ease-in-out;
    }
    &:before {
      background: linear-gradient(to left, rgba(0,0,0,0) 10%, rgba(0,0,0,0.06) 66%, rgba(0,0,0,0.12) 100%);
      left: -30px;
    }
    &:after {
      background: linear-gradient(to right, rgba(0,0,0,0) 10%, rgba(0,0,0,0.06) 66%, rgba(0,0,0,0.12) 100%);
      right: -30px;
    }

    &.slick-hint-prev:before {
      left: 0;
    }

    &.slick-hint-next:after {
      right: 0;
    }
  }

  /**
   * List item `<li>`
   */
  &__item {
    display: inline-block;

    &:focus {
      outline: none;
    }
  }

  /**
   * Link `<a>`
   */
  &__link {
    // display: block;
    display: inline-block;
    float: none;
    padding: $appSubheader__link-gutter-y $appSubheader__link-gutter-x;
    color: $appSubheader__link-color;
    opacity: $appSubheader__link-opacity;
    transition: opacity .18s ease-in-out, color .18s ease-in-out;

    &:hover,
    &:focus,
    &.active {
      opacity: $appSubheader__link-active-opacity;
      text-decoration: none;
    }
  }

  /**
   * Icon `<i class="icon icon-...">`
   */
  .icon {
    font-size: $appSubheader__icon-font-size;
  }


  /**
   * Title `<h4>`
   */
  &__title {
    font-size: $appSubheader__title-font-size;
    font-weight: 400;
    text-transform: lowercase;
    margin-top: -2px;
    // @include media-breakpoint-down(sm) {
    //   font-size: 9px;
    // }
  }

  /**
   * Custom component's style
   *
   * @@ref cat_icons_color
   */
  &__link:hover .icon,
  &__link:focus .icon,
  &__link.active .icon {
    &-alles,
    &-baby_kinderen,
    &-gadgets_elektronica {
      color: #B585B7;
    }
    &-huis_tuin,
    &-mode_sieraden {
      color: #F5873E;
    }
    &-beauty_verzorging,
    &-hobby_vrije_tijd {
      color: #EC596E;
    }
  }
}
