$appOrderconfirm__card-spacer-x: $spacer * 1.3;

.hsThanks {

  .hsCheckout__product {
    text-align: left;
    max-width: 300px;
    margin: 2rem auto 1rem;
  }

  /**
   * Steps row
   */
  &__steps {
    margin: ($spacer * 4) 0;
    text-align: center;

    &-title {
      display: inline-block;
      padding: $btn-padding-y ($btn-padding-x / 1.5);
      border-radius: $btn-border-radius;
      color: #fff;
      background: $appColor--orange;
      text-transform: uppercase;
      font-size: .9rem; // $font-size-sm;
      // white-space: nowrap;
      letter-spacing: .3px;
      margin: ($spacer * 2) auto $spacer;

      &.pink-warm {
        background: $appColor--pink-warm;
      }

      &.violet {
        background: $appColor--violet;
      }
    }

    p {
      margin: 0;
    }
  }

  &__footer {
    margin: ($spacer * 3) 0 0;
  }

  .hsSimpleCard {
    @include media-breakpoint-down(md) {
      margin-bottom: $spacer * 2;
    }
  }

  /**
   * Share list
   */
  &__share {
    li {
      display: inline-block;
      margin-right: $spacer / 2;
    }
  }
}
