/**
 * Logo
 */
.hsLogo {
  width: $appLogo-width;
  height: $appLogo-height;
  max-height: $appLogo-height;
  text-align: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(../images/logo.png); // @@todo swap to `.svg`;
  .no-svg & {
    background-image: url(../images/logo.png);
  }
}


/**
 * Logotype
 */
.hsLogotype {
  width: $appLogotype-width;
  height: $appLogotype-height;
  max-height: $appLogotype-height;
  text-align: center;
  margin: 0 auto;
  @include text-hide;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(../images/logotype.png); // @@todo swap to `.svg`;
  .no-svg & {
    background-image: url(../images/logotype.png);
  }

  &.veilingacties {
    background-image: url(../images/VA-logo--wit.png); // @@todo swap to `.svg`;
    top: 5px;
    max-height: 27px; // Original image is 316 * 41
    width: 208px;
    margin-left: -104px;
  }

  &__subtitle {
    position: fixed;
    display: inline-block;
    left: 0;
    right: 0;
    top: 30px;
    // bottom: 3px;
    text-align: center;
    font-size: 11px;
    opacity: .8;
  }
}
