.checklist {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    position: relative;
    margin: ($spacer / 2) 0;
    padding-left: 25px;

    > i {
      position: absolute;
      top: 5px;
      left: 0;

      padding: 2px;
      font-size: 12px;
      font-weight: 100;
      border-radius: 100%;
      background: $brand-success;
      background: linear-gradient(to right, $appColor--green-dark 0%, $appColor--green-light 100%);
      color: #fff;
    }
  }
}
