$hsCheckout__breakpoint-mobile: sm;
$hsCheckout__breakpoint-mobile-up: md;
$hsCheckout__divider-mobile-color: #bbb;

@mixin hsCheckout__breakpoint-up () {
  @include media-breakpoint-up(md) {
    @content;
  }
}

@mixin hsCheckout__breakpoint-down () {
  @include media-breakpoint-down(sm) {
    @content;
  }
}


// hide footer on mobile version
.page--checkout .wrap__bottom {
  @include hsCheckout__breakpoint-down() {
    display: none;
  }
}

.hsCheckout {

  /**
   * Checkout main area
   */
  &__main {
    @include hsCheckout__breakpoint-down() {
      padding-right: 10px;
      padding-left: 10px;
    }

    .hsArea {
      @include hsCheckout__breakpoint-down() {
        background: $body-bg;
        // padding: 0;
      }
      @include media-breakpoint-up(md) {
        padding: $spacer * 1.2;
      }
      @include media-breakpoint-up(lg) {
        padding: $spacer * 1.4;
      }
      @include media-breakpoint-up(xl) {
        padding: $spacer * 3;
      }
    }

    &-data {
      margin-bottom: $spacer;

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
        border-right: 1px solid $body-bg;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &-summary {
      @include media-breakpoint-up(md) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      @include hsCheckout__breakpoint-down() {
        border-radius: 0;
        border-bottom: 1px solid $hsCheckout__divider-mobile-color;
      }
    }
  }

  /**
   * Dividers
   */
  hr {
    @include hsCheckout__breakpoint-down() {
      margin: ($spacer) (-$spacer / 2);
      border-color: $hsCheckout__divider-mobile-color;
    }
  }

  /**
   * Mobile expander
   */
  &__expander {
    display: none;

    @include hsCheckout__breakpoint-down() {
      display: block;
      width: 100%;
      @include clearfix();
      margin: -$spacer 0 $spacer;
      padding: $spacer $spacer $spacer ($spacer * 1.4);
      border-bottom: 1px solid $hsCheckout__divider-mobile-color;
      cursor: pointer;
      background: $appCheckout__step-base-bg;

      &-title {
        @include text-truncate();

        &:after {
          content: "";
          position: relative;
          top: 14px;
          left: 10px;
          margin: 10px;
          width: 0;
          height: 0;
          border-style: solid;
          // bottom triangle
          border-width: 10.4px 6px 0 6px;
          border-color: #444 transparent transparent transparent;
        }

        .expanded &:after {
          top: -13px;
          // top triangle
          border-width: 0 6px 10.4px 6px;
          border-color: transparent transparent #444 transparent;
        }
      }

      &-price {
        float: right;
        font-weight: bold;
      }
    }
  }

  /**
   * Submit button
   */
  &__submit {
    @include hsCheckout__breakpoint-down() {
      display: block;
      width: 100%;
    }
  }

  /**
   * Checkout side area
   */
  &__side {
    font-size: 14px;

    @include media-breakpoint-down(md) {
      padding: 0;
      margin-top: $spacer;
    }

    &-pay {
      > .row {
        margin: $spacer / 2 0;
      }

      .img-fluid {
        max-width: 100%;
        height: auto;
        padding: 0 4px;
      }
    }
  }

  /**
   * Breadcrumbs
   */
  &__breadcrumbs {
    display: none;
    @include hsCheckout__breakpoint-up() {
      display: block;
      counter-reset: steps;
      list-style: none;
      padding: 0;
      margin: 0 0 ($spacer * 3);
      @include clearfix();
      white-space: nowrap;
    }
  }

  /**
   * A single breadcrumb
   */
  @include hsCheckout__breakpoint-up() {
    &__breadcrumb {
      z-index: 1;
      position: relative;
      display: inline-block;
      margin-left: -4px;
      counter-increment: steps;

      // the step number
      &:before {
        z-index: 1;
        content: counter(steps);
        position: absolute;
        top: 0;
        left: $appCheckout__step-number-gutter;
        border-radius: 100%;
        width: $appCheckout__step-number-size;
        height: $appCheckout__step-number-size;
        background: $appCheckout__step-base-color;
        margin: 1px;
        font-family: $font-family-serif;
        font-weight: bold;
        font-size: $font-size-sm;
        color: $appCheckout__step-base-bg;
        text-align: center;
      }

      &:first-child {
        z-index: 2;

        > a {
          border-radius: $border-radius-lg;

          &:after {
            display: none;
          }
        }
      }

      &:last-child > a {
        left: -$spacer;
        padding-left: $appCheckout__step-number-size + ($appCheckout__step-number-gutter * 4);
      }

      > a {
        position: relative;
        border-top-right-radius: $border-radius-lg;
        border-bottom-right-radius: $border-radius-lg;
        padding: ($spacer / 2) $spacer;
        padding-left: $appCheckout__step-number-size + ($appCheckout__step-number-gutter * 2);
        background: $appCheckout__step-base-bg;
        font-family: $font-family-serif;
        font-weight: bold;
        font-size: 11px; // $font-size-xs;
        text-transform: uppercase;
        color: $appCheckout__step-base-color;
      }

      // active state
      &.active > a {
        background: linear-gradient(to right, $appColor--green-dark 0%, $appColor--green-light 100%);
        color: #fff;
      }
      &.active:before {
        background: #fff;
        color: $appColor--green-dark;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__breadcrumb > a {
      font-size: $font-size-sm;
    }
  }

  /**
   * Steps container
   */
  &__steps {
    @include hsCheckout__breakpoint-down() {
      padding: 0 $spacer / 2;
    }
  }

  /**
   * Details form
   */
  &__details {
    > .row {
      padding-top: $spacer;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        width: 93%;
        left: 3%;
        // width: 100%;
        // left: 0;
        height: 1px;
        background: $hsCheckout__divider-mobile-color;
        @include hsCheckout__breakpoint-up() {
          background: $hr-border-color;
        }
      }
    }
  }

  /**
   * Product small preview
   */
  &__product {
    &-img {
      @include hsImage();
    }

    &-name {
      font-size: $font-size-h6;
    }

    .custom-select {
      display: block;
      width: 100%;
      margin-top: $spacer;
    }
  }

  /**
   * Costs in a table like design
   */
  &__cost {
    > h4 {
      font-family: $font-family-sans-serif;
      font-size: $font-size-h5;
    }

    > h5 {
      font-family: $font-family-sans-serif;
      font-weight: normal;
      font-size: $font-size-sm;
      @include hsCheckout__breakpoint-up() {
        color: $text-muted;
      }
    }

    > h4 span,
    > h5 span,
    > h5 del {
      float: right;
    }

    del {
      color: $brand-danger;
      margin-right: .8rem;
    }
  }

  /**
   * Open coupon box link
   */
  &__coupon-trigger {
    display: block;
    float: right;
    font-size: $font-size-sm;

    > a {
      text-decoration: underline;
      @include hsCheckout__breakpoint-up() {
        color: $text-muted;
      }
    }
  }

  /**
   * Address summary (step 2)
   */
  &__address {
    display: flex;
    background: $appCheckout__step-base-bg;
    border-radius: $border-radius-lg / 2;
    padding: $spacer ($spacer * 1.5);

    &-label {
      margin: ($spacer * 2) ($spacer * 1.5) ($spacer / 3);
      color: $text-muted;
    }

    > p {
      flex: 1;
      margin: 0;
    }

    > a {
      padding-left: 10px;
    }
  }

  &__addresschoice {
    .custom-control-description br {
      display: none;
    }
  }

  &__tostep2 {
    cursor: pointer;
  }

  /**
   * Payment method (step 2)
   */
  &__methods {
    margin: -5px;
  }

  &__method {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin: 5px;

    &-imgwrap {
      height: 56px;
      padding: 2px 6px;
      border: 3px solid $appCheckout__step-base-bg;
      border-radius: 15px;

      &:hover,
      &:active {
        background: $appCheckout__step-base-bg;
      }

      .active & {
        background: darken($appCheckout__step-base-bg, 5%);
      }
    }

    &-img {
      max-height: 100%;
      pointer-events: none;
    }

    &-name {
      display: block;
      margin-top: 5px;
      color: $text-muted;
      font-size: 14px;
    }

    > input {
      visibility: hidden;
      position: absolute;
    }
    > input:checked + .hsCheckout__method-imgwrap {
      background: $appCheckout__step-base-bg; //darken($appCheckout__step-base-bg, 5%);
    }

    /**
     * Method bank variation
     */
    &--bank {
      .hsCheckout__method-imgwrap {
        height: 74px;
        padding: 4px 10px;
      }
    }
  }

  &__submit > .btn {
    @include hsCheckout__breakpoint-down() {
      display: block;
      width: 100%;
    }
  }
}

/**
 * Steps visibility
 *
 * by default steps are hidden
 */
// animate steps @@disabled
// #hsCheckout {
//   overflow: hidden;
// }

// // .hsCheckout__steps {
//   position: relative;
// }

// .hsCheckout__step {
//   position: absolute;
//   top: 0;
//   left: 0;
//   float: left;
// }

#hsCheckout__step-0,
#hsCheckout__step-1 {
  display: none;
  // transform: translateX(-120%);
  // transition: transform .2s ease-in-out;
}

#hsCheckout[data-step="0"] #hsCheckout__step-0,
#hsCheckout[data-step="1"] #hsCheckout__step-1 {
  display: block;
  // transform: translateX(0);
}
