.hsAboutus {
  .hsPage__intro-bg {
    background-size: contain;
  }

  .display-4 {
    font-size: $font-size-h5 * 0.95;
    // font-weight: 600;

    > .font-sans {
      display: block;
      margin-top: 7px;
      color: lighten($body-color, 15%);
    }
  }

  .iconblock {
    display: flex;
    align-items: center;
    text-align: center;

    &__icon {
      margin: 0 $spacer 0 0;
      @include media-breakpoint-down(md) {
        max-height: 40px;
      }
    }

    &__title {
      flex: 1;
      text-transform: none;
      width: 100%;
      margin: 0;
      padding-left: $spacer;
      padding-right: $spacer;
      min-width: 0;
      white-space: normal;
      @include media-breakpoint-up(lg) {
        max-width: 220px;
      }
    }
  }

  .media {
    margin: ($spacer) 0;
    @include media-breakpoint-up(lg) {
      margin: 0;
    }

    .d-flex {
      margin: 0 ($spacer * 1.5) 0 ($spacer / 2);
      @include media-breakpoint-down(md) {
        max-width: 40px;
      }
    }
  }

  .row--mobile {
    .display-4 {
      font-size: $font-size-h3;
      font-weight: bold;
    }
    .display-5 {
      font-size: $font-size-h5;
      font-weight: normal;
    }
  }

  .row--team {
    .display-4 {
      margin: $spacer 0 ($spacer * 2.5);
      font-weight: bold;
    }
  }
}
