.hs404 {
  &__img {
    display: block;
    margin: auto auto ($spacer * 2);
    @include media-breakpoint-down(sm) {
      max-width: 200px;
    }
  }

  &__title {

  }

  &__txt {
    font-weight: 400;
    font-size: $font-size-h4;
    line-height: 1.3;
  }

  .btn {
    text-transform: none;
  }

  &__rowtxt {
    padding-top: $spacer * 2;
    flex: 1;
    align-items: flex-end;
  }

  &__cats {
    position: relative;
    padding-top: $spacer;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 6px;
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;
    }

    .appCats__nav {
      padding-top: $spacer * 2;
    }
  }
}
