.hsHeader {
  .navbar,
  .navbar .dropdown-menu {
    font-size: 0.9rem;
  }

  &.last-dropdown-open .hsGradient {
    @include media-breakpoint-down(md) {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  .navbar {
    font-family: $font-family-serif;
    box-shadow: $appShadow--base;
    padding: 0;

    @include media-breakpoint-down(md) {
      min-height: $appNavbar-height;

      &-collapse {
        margin-top: $appLogotype-height;
      }

      > .container {
        width: 100%;
      }
    }

    &-brand {
      z-index: 1;
      position: absolute;
      top: $navbar-brand-padding-y;
      height: 100% !important;
      padding: 0;

      // @@doubt always centered
      left: 50%;
      margin-left: -($appLogotype-width / 2);
      // or only on sm screen?
      // left: 0;
      // @include media-breakpoint-up(sm) {
      //   left: 50%;
      //   margin-left: -($appLogotype-width / 2);
      // }

      @include media-breakpoint-down(sm) {
        width: 180px;
      }
    }

    &-toggler {
      top: $navbar-padding-y / 2;
      cursor: pointer;
      &:hover,
      &:focus {
        background: radial-gradient(rgba(255,255,255,.5) 0% , rgba(255,255,255,0) 50%);
        box-shadow: none;
        outline: none;
      }
    }
  }

  /**
   * Links inside navbar determines the header/navbar height
   */
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding: 1em 1.1em;
  }

  /**
   * Active dropdown
   */
  .nav-item.show {
    background: rgba(255,255,255,.2);
  }

  // for icons besides the links
  .nav-link > i {
    margin-right: 5px;
  }

  // for images as links
  .nav-link-img {
    transition: opacity .18s ease-in-out;
    opacity: .8;

    &:hover {
      opacity: 1;
    }
  }

  /**
   * Header dropdown
   */
  .nav-item {
    position: relative;
  }
  .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
    box-shadow: $dropdown-box-shadow;
  }

  /**
   * More prominent badges in header
   */
  .badge {
    position: relative;
    top: -7px;
    left: -4px;
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
  }
}
