.hsItemModal {
  overflow: hidden;

  .modal-content {
    border: 0;
    @include hsMediaItemModal('mobile,tablet') {
      margin: $appNavbar-height 0 0 0;
    }
  }

  .modal-dialog {
    max-width: $appItemModal__max-width;
    overflow: hidden;

    @include hsMediaItemModal('mobile,tablet') {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 94%;
      left: 3%;
      margin: 0;
    }

    @include hsMediaItemModal('desktop') {
      margin: $spacer * 4 auto;
    }
  }

  /**
   * Modal content
   */
  &__content {
    // background: $body-bg;
    border-radius: $border-radius;

    // fixed content that leaves space to item detail floating footer
    @include hsMediaItemModal('mobile,tablet') {
      // border-radius: 0;
      position: fixed;
      top: $appNavbar-height;
      bottom: $appItemModal__mobile_bottom_gutter;
      left: 0;
      right: 0;
    }

    @include hsMediaItemModal('tablet') {
      bottom: 2% !important;
    }

    .appItemDetail > .row {
      margin: 0;
      padding: $spacer;

      @include hsMediaItemModal('desktop') {
        padding: ($spacer * 2) $spacer 0;
      }
    }
  }

  /**
   * Responsiveness
   *
   */
  @include hsMediaItemModal('mobile') {
    .hsContentCard__right,
    .hsItem__state {
      border-bottom-right-radius: $appItem-border-radius;
      border-bottom-left-radius: $appItem-border-radius;
    }
    .hsItem__state-circle {
      top: 50%;
      bottom: auto;
    }
    .hsDetail__article {
      border-top-right-radius: $appItem-border-radius;
      border-top-left-radius: $appItem-border-radius;
    }
    .appItemDetail .hsContentCard__left {
      box-shadow: none;
    }
    .hsDiscount {
      display: none;
    }

    .hsContentCard__left > .hsContentCard__title {
      display: block;
      color: $body-color; // $appColor--purpletext;
      font-weight: 400;
    }
    .hsDetail__content .hsContentCard__title {
      display: none;
    }

    .is-discounted .hsContentCard__title {
      padding-right: 5rem;
    }
  }

  @include hsMediaItemModal('mobile,tablet') {
    .hsItem__search {
      display: none;
    }
    .hsDetail__article {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      overflow: auto;
      padding: 0 $spacer;
      background-color: #fff;
    }
  }

  @include hsMediaItemModal('tablet') {
    .hsDetail__article {
      top: $appItemDetail__header-height-md !important;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: $appItem-border-radius;
      border-bottom-left-radius: $appItem-border-radius;
    }
    .hsContentCard,
    .hsItem__state {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  /**
   * Item popup and fallback page responsive behaviour
   *
   */
  @include hsMediaItemModal('tablet,desktop') {
    .hsDetail__article .hsContentCard__left {
      display: none;
    }
  }

  @include hsMediaItemModal('tablet') {
    .hsDetail__article {
      top: 0;
    }
  }

  @include hsMediaItemModal('mobile') {
    .hsItem .hsContentCard__left {
      display: none;
    }
    .appItemDetail {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .hsDetail__article {
      top: 0;
    }
    .hsItem {
      z-index: 11;
      position: fixed;
      bottom: 0; // $appItemModal__mobile_bottom_gutter;
      left: 0;
      right: 0;
      margin: 0;
    }
    .hsContentCard__right {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      > .card-block {
        padding: ($spacer * 1.3) $spacer;
      }
    }
  }

  // scalar responsiveness
  @include media-breakpoint-down(sm) {
    .hsItem {
      height: $appItemDetail__footer-height-sm;
    }
    .hsDetail__article {
      bottom: $appItemDetail__footer-height-sm;
    }
  }
  @include media-breakpoint-down(xs) {
    .hsItem {
      height: $appItemDetail__footer-height-xs;
    }
    .hsDetail__article {
      bottom: $appItemDetail__footer-height-xs;
    }
  }
  @include hsMediaItemModal('tablet') {
    .hsItem {
      top: 0;
      bottom: auto;
      height: $appItemDetail__header-height-md;
    }
    .hsDetail__article {
      bottom: 0;
    }
  }
}

/**
 * Modal buttons
 */
.hsModalBtn {
  z-index: 1;
  position: absolute;
  width: $appItemModal__btn-size;
  height: $appItemModal__btn-size;
  line-height: $appItemModal__btn-size * 0.6;
  text-align: center;
  font-size: $appItemModal__btn-size * 0.45;
  border-radius: 100%;
  opacity: .9;
  box-shadow: $appShadow--base;
  border: 0;
  cursor: pointer;
  transition: all .18s ease-in-out;

  &:hover {
    opacity: 1;
    box-shadow: 0 0 1rem rgba(255,255,255,.4);
  }

  &:focus {
    outline: 0;
  }

  // weirdly the icons don't get vertically aligned, so...
  > .icon {
    display: inline-block;
    padding-top: 4px;
  }

  /**
   * Modal button: close
   */
  &.close {
    display: block;
    top: -$appItemModal__btn-size;
    margin-top: -$spacer;
    right: 0;
    background: #fff;

    .hsItemModal & {
      @include hsMediaItemModal('mobile,tablet') {
        top: -27px;
        right: 10px;
      }
    }
  }

  /**
   * Modal button: close mobile
   */
  &.close-mobile {
    display: none;
  }

  /**
   * Modal button: prev/next
   */
  &.next,
  &.prev {
    top: 130px;
    @include media-breakpoint-up(sm) {
      top: 150px;
    }
    @include media-breakpoint-up(md) {
      top: 200px;
    }
  }

  /**
   * Modal button: prev
   */
  &.prev {
    display: block;
    // display: none;
    // left: $spacer;
    @include hsMediaItemModal('desktop') {
      // left: -$appItemModal__btn-size;
      margin-left: -$spacer;
    }
    @media (min-width: $appItemModal__max-width + ($appItemModal__btn-size * 2)) {
      left: -$appItemModal__btn-size;
    }
  }

  /**
   * Modal button: next
   */
  &.next {
    display: block;
    right: 0;
    // display: none;
    // right: $spacer;
    @include hsMediaItemModal('desktop') {
      // right: -$appItemModal__btn-size;
      margin-right: -$spacer;
    }
    @media (min-width: $appItemModal__max-width + ($appItemModal__btn-size * 2)) {
      right: -$appItemModal__btn-size;
    }
  }
}