.hsAuthform {
  box-shadow: 3px 3px $appShadow-size $appShadow-color;
  padding: $spacer 0;

  @include media-breakpoint-up(sm) {
    padding: $spacer * 1.3;
    // max-width: $appAuthform__max-width--sm;
  }
  @include media-breakpoint-up(md) {
    max-width: $appAuthform__max-width--md;
  }

  .btn {
    display: block;
    width: 100%;
    // box-shadow: 3px 3px ($appShadow-size / 2) $appShadow-color;
    @include text-truncate();
  }

  // override the `hsGradient` white color inherited from `body`
  &.card {
    color: $body-color;
  }

  .hsDivider > span {
    text-transform: none;
    font-size: 100%;
  }

  .pre-form-group {
    padding-left: $input-padding-x;
  }

  &__title {
    text-align: center;
    font-weight: bold;
    margin-bottom: $spacer * 1.5;

    @include media-breakpoint-down(md) {
      font-size: $font-size-h4 * 0.9;
      white-space: nowrap;
    }
    @include media-breakpoint-down(sm) {
      font-size: $font-size-h4 * 0.85;
    }
  }

  &__footer {
    font-size: $font-size-sm * 1.1;
    text-align: center;
  }
}

#hsAuthModal {
  padding: 0 !important;

  .modal-dialog {
    max-width: 95%;

    @include media-breakpoint-up(sm) {
      max-width: $appAuthform__max-width--sm;
    }
    @include media-breakpoint-up(md) {
      max-width: $appAuthform__max-width--md;
    }
  }
  .modal-content {
    background: none;
    border: 0;
    // align-items: center;
  }

  .view {
    display: none;

    &__login {
    }

    &__register {
    }
  }

  @include media-breakpoint-down(sm) {
    .card-block {
      padding-top: $spacer / 4;
      // padding-bottom: $spacer / 2;
    }
    .card-block,
    .custom-control-description {
      font-size: $font-size-base * 0.9;
    }

    // see workaround 3 for iOs Safari bug (http://bit.ly/2AFTmtF)
    .modal-dialog {
      margin: 0;
      width: 100%;
      max-width: none;
    }
    // see workaround 3 for iOs Safari bug (http://bit.ly/2AFTmtF)
    .modal-content__top,
    .hsAuthform {
      border-radius: 0;
    }
  }
}

#hsAuthModal[data-view="login"] .view__login {
  display: block;
}
#hsAuthModal[data-view="register"] .view__register {
  display: block;
}
#hsAuthModal[data-view="password"] .view__password {
  display: block;
}
