#homepageRegisterCard__frame {
  display: none;
  z-index: 13;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // position: absolute;
  // top: -10000px;
  // right: -10000px;
  // bottom: -10000px;
  // left: -10000px;
  background: #000;
  opacity: 0;
  transition: opacity .18s ease-in-out;
}

#homepageRegisterCard {
  z-index: 14;
}

.ABtest--standoutregistration {

  .hsHeader {
    z-index: 1;
    position: relative;
  }

  #homepageRegisterCard__frame {
    display: block;
    opacity: .6;
  }
}
