$ButtonLoader-animation-duration: 1.7s;
$ButtonLoader__loader-height: 5px;
$ButtonLoader__loader-bg: rgba(255,255,255,0.30);

.ButtonLoader {
  position: relative;

  &.is-loading {
    .ButtonLoader__loader {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: $ButtonLoader__loader-height;
      background: $ButtonLoader__loader-bg;

      &:before {
        content: '';
        position: absolute;
        background-color: inherit;
        top: 0;
        left: 0;
        bottom: 0;
        will-change: left, right;
        animation: indeterminate $ButtonLoader-animation-duration cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      }
      &:after {
        content: '';
        position: absolute;
        background-color: inherit;
        top: 0;
        left: 0;
        bottom: 0;
        will-change: left, right;
        animation: indeterminate-short $ButtonLoader-animation-duration cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        animation-delay: $ButtonLoader-animation-duration / 1.8;
      }
    }
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
