.hsDetail {
  &__article {
    // padding-top: $spacer * 2;
    // @include media-breakpoint-up(md) {
    //   padding-top: $spacer;
    // }
    // @include media-breakpoint-up(lg) {
    //   padding-top: $spacer * 2;
    // }
  }

  &__content {

    h3,
    h4,
    h5 {
      font-family: $font-family-sans-serif;
      margin: $spacer * 2 0 $spacer;
    }

    h4 {
      font-size: $font-size-base;
    }

    table {
      min-width: 50%;
    }

    td {
      padding: ($spacer / 3) ($spacer) ($spacer / 3) 0;
    }
  }
}
