/**
 * Seller homepage
 */
.hsSeller {

  @include media-breakpoint-down(md) {
    .hsPage__title,
    .hsPage__text {
      text-align: center;
    }
  }

  .media {
    margin-bottom: $spacer;
    line-height: 1.26em;
  }

  .d-flex {
    min-width: 60px;
    justify-content: flex-end;
  }
}

/**
 * Seller contact form page
 */
.hsSellercontact {
  .hsPage__box {
    padding: ($spacer * 3) ($spacer * 4)  ($spacer * 4);

    @include media-breakpoint-down(md) {
      background: transparent;
      padding: 0 $spacer;
    }
  }

  .country {
    @include media-breakpoint-up(lg) {
      flex: 1;
      width: auto;
      max-width: none;
      margin-bottom: 6px;
    }
  }

  .row--submit {
    justify-content: flex-end;

    > .col {
      border-top: 1px solid darken($body-bg, 15%);
      padding-top: $spacer * 1.5;
      text-align: right;

      @include media-breakpoint-up(lg) {
        border-color: $body-color;
      }
    }
  }
}

/**
 * Seller thank you page
 */
.page--sellerthanks {
// .hsSellerthanks {
  @include media-breakpoint-down(sm) {
    background: #fff;
  }
}
