$appOrderconfirm__card-spacer-x: $spacer * 1.3;

.appOrderconfirm {

  .hsCheckout__product {
    text-align: left;
    max-width: 300px;
    margin: $spacer * 2 auto $spacer;
  }

  .hsPage__intro {
    max-width: 646px;
  }

  .hsContent__card {
    padding: ($spacer * 1.7) $appOrderconfirm__card-spacer-x ($spacer * 1.3);
  }

  .hsContent__card-maincentered {
    margin: 0 -$appOrderconfirm__card-spacer-x;
  }

  /**
   * The main row (product and notification trigger)
   */
  &__main {
    font-family: $font-family-serif;

    /**
     * The product column
     */
    &-product {
      margin: 0 auto;
    }

    /**
     * The notifications call to action column
     */
    &-notifications {
      flex: 1;
      display: flex;

      @include media-breakpoint-down(md) {
        margin-top: $spacer * 2;
      }

      .hsContent__card {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      .btn {
        @include media-breakpoint-up(lg) {
          width: 80%;
        }

        > .icon {
          margin-right: 7px;
        }
      }
    }
  }

  /**
   * Steps row
   */
  &__steps {
    margin: ($spacer * 4) 0;
    text-align: center;

    &-title {
      display: inline-block;
      padding: $btn-padding-y ($btn-padding-x / 1.5);
      border-radius: $btn-border-radius;
      color: #fff;
      background: $appColor--orange;
      text-transform: uppercase;
      font-size: .9rem; // $font-size-sm;
      // white-space: nowrap;
      letter-spacing: .3px;
      margin: ($spacer * 2) auto $spacer;

      &.pink-warm {
        background: $appColor--pink-warm;
      }

      &.violet {
        background: $appColor--violet;
      }
    }

    p {
      margin: 0;
    }
  }

  /**
   * Footer
   */
  &__footer {
    > div:last-child {
      @include media-breakpoint-down(md) {
        margin-top: $spacer;
      }
    }

    > div {
      @include media-breakpoint-up(lg) {
        flex: 1;
      }
    }

    .hsContent__card {
      height: 100%;
    }
  }

  /**
   * Browsers list
   */
  &__browsers {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    &-item {
      display: inline-block;
      margin: 0 ($spacer / 2);
    }

    &-link {
      font-size: $font-size-sm * 0.9;
      font-family: $font-family-sans-serif;

      &:hover {
        text-decoration: none;
        > span {
          text-decoration: underline;
        }
      }
      > span {
        display: block;
        margin-top: $spacer / 3;
      }

      > img {
      }
    }
  }

  /**
   * While the notifications permission is being asked
   */
  &__allowing {
    margin-top: 0 !important;
    background: #F9F9F9;

    @include media-breakpoint-down(lg) {
      min-height: 100px;
    }

    button {
      margin-left: $spacer;
      cursor: default;
    }
  }

  /**
   * Share list
   */
  &__share {
    li {
      display: inline-block;
      margin-right: $spacer / 2;
    }
  }
}
