$appItem-breakpoint: md;
$appItem-breakpoint-max: md;
$appItem-breakpoint-min: lg;

@include hsMediaItemModal('tablet') {
  .hsItem__col {
    flex-basis: 50% !important; // for safari bug, @see https://github.com/philipwalton/flexbugs#11-min-and-max-size-declarations-are-ignored-when-wrapping-flex-items
  }
  .hsItem__col,
  .hsItemCard,
  .hsItemCard__bottom {
    display: flex;
    flex: 1;
  }

  .hsItem__col {
    min-width: 50%;
    max-width: 50%;
  }

  .ie .hsItem__col {
    flex: none;
    min-width: 0;
    max-width: none;
  }
}

@include hsMediaItemModal('mobile') {
  .hsItem__col {
    flex-basis: 100% !important; // for safari bug, @see https://github.com/philipwalton/flexbugs#11-min-and-max-size-declarations-are-ignored-when-wrapping-flex-items
  }
}

@include media-breakpoint-down($appItem-breakpoint) {
  .hsItemCard .hsItem__btn {
    font-size: 15px;
    padding: .5rem;
  }
  .hsItemCard .hsItem__btn-shipping {
    font-size: 11px;
  }
}

.hsItem__col {
  margin-bottom: $spacer;

  .table-row > & {
    margin-bottom: 0;
  }
}

.hsItemCard {
  // padding-bottom: $spacer;
  height: 100%;
  background: transparent;
  justify-content: space-between;
  background: transparent;

  .ie & {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  /**
   * Card block: Top
   */
  &__top {
    display: none;

    @include media-breakpoint-up($appItem-breakpoint-min) {
      display: flex;
      flex-direction: column;
      flex: 1;
      position: relative;
      background: $card-bg;
      text-align: center;
      // padding: $spacer;
      box-shadow: $appShadow--base;
      border-top-right-radius: $appItem-border-radius;
      border-top-left-radius: $appItem-border-radius;

      .ie & {
        display: table-row-group;
        width: 100%;
        height: 100%;
      }
      .ie &-inner {
        position: relative;
        display: table-cell;
        width: 100%;
        padding: $spacer;
        background: $card-bg;
        border-top-right-radius: $appItem-border-radius;
        border-top-left-radius: $appItem-border-radius;
      }
    }

    // img link `<a class="hsItemCard__link"><img /></a>`
    .hsItemCard__link {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      align-items: center;
      width: 100%
    }

    // title link `<h3><a class="hsItemCard__titlelink"></a></h3>`
    .hsItemCard__titlelink {
      display: block;
      color: $appColor--violet-dark;

      &:hover,
      &:active {
        text-decoration: none;
        color: darken($appColor--violet-dark, 10%);
      }
    }

    // @include hsMediaItemCardRedesign() { // no-titles itemCard design
    //   padding: 0;

    //   &-inner,
    //   &-img-wrap {
    //     display: flex;
    //     flex: 1;
    //   }
    //   &-img-wrap {
    //     border-top-right-radius: $appItem-border-radius;
    //     border-top-left-radius: $appItem-border-radius;
    //     overflow: hidden;
    //   }
    // }

    &-title {
      font-weight: 400;
      line-height: 1.2;
      color: darken($appColor--violet, 20%);
      font-size: $font-size-h5;
      text-align: left; // rtl
      margin-bottom: $spacer;
      padding-right: $appItem__search-size;
      margin-right: $spacer * 2;
      word-break: break-word;

      // @include hsMediaItemCardRedesign() { // no-titles itemCard design
      //   display: none;
      // }
      // @@else {
      padding-left: $spacer;
      padding-top: $spacer;
    }

    &-img {

      // @include hsMediaItemCardRedesign() { // no-titles itemCard design
      //   height: 100%;
      //   max-height: 200px;
      // }
      // @include hsMediaItemModal('desktop') { // no-titles itemCard design
      //   max-height: 300px;
      // }

      @include media-breakpoint-up(md) {
        height: 187px;
      }
      @include media-breakpoint-up(xl) {
        height: 200px;
      }
    }

    &-img-wrap {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .ie & {
        display: block;
      }
    }
  }

  /**
   * Card block: Bottom
   */
  &__bottom {
    position: relative;

    .ie & {
      display: table-cell;
      vertical-align: bottom;
    }
    // .ie &-inner {
    //   display: table;
    //   width: 100%;
    // }

    // center image vertically only when we have two columns of cards
    &-left {
      display: none;

      @include hsMediaItemModal('mobile') {
        border-radius: $appItem-border-radius;
      }

      @include hsMediaItemModal('mobile,tablet') {
        position: relative;
        overflow: hidden;
        width: 40%;
        min-width: 40%;
        border-radius: $appItem-border-radius;
        background-color: #fff;

        &:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }
      }
    }

    &-left {
    // &-left .hsItemCard__link {
      @include hsMediaItemModal('mobile,tablet') {
        display: block;
        flex: 1;
        flex-basis: 100%; // @@bugfix Safari on iOS
      }
    }

    // img link `<a class="hsItemCard__link"><img /></a>`
    .hsItemCard__link {
      @include hsMediaItemModal('mobile,tablet') {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }

    // title link `<h3><a class="hsItemCard__titlelink"></a></h3>`
    .hsItemCard__titlelink {
      display: block;
      color: white;

      &:hover,
      &:active {
        text-decoration: none;
        opacity: .9;
      }
    }


    &-title {
      font-size: $font-size-h5;
      font-weight: 400;
      word-break: break-word; // choose one...
      // overflow: hidden; // ...or the other

      &.ellipsed {
        word-break: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      @include hsMediaItemModal('desktop') {
        display: none;
      }
    }

    @include media-breakpoint-down($appItem-breakpoint-max) {
      &-inner {
        display: flex;
        flex-direction: column;
        width: 100%;

        .ie & {
          display: block;
        }
      }

      &-right {
        min-width: 60%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
      }
    }

    @include hsMediaItemModal('mobile,tablet') {
      &-img {
        max-width: 100%;
        max-height: 100%;
        border-radius: $appItem-border-radius;
        flex-basis: 50%; // @@bugfix Safari on iOS
      }

      &-right {
        padding-left: $spacer;
      }
    }

    @include hsMediaItemCardRedesign() {
      // &-left {
      //   border-top-left-radius: $appItem-border-radius;
      // }
      // &-img {
      //   display: none;
      //   border-radius: 0;
      //   border-top-left-radius: $appItem-border-radius;
      // }
      // &-right {
      //   padding: $spacer;
      // }
      // &-title {
      //   display: none;
      // }
      // &-right-bottom {
      //   max-height: 100%;
      //   display: flex;
      //   flex: 1;
      //   flex-direction: column;
      //   justify-content: space-between;
      // } @@else {
      &-right-bottom {
        max-height: 100%;
      }
    }
  }

  /**
   * Card bottom area: Middle
   */
  &__middle {
    padding: $spacer;

    @include media-breakpoint-down($appItem-breakpoint-max) {
      display: flex;
      flex-direction: row;
      border-top-right-radius: $appItem-border-radius;
      border-top-left-radius: $appItem-border-radius;
      box-shadow: $appShadow--base;
      flex: 1;
    }
    // @include hsMediaItemCardRedesign() {
    //   padding: 0;
    // }
    // .ie & {
    //   display: table-row;
    // }
  }

  /**
   * Card bottom area: State
   */
  .hsItem__state {
    position: relative;
    border-bottom-left-radius: $appItem-border-radius;
    border-bottom-right-radius: $appItem-border-radius;
    // .ie & {
    //   display: table-row;
    // }
  }

  // small item info
  .hsItem__info {
    &-what {
      font-size: $font-size-xs;
    }
    &-is {
      margin-top: $spacer / 4;
      font-size: $font-size-sm;
    }
  }

  // position the search icon
  .hsItem__search {
    position: absolute;
    top: $card-spacer-y;
    right: $card-spacer-x;
    cursor: -webkit-zoom-in;
  }

  // position the discount badge
  .hsDiscount {
    position: absolute;
    top: -($appDiscount-size * 0.90);
    right: $card-spacer-x / 2;
    box-shadow: 5px 5px 10px $appShadow-color;

    @include media-breakpoint-down($appItem-breakpoint-max) {
      // top: -35px;
      display: none;
    }
  }
}
