.hsAccountSidebar {
  /**
   * Mobile account menu
   */
  @include media-breakpoint-down(md) {
    margin: -15px; // ($grid-gutter-width-base / 1.25);

    .display-4,
    .nav .nav .nav-link {
      margin: 0;
      padding: $spacer $spacer * 2;
    }
    .nav .nav .nav-link {
      background: #fff;
      border-bottom: 1px solid $body-bg;
      border-radius: 0;
    }

    // the 'My Account' title on mobile
    > .display-4 {
      font-size: $display3-size;
      margin: $spacer 0 0;
    }
  }

  .nav .nav {
    @include media-breakpoint-up(lg) {
      margin-left: $spacer * 0.75;
    }
  }
  .nav-link {
    border-radius: $border-radius / 2;

    &:hover {
      background: darken($body-bg, 5%);
    }
    &.active {
      background: #fff;
    }
  }

  .display-4 {
    margin: ($spacer * 1.5) 0 $spacer;
  }
}
