.hsLang {

  &__img {
    margin-right: 12px;

    @include media-breakpoint-up(lg) {
      margin-right: 4px;
    }

    .dropdown-menu & {
      margin-right: 12px;
      margin-left: -5px;
      margin-top: -3px;

      @include media-breakpoint-up(lg) {
        margin-right: 9px;
        margin-left: -10px;
        height: 14px;
      }
    }
  }
}

