.hsModal {
  .img-fluid {
    max-height: 250px;
  }
  .modal-dialog {
    max-width: 360px;
  }
}

.appModal {
  &__close {
    color: white;
  }

  .modal-header {
    position: relative;
    border-top-left-radius: $border-radius; // -lg / 2;
    border-top-right-radius: $border-radius; // -lg / 2;
  }
  .modal-title {
    font-weight: normal;
    line-height: 1.18;

    &--withicon {
      padding-left: 30px;
    }
    > .icon {
      position: absolute;
      top: $spacer * 1.2;
      left: $spacer * 1.5;
    }
  }
  .modal-content {
    border-radius: $border-radius;
  }
}
