/**
 * Bootstrap custom $variables
 * Override default values and then import them.
 *
 */
$font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
// $font-size-base: 1rem;
$headings-font-family: $font-family-serif;
$headings-font-weight: 700;
$display1-size: 6rem; // 6rem;
$display2-size: 2.8rem; // 5.5rem;
$display3-size: 2.2rem; // 4.5rem;
$display4-size: 1.6rem; // 3.5rem
$display4-weight: 400;
$grid-gutter-width-base: 20px;
$grid-breakpoints: (
  xs: 0,
  sm: 380px, // 576px,
  md: 576px, // 768px,
  lg: 992px,
  xl: 1300px // 1200px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px // 1140px
);
$card-spacer-x: 1rem;
$card-spacer-y: $card-spacer-x;
$card-border-width: 0;
$border-radius: 1rem;
$border-radius-sm: 1rem;
$border-radius-lg: 4rem;
$btn-border-radius: 40px; //$border-radius-lg;
$btn-padding-y: 0.75rem;
$btn-padding-x: 1.5rem;
$btn-padding-x-sm: .67rem;
$btn-padding-x-lg: 2rem;
$btn-font-weight: 700;
$input-padding-x: 1.2rem;
$input-padding-y: 0.85rem;
$input-padding-x-lg: 1.5rem !default;
$input-padding-y-lg: 1rem !default;
$input-border-radius: $border-radius * 1.8;
$input-btn-border-width: 1px;
$nav-link-padding: 0.5em;
$dropdown-border-width: 0;
$dropdown-padding-y: 1rem;
$table-border-width: 0;
$pagination-border-width: 0;
$pagination-padding-x: .5rem;
$modal-sm: 400px;
$modal-footer-border-width: 0;
$modal-inner-padding: 2rem;
$modal-header-padding: 1rem 1.5rem;

// $form-icon-success: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{$form-icon-success-color}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E"), "#", "%23") !default;

// $form-icon-danger: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$form-icon-danger-color}' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E"), "#", "%23") !default;

@import "../../../node_modules/bootstrap/scss/variables";
$input-color: $body-color;

/**
 * App $variables (theme indipendent)
 *
 */
$appLogo-width: 52px;
$appLogo-height: 45px;
$appLogotype-width: 185px;
$appLogotype-height: 45px;
$appNavbar-height: 50px;
$appDiscount-size: 65px;
$appDiscount-size--lg: 90px;
$appItem-border-radius: $border-radius;
$appItem__search-size: 35px;
$appItem__counter-border-width: 5px;
$appItem__counter-size: 50px;
$appItem__counter-inner-size: $appItem__counter-size - ($appItem__counter-border-width * 2);
$appItemDetail__img-minheight: 200px;
$appItemDetail__img-minheight--xs: 200px;
$appItemDetail__img-minheight--sm: 300px;
$appItemDetail__img-minheight--lg: 500px;
$appItemDetail__footer-height-xs: 118px;
$appItemDetail__footer-height-sm: 121px;
$appItemDetail__header-height-md: 300px;
$appItemDetail__thumb-width: 70px;
$appItemDetail__card-border-radius: .4rem;
$appItemModal__btn-size: 35px;
$appItemModal__breakpoint--tablet: 'md';
$appItemModal__breakpoint--down: 'lg';
$appItemModal__breakpoint--up: 'md';
$appItemModal__max-width: 960px;
$appItemModal__mobile_bottom_gutter: $grid-gutter-width-base / 2;
$appItemDetail__card__img-size: 90px;
$appAuthform__max-width--sm: 369px;
$appAuthform__max-width--md: 420px;
$appCheckout__step-number-size: 22px;
$appCheckout__step-number-gutter: 8px;
$appTable__img-min-height: 100px;
$appSubheader__link-gutter-y: 10px;
$appSubheader__link-gutter-x: 10px;
$appSubheader__icon-font-size: 34px;
$appSubheader__title-font-size: $font-size-xs;

// icomoon
$icons-font-name: "hellospecial";
$icomoon-font-path: "../fonts" !default;

$icon-calendar: "\f073";
$icon-truck: "\f0d1";
$icon-bell: "\f0f3";
$icon-lock: "\e90e";
$icon-mode_sieraden: "\e903";
$icon-huis_tuin: "\e904";
$icon-gadgets_elektronica: "\e909";
$icon-hobby_vrije_tijd: "\e90a";
$icon-beauty_verzorging: "\e90b";
$icon-baby_kinderen: "\e90c";
$icon-alles: "\e90d";
$icon-brand-facebook: "\e905";
$icon-brand-google-plus: "\e906";
$icon-brand-linkedin: "\e907";
$icon-brand-twitter: "\e908";
$icon-keyboard_arrow_up: "\e910";
$icon-keyboard_arrow_left: "\e912";
$icon-checkmark-thin: "\e911";
$icon-cross-thin: "\e90f";
$icon-keyboard_arrow_right: "\e900";
$icon-keyboard_arrow_down: "\e901";
$icon-search: "\e986";
$icon-hammer: "\e9a8";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-google-plus: "\ea8b";
$icon-facebook: "\ea90";
$icon-twitter: "\ea96";
$icon-linkedin: "\eaca";
$icon-notice: "\e902";

$icon-check: $icon-checkmark;
