/**
 * Theme: neutral
 */

// Replace `$search` with `$replace` in `$string`
// @author Hugo Giraudel
// @param {String} $string - Initial string
// @param {String} $search - Substring to replace
// @param {String} $replace ('') - New value
// @return {String} - Updated string
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// Custom variables
$appBody-bg: #F4F5F6;
$appColor--grey: #B2B2B2;
$appColor--grey-light: #E6E7E6;
$appColor--red: #EC282E;
$appColor--orange: #F69247;
$appColor--orange-dark: #F58639;
$appColor--orange-light: #F8A25D;
$appColor--pink: #EC538A;
$appColor--pink-warm: #F16678;
$appColor--violet-dark: #8756A3;
$appColor--violet: #BC91C0;
$appColor--violet-warm: #D175A8;
$appColor--green-dark: #6DBF52;
$appColor--green: #8CC74A;
$appColor--green-light: #BCD53A;
$appColor--purpletext: #93298E;
$appColor--blue: #0B72BA;
$appColor--blue-light: #4A9DD6;
$appShadow-size: 30px;
$appShadow-color: rgba(0,0,0,.23);
$appShadow--base: 0 0 $appShadow-size $appShadow-color;

$appGradient__map--default: (
  1: $appColor--orange,
  2: $appColor--pink,
  3: $appColor--violet,
);

$appGradient__map--complex: (
  1: $appColor--violet,
  2: $appColor--violet-warm,
  3: $appColor--pink,
  4: $appColor--pink-warm,
  5: $appColor--orange,
);

$appGradient__map--velvet: (
  1: $appColor--pink,
  2: $appColor--violet-warm,
  3: $appColor--violet,
);

$appGradient__map--green: (
  1: $appColor--green,
  2: $appColor--green-light,
);

$appGradient__map--orange: (
  1: $appColor--orange-dark,
  2: $appColor--orange-light,
);

$appGradient__map--blue: (
  1: $appColor--blue,
  2: $appColor--blue-light,
);

$appGradient__map--pink: (
  1: $appColor--pink,
  2: $appColor--pink-warm,
);

$appGradient__map--violet: (
  1: $appColor--violet-dark,
  2: $appColor--violet,
);

// components
$appSubheader-bg: #fff;
$appSubheader-box-shadow: $appShadow--base;
$appSubheader__link-color: #666;
$appSubheader__link-opacity: .6;
$appSubheader__link-active-opacity: 1;
$appColophon-bg: #fff;
$appItem__search-bg: #E6E7E6;
$appItem__search-color: #fff;
$appItemDetail__card-bg: darken($appBody-bg, 5%);
$appItemDetail__card-headings-border-color: darken($appItemDetail__card-bg, 55%);
$appCheckout__step-base-bg: #E7E7E7;
$appCheckout__step-base-color: #8E8E8E;
$appTable__borders-bg: #EDEEF0;

// Bootstrap variables
$brand-primary: $appColor--pink;
$brand-success: $appColor--green;
$brand-danger: #EE2123;
$brand-warning: $appColor--orange-dark;
$body-bg: $appBody-bg;
$link-color: #222;
$text-muted: #999;
$btn-primary-color: #fff;
$btn-primary-bg: $appColor--orange;
$btn-primary-border: transparent;
$btn-secondary-border: transparent;
$btn-success-border: transparent;
$btn-warning-border: transparent;
$btn-info-border: transparent;
$btn-focus-box-shadow: none;
$navbar-inverse-color: rgba(#fff, .8);
$navbar-inverse-hover-color: rgba(#fff, .95);
$navbar-inverse-active-color: rgba(#fff, 1);
$card-bg: #fff;
$input-bg: #E8E8E8; // $appBody-bg;
$input-border-color: $input-bg;
$input-group-addon-bg: $input-bg;

// inversed custom-radio style
$custom-control-indicator-bg: #fff;
$custom-control-indicator-box-shadow: none;
$custom-control-focus-indicator-box-shadow: none; // 0 0 0 2px #eee;
$custom-control-active-indicator-bg: #fff;
$custom-control-checked-indicator-bg: #fff;
$custom-control-checked-indicator-color: darken($input-bg, 30%);
// $custom-radio-checked-icon: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 -5 11 11'%3E%3Ccircle r='6' fill='#{$custom-control-checked-indicator-color}'/%3E%3C/svg%3E"), "#", "%23") !default;
$custom-checkbox-checked-icon: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{$custom-control-checked-indicator-color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"), "#", "%23") !default;

// custom-checkbox
$custom-checkbox-radius: 3px;
// $custom-checkbox-checked-icon: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='#{$custom-control-checked-indicator-color}' d='M432 64l-240 240-112-112-80 80 192 192 320-320z'/%3E%3C/svg%3E"), "#", "%23") !default;

$state-danger-bg: #FDF2F2;
$navbar-inverse-toggler-border: transparent;
$dropdown-box-shadow: .25rem .5rem $appShadow-size $appShadow-color;
$pagination-hover-bg: transparent;
$pagination-active-bg: transparent;
$pagination-active-color: #292b2c; // $body-color
$pagination-disabled-bg: transparent;
