/**
 * Responsive table (for bootstrap v.4)
 *
 * @see https://css-tricks.com/responsive-data-tables/
 */
@include media-breakpoint-down(sm) {
  .table-responsive {
    // Force table to not be like tables anymore
    table, thead, tbody, th, td, tr {
      display: block;
    }

    // Hide table headers (but not display: none;, for accessibility)
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border-bottom: 1px solid $table-border-color;
      padding: $table-sm-cell-padding 0;
      overflow-x: hidden; // @@doubt
    }

    tr:last-child {
      border-bottom: 0;
    }

    td {
      // Behave  like a "row"
      border: none;
      border-bottom: $table-border-width solid $table-border-color;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      content: attr(data-head);
      // Now like a table header
      position: absolute;
      // Top/left values mimic padding
      top: 0; // 6px;
      left: 6px;
      width: 45%;
      margin-top: $table-sm-cell-padding;
      padding-right: 10px;
      white-space: nowrap;
      font-weight: bold;
      text-align: right;
    }
  }
}
