@font-face {
  font-family: 'hellospecial-5';
  src:
    url('#{$icomoon-font-path}/hellospecial-5.ttf?hsb52m') format('truetype'),
    url('#{$icomoon-font-path}/hellospecial-5.woff?hsb52m') format('woff'),
    url('#{$icomoon-font-path}/hellospecial-5.svg?hsb52m#hellospecial-5') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hellospecial-5' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-truck {
  &:before {
    content: $icon-truck;
  }
}
.icon-bell {
  &:before {
    content: $icon-bell;
  }
}
.icon-lock {
  &:before {
    content: $icon-lock;
  }
}
.icon-mode_sieraden {
  &:before {
    content: $icon-mode_sieraden;
  }
}
.icon-huis_tuin {
  &:before {
    content: $icon-huis_tuin;
  }
}
.icon-gadgets_elektronica {
  &:before {
    content: $icon-gadgets_elektronica;
  }
}
.icon-hobby_vrije_tijd {
  &:before {
    content: $icon-hobby_vrije_tijd;
  }
}
.icon-beauty_verzorging {
  &:before {
    content: $icon-beauty_verzorging;
  }
}
.icon-baby_kinderen {
  &:before {
    content: $icon-baby_kinderen;
  }
}
.icon-alles {
  &:before {
    content: $icon-alles;
  }
}
.icon-brand-facebook {
  &:before {
    content: $icon-brand-facebook;
  }
}
.icon-brand-google-plus {
  &:before {
    content: $icon-brand-google-plus;
  }
}
.icon-brand-linkedin {
  &:before {
    content: $icon-brand-linkedin;
  }
}
.icon-brand-twitter {
  &:before {
    content: $icon-brand-twitter;
  }
}
.icon-keyboard_arrow_up {
  &:before {
    content: $icon-keyboard_arrow_up;
  }
}
.icon-keyboard_arrow_left {
  &:before {
    content: $icon-keyboard_arrow_left;
  }
}
.icon-checkmark-thin {
  &:before {
    content: $icon-checkmark-thin;
  }
}
.icon-cross-thin {
  &:before {
    content: $icon-cross-thin;
  }
}
.icon-keyboard_arrow_right {
  &:before {
    content: $icon-keyboard_arrow_right;
  }
}
.icon-keyboard_arrow_down {
  &:before {
    content: $icon-keyboard_arrow_down;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-hammer {
  &:before {
    content: $icon-hammer;
  }
}
.icon-cross {
  &:before {
    content: $icon-cross;
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark;
  }
}
.icon-google-plus {
  &:before {
    content: $icon-google-plus;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-notice {
  &:before {
    content: $icon-notice;
  }
}
