/**
 * Shadow, just an handy class
 */
.hsShadow {
  box-shadow: $appShadow--base;
}

/**
 * Links in content
 */
.hsLink {
  font-weight: bold;
  text-decoration: underline;
}

/**
 * Divider, e.g. in login and register form
 */
.hsDivider {
  position: relative;

  > span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: #fff;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: $small-font-size;
    color: $text-muted;
  }
}

.divider {
  border-top-color: #222;
  max-width: 230px;
}

.text-violet,
a.text-violet {
  color: $appColor--violet-dark;
}
a.text-violet:hover {
  color: darken($appColor--violet-dark, 10%);
}

.round-img {
  width: 60px;
  height: 60px;
  min-width: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 100%;
  > img {
    position: relative;
    top: -2px;
    width: 30px;
    @include media-breakpoint-down(sm) {
      width: 22px;
    }
  }
}

.list-dashed {
  list-style-type: none;
  padding: 0 0 0 20px;

  > li {
    text-indent: -15px;

    &:before {
      content: "-";
      text-indent: -5px;
      padding-right: 10px
    }
  }
}

// hide weird blue icon on non-hover
.form-group > input + span {
  display: none !important;
}

.icon--small {
  position: relative;
  top: -8%;
  font-size: 70%;

  a:hover {
    text-decoration: none;
  }
}

.appLink {
  &--withicon {
    &:hover {
      text-decoration: none;
    }

    > span {
      margin-left: -4px;
      padding-left: 4px;
    }

    &:hover > span {
      text-decoration: underline;
      cursor: pointer;
    }
    &:hover > i {
      cursor: pointer;
    }
  }
}
