body {
  // overflow-y: scroll;
  overflow-x: hidden;
}


/**
 * Fonts / typography
 */
ul {
  list-style-type: disc;
}
.text-underline {
  text-decoration: underline;
}

.font-sans {
  font-family: $font-family-sans-serif;
}
.font-serif {
  font-family: $font-family-serif;
}

/**
 * Buttons
 */
.btn {
  font-family: $font-family-serif;
  text-transform: uppercase;
  border: 0;
  white-space: normal;
  cursor: pointer;

  s.focus,
  &:focus {
    color: #fff;
    outline: none;
  }

  &-success,
  &-warning,
  &-danger,
  &-info {
    &:focus {
      box-shadow: none;
    }
  }

  > .icon {
    position: relative;
    bottom: -2px;
    margin-right: 5px;
  }

  &-primary {
    background: linear-gradient(to right,
      $appColor--orange-dark 0%,
      $appColor--orange-light 100%);
  }

  &-accent {
    background: linear-gradient(to right,
      darken(red, 10%) 0%,
      darken(red, 5%) 100%);
    &:active {
      background: linear-gradient(to right,
        darken(red, 15%) 0%,
        darken(red, 10%) 100%);
    }
  }

  &-warning {
    background: linear-gradient(to right,
      $appColor--orange-dark 0%,
      $appColor--orange-light 100%);
    &:hover {
      background: linear-gradient(to right,
      darken($appColor--orange-dark, 3%) 0%,
      darken($appColor--orange-light, 3%) 100%);
    }
  }

  &-success {
    background: linear-gradient(to right,
      $appColor--green-dark 0%,
      $appColor--green-light 100%);
  }

  &-info {
    background: linear-gradient(to right,
      $appColor--blue 0%,
      $appColor--blue-light 100%);
  }

  &-violet,
  &-violet:active {
    background: linear-gradient(to right,
      $appColor--violet-dark 0%,
      $appColor--violet 100%);
    color: white;
  }

  &-white {
    background: #fff;
    &:hover {
      background: #fafafa;
    }
    &:focus {
      background: #fafafa;
      border-color: #fff;
      color: $body-color;
      box-shadow: none;
    }
  }

  &-xl {
    padding: ($btn-padding-y * 1.75) ($btn-padding-x-lg * 2);
    font-size: $font-size-h3;
  }

  &-normalcase {
    text-transform: none;
  }
}

.display-4,
.display-4 > a {
  color: $appColor--purpletext;
}

// @@todo once bootstrap is out this is fixed,
// @see https://github.com/twbs/bootstrap/pull/21716
.input-group .form-control {
  flex-direction: inherit;
}

.dropdown-item {
  padding-top: $spacer / 2;
  padding-bottom: $spacer / 2;
}

.alert {
  box-shadow: 1px 1px 5px rgba(0,0,0,.18);
}

// trial: safari bug, it doesn't honor the min-height @see http://bit.ly/2lTTvml
@include media-breakpoint-up(lg) {
  .safari .table-row {
    display: table;
    table-layout: fixed;
    width: 100%;

    [class*="col-"] {
      float: none;
      display: table-cell !important;
      vertical-align: top;
      height: 100%;
    }
    .col-lg-9 {
      width: 75%;
    }
    .col-lg-3 {
      width: 25%;
    }
    // .col-lg-8 {
    //   width: 66.6666%;
    // }
    // .col-lg-4 {
    //   width: 33.3333%;
    // }
  }
}

.safari .table-row {
  @include media-breakpoint-down(md) {
    .col-lg-9 .hsContentCard {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .col-lg-3 .hsContentCard {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

/**
 * Pagination
 */
.page-item {
  &:last-child,
  &:first-child {
    .page-link {
      padding: $pagination-padding-y ($pagination-padding-x * 2)
    }
  }
  &.active .page-link {
    text-decoration: underline;
    font-weight: bold;
  }
}

/**
 * Modal
 */
.modal {
  &-content {
    border-radius: $border-radius-lg / 2;
    // margin: $spacer;
    box-shadow: 4px 4px 20px rgba(0,0,0,.3);
    &__top {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
    &__bottom {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;

      .custom-select {
        width: 80%;
        margin: 0 auto;
      }
    }
  }

  // @see https://stackoverflow.com/a/41377502/1938970
  // &--centered {
  @include media-breakpoint-up(md) {
    .modal-dialog {
      min-height: calc(100vh - 60px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: auto;
    }
  }
  // }
}

// see workaround 3 for iOs Safari bug (http://bit.ly/2AFTmtF)
.is-ios body.modal-open {
  @include hsGradient( $appGradient__map--complex, 215deg, 'all' );

  .wrap {
    display: none;
  }
}

/**
 * Forms
 */
.input-group {
  background: $input-bg;
  border-radius: 40px;

  .form-control:not(:last-child) {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding-left: 20px;
  }

  &-btn:before { // fake border-top border-bottom
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-top: $input-btn-border-width solid $input-border-color;
    border-bottom: $input-btn-border-width solid $input-border-color;
  }

  .input-group-btn .btn {
    z-index: 11;
    border-radius: 40px;
  }
}

.label-over {
  display: block;
}

label,
.label-over {
  font-size: $font-size-sm;
  margin: 0 0 ($spacer / 4) $input-padding-x;
  color: $gray-light; // $text-muted;

  &.custom-checkbox {
    margin-right: 0;
  }
}
.form-group--custom-radio {
  > .control-label {
    display: block;
    margin-left: $input-padding-x;
  }
}
.form-control-feedback,
.form-text {
  margin-left: $input-padding-x;
}

.custom-control-description {
  color: $input-color;
  font-size: $font-size-base;
}
.custom-radio,
.custom-checkbox {
  .custom-control-indicator {
    border: 1px solid darken($input-bg, 15%);
    background-size: 80% 80%;
    top: 0; // 0.125rem;
    box-sizing: content-box;
  }
}
.custom-select {
  background-color: $input-bg;
  border-radius: $input-border-radius;
  padding: $input-padding-y $input-padding-x;
}

/**
 * Buttons
 */
.d-block-sm-down {
  @include media-breakpoint-down(md) {
    display: block;
    width: 100%;
  }
}

/**
 * Form and validation
 */
.form-control {
  &:focus {
    border-color: $input-bg;
  }

  .has-success & {
    border-color: $input-bg;
  }
}

label.form-required {
  &:after {
    content: "*";
    color: $brand-danger;
    margin-left: 3px;
  }
}

/**
 * Form standard colors
 */
.form--standard {
  .form-control {
    border-radius: .25rem;
    background: #fff;
    border-color: darken($input-bg, 20%);
    box-shadow: inset 0 1px 1px rgba($black,.25); // $input-box-shadow;
  }
  label,
  .label-over {
    font-size: $font-size-base * 1.1;
    margin-left: 0;
    color: $body-color;
  }
  .form-group {
    margin: ($spacer * 1.5) 0 ($spacer * 1.2);
  }
}

/**
 * Tooltips
 */
.tooltip {
  &--light {
    &.show {
      opacity: 1;
    }

    .tooltip-inner {
      text-align: left;
      padding: 6px 15px;
      background: #E8E8E8;
      color: #222;
    }
    &.tooltip-top .tooltip-inner::before {
      border-top-color: #E8E8E8;
    }
  }
}
