$slick-font-path: "../fonts/";
$slick-loader-path: "../images/";
$slick-dot-size: 0;

@import "../../../node_modules/slick-carousel/slick/slick.scss";
@import "../../../node_modules/slick-carousel/slick/slick-theme.scss";

$slider__dot-size: 10px;
$slider__arrow-height: 35px;
$slider__arrow-width: 40px;
$slider__arrow-bgcolor: #E8E8E8;
$slider__arrow-bgcolor--hover: darken($slider__arrow-bgcolor, 10%);

.slick {
  &-list {
    will-change: transform;
  }

  /**
   * Dots
   */
  &-slider.slick-dotted {
    margin-bottom: 0;
  }
  &-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $spacer * 2;
    text-align: center;

    > li {
      display: inline-block;
      width: $slider__dot-size;
      height: $slider__dot-size;
      background: #ccc;
      margin: 0 5px;
      border-radius: 100%;
      box-shadow: $appShadow--base;
      &:hover {
        background: darken(#ccc, 10%);
      }

      &.slick-active {
        background: darken(#ccc, 20%);
        box-shadow: $appShadow--base;

        &:hover {
          background: darken(#ccc, 30%);
        }
      }
    }
  }

  /**
   * Slider nav
   */
  &-nav {

  }
  &-prev,
  &-next {
    z-index: 11;
    position: absolute;
    top: 50%;
    margin-top: -($slider__arrow-height / 2);
    height: $slider__arrow-height;
    width: $slider__arrow-width;
    // background-color: $slider__arrow-bgcolor;
    // background-position: center center;
    // background-repeat: no-repeat;
    background-size: 16px;
    text-indent: -9999px;
    transition: all .1s ease-in-out;
    border-radius: 0; // override Safari's
    -webkit-appearance: none !important;

    &.disabled {
      opacity: .2;
      cursor: not-allowed !important;
    }

    &:hover {
      background-color: $slider__arrow-bgcolor--hover;
      cursor: pointer;
    }

    &:before {
      display: none;
      // color: #fff;
    }
  }
  &-prev {
    left: 0;
    // background-image: $carousel-control-prev-icon-bg; // the following to override slick.scss
    background: $carousel-control-prev-icon-bg no-repeat center center $slider__arrow-bgcolor;
    background-size: 16px;
    &:hover,
    &:focus {
      outline: none;
      background: $carousel-control-prev-icon-bg no-repeat center center $slider__arrow-bgcolor--hover;
      background-size: 16px;
    }
    // &:before {
    //   @include icon-font($icon-keyboard_arrow_left);
    // }
  }
  &-next {
    right: 0;
    // background-position-x: 16px; // the following to override slick.scss
    background: $carousel-control-next-icon-bg no-repeat 16px center $slider__arrow-bgcolor;
    background-size: 16px;
    &:hover,
    &:focus {
      outline: none;
      background: $carousel-control-next-icon-bg no-repeat 16px center $slider__arrow-bgcolor--hover;
      background-size: 16px;
    }
    // &:before {
    //   @include icon-font($icon-keyboard_arrow_right);
    // }
  }
}
