label.has-danger {
  color: $brand-danger;
  font-size: 12px;
}

.form-group {
  label.has-danger {
    display: none;
  }
}

.custom-radio,
.custom-checkbox {
  label.has-danger {
    display: none !important;

    ~ .custom-control-description {
      color: $brand-danger;
    }
  }
}
