{% import 'layouts/macros.njk' as macros %}

{% extends '../_base.njk' %}

{% set authenticated = true %}

{% block body %}

  <div class="wrap">
    <div class="wrap__top">
      {% block header %}
        {{ macros.header(isAuthenticated=true) }}
      {% endblock %}

      {% block container %}
      <div class="wrap__top-inner container">
        {% include 'layouts/partials/misc-IEalert.njk' %}
        <div class="hsAccount row">
          <div class="hsAccount__menu col-lg-3 col-xl-3 offest-xl-1">
            {% include 'layouts/partials/account-sidebar.njk' %}
          </div>
          <div class="hsAccount__main col-lg-9 col-xl-7">
            <h4 class="hsAccount__menu-trigger display-4 hidden-lg-up" id="js-myaccount_btn" role="button">
              <i class="icon icon-arrow-left-circle"></i> Mijn account
            </h4>
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
      {% endblock %}
    </div>

    <div class="wrap__bottom">
      {% block footer %}
        {% include 'layouts/partials/colophon.njk' %}
        {% include 'layouts/partials/footer.njk' %}
      {% endblock %}
    </div>
  </div>

  {{ macros.cookieannouncement() }}
{% endblock %}
