{% import 'layouts/macros.njk' as macros %}

{% extends '../_base.njk' %}

{% block body %}

  <div class="wrap">
    <div class="wrap__top">
      {% block header %}
        {{ macros.header() }}
        {% include 'layouts/partials/subheader.njk' %}
      {% endblock %}

      {% block container %}
        <div class="wrap__top-inner container">
          {% include 'layouts/partials/misc-IEalert.njk' %}
          {% block content %}
          {% endblock %}
        </div>
      {% endblock %}
    </div>

    <div class="wrap__bottom">
      {% block footer %}
        {% block colophon_newsletter %}{% include 'layouts/partials/newsletter.njk' %}{% endblock %}
        {% block colophon %}{% include 'layouts/partials/colophon.njk' %}{% endblock %}
        {% include 'layouts/partials/footer.njk' %}

        {# just include once the item modal macro, it uses js template #}
        {{ macros.itemModal() }}
        {{ macros.modal__win() }}
        {{ macros.modal__auctionclosed() }}
        {{ macros.modal__payreminder() }}
      {% endblock %}
    </div>
  </div>
  {{ macros.auth_modal() }}
  {{ macros.cookieannouncement() }}
{% endblock %}
