{% import 'layouts/macros.njk' as macros %}

{% extends './default.njk' %}

{% block container %}
  <div class="wrap__top-inner container-fluid">
    {% include 'layouts/partials/misc-IEalert.njk' %}
    {% block content %}
    {% endblock %}
  </div>
{% endblock %}
