{% macro header(isVeiling = false, isAuthenticated = false) %}
  <!-- macro: header -->
  <header class="hsHeader" id="hsHeader">
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse hsGradient">
      {% if isVeiling %}
        <a class="navbar-brand hsLogotype veilingacties" href="veilingacties.html">VeilingActies.nl</a>
        <span class="hsLogotype__subtitle">Mede mogelijk gemaakt door HelloSpecial.com</span>
      {% else %}
        <a class="navbar-brand hsLogotype" href="index.html">Hello Special</a>
      {% endif %}
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#js_navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="js_navbar">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="content--hoe-werkt-het-bieden.html">Hoe werkt het?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="seller.html">Verkopen</a>
            </li>
            {# <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#hsWinModal">On won</a>
            </li> #}
          </ul>
          <ul class="navbar-nav ml-auto">
            {% if isAuthenticated %}
              <li class="nav-item">
                <a class="nav-link nav-link-img" href="#berichten">
                  <img src="images/icon-gewonnen_specials.png" title="Gewonnen spcials" width="15">
                  <span class="badge badge-pill badge-success">2</span>
                </a>
              </li>
              <li class="nav-item js-dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">mijn account</a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="mijn-biedingen.html">Mijn Biedingen</a>
                  <a class="dropdown-item" href="mijn-gewonnen.html">Gewonnen veilingen</a>
                  <a class="dropdown-item" href="mijn-biedingen.html">Deel &amp; Verdien</a>
                  <a class="dropdown-item" href="mijn-gewonnen.html">Mijn Account</a>
                  <a class="dropdown-item" href="mijn-gewonnen.html">Instellingen</a>
                  <a class="dropdown-item" href="mijn-biedingen.html">Meer...</a>
                </div>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="login.html" data-authmodal="login">Inloggen</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="register.html" data-authmodal="register">Registreren</a>
              </li>
            {% endif %}
              <li class="nav-item hsLang js-dropdown" id="hsLang__header">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                  <img class="hsLang__img" src="images/flag-nl.png"><span class="hsLang__label hidden-lg-up">Nederlands</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#nl">
                    <img class="hsLang__img" src="images/flag-nl.png"><span class="hsLang__label">Nederlands</span></a>
                  <a class="dropdown-item" href="#en">
                    <img class="hsLang__img" src="images/flag-en.png"><span class="hsLang__label">English</span></a>
                </div>
              </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- endmacro: header -->
{% endmacro %}


{% macro siteInfoTxt() %}
  <!-- macro: siteInfoTxt -->
  <aside class="hsPage__textblock text-center mt-5">
    <h3 class="h5">HelloSpecial</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </aside>
  <!-- endmacro: siteInfoTxt -->
{% endmacro %}

{% macro nav_categories(data_categories, isFirstActive=false, noIcons=false) %}
  <!-- macro: nav_categories -->
  <nav class="appCats JSnavsel{% if noIcons %} appCats--noicons{% endif %}">
    <ul class="appCats__list">
      {% for item in data_categories %}
      <li class="appCats__item{% if loop.index === 1 and isFirstActive %} active{% endif %}">
        <a class="appCats__link" href="{{ item.link }}">
          <i class="icon icon-{{ item.icon }}"></i>
          <span class="appCats__title">{{ item.title }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
    <select class="appCats__select JSnavsel__select form-control">
      <option disabled selected>Meer</option>
      {% for item in data_categories %}
      <option class="appCats__option" value="{{ item.link }}">{{ item.title }}</option>
      {% endfor %}
    </select>
  </nav>
  <!-- endmacro: nav_categories -->
{% endmacro %}


{% macro cookieannouncement() %}
  <!-- macro: cookieannouncement -->
  <div id="js-cookieannouncement" class="cookieannouncement">
    <div class="cookieannouncement__inner">
      <div class="cookieannouncement__text">
        <p>Zeg hello tegen cookies voor een optimale beleving van de site</p> <a href="#">Meer informatie </a>
      </div>
      <button class="btn btn-md btn-success js-cookieannouncement-dismiss"><i class="fa fa-close"></i> Sluiten</button>
    </div>
  </div>
  <!-- endmacro: cookieannouncement -->
{% endmacro %}


{% macro content__faq_group(faq, additional_classes) %}
  <!-- macro: content__faq_group -->
  <h3 id="{{ faq.id }}" class="hsFaq__title">{{ faq.title }}</h3>
  <ol class="expandable__list hsFaq__list">
  {% for group in faq.content %}
    <li class="expandable">
      <div class="expandable__header" data-toggle="collapse" data-target="#{{ faq.id }}--{{ loop.index }}" aria-expanded="false">
        <span class="expandable__toggle"><i class="icon"></i></span>
        <h4 class="expandable__heading">{{ group.question | safe }}</h4>
      </div>
      <div id="{{ faq.id }}--{{ loop.index }}" class="expandable__body collapse"><p>{{ group.answer | safe }}</p></div>
    </li>
  {% endfor %}
  </ol>
  <!-- endmacro: content__faq_group -->
{% endmacro %}


{% macro itemCard (item, index) %}
  <!-- Start main macro: `itemCard` -->
  <div class="card hsItem hsItemCard" data-state="{{ item.state.id }}">
    <div class="hsItemCard__top">
      <div class="hsItemCard__top-inner">
        <h3 class="hsItemCard__top-title"><a href="detail.html" class="hsItemCard__titlelink">{{ item.title }}</a></h3>
        <div class="hsItemCard__top-img-wrap">
          <a class="hsItemCard__link" href="detail.html">
            <img class="img-fluid hsItemCard__top-img" src="images/preview/{{ item.img }}" alt="{{ item.title }}" data-item-modal="{{item.id}}">
          </a>
        </div>
        {{ item__search(item) }}
      </div>
    </div>
    <div class="hsItemCard__bottom">
      <div class="hsItemCard__bottom-inner">
        {{ item__discount(item, 'hsGradient--orange') }}
        <div class="hsItemCard__middle">
          <div class="hsItemCard__bottom-left" data-item-modal="{{item.id}}">
            <a class="hsItemCard__link" href="detail.html">
              <img class="hsItemCard__bottom-img" src="images/preview/{{ item.img }}" alt="{{ item.title }}">
            </a>
          </div>
          <div class="hsItemCard__bottom-right">
            <h3 class="hsItemCard__bottom-title"><a href="detail.html" class="hsItemCard__titlelink">{{ item.title }}</a></h3>
            <div class="hsItemCard__bottom-right-bottom">
              {{ item__info(item) }}
              <button class="btn btn-primary btn-block hsItem__btn{% if index == 1 %} btn-accent{% endif %}" data-bid>
                <span class="hsItem__btn-bid">Bied</span> <span data-price>&euro; {{ item.bid }}</span>
                <span class="hsItem__btn-shipping">+ &euro;5,59 verzendkosten</span>
              </button>
            </div>
          </div>
        </div>
        {{ item__state(item, index) }}
      </div>
    </div>
  </div>
  <!-- End main macro: `itemCard` -->
{% endmacro %}

{% macro itemDetail(item, auctionIsClosed=false, singleImage=false) %}
  <!-- Start main macro: `itemDetail` -->
  <section class="row appItemDetail hsItem {% if auctionIsClosed %} appAuctionclosed{% endif %}">
    <div class="col-lg-7 appItemDetail__col appItemDetail__col-left">
      {# Subview: Images #}
      <div class="appItemDetail__images {% if not singleImage %}has-thumbs{% endif %}">
        <div class="appItemDetail__slider-wrap">
          <div id="appItemDetail__slider" class="appItemDetail__slider">
            <div class="img-wrap"><img src="images/preview/1.png"></div>
            {% if not singleImage %}
            <div class="img-wrap"><img src="images/preview/4.jpg"></div>
            <div class="img-wrap"><img src="images/preview/6.jpg"></div>
            <div class="img-wrap"><img src="images/preview/7.jpg"></div>
            <div class="img-wrap"><img src="images/preview/8.jpg"></div>
            <div class="img-wrap"><img src="images/preview/1.png"></div>
            {% endif %}
          </div>
          <div class="appItemDetail__slider-proportion"></div>
        </div>
        {% if not singleImage %}
        <div class="appItemDetail__thumbs-wrap"><!-- this <div> must be removed if the item has only one image -->
          <div id="appItemDetail__thumbs" class="appItemDetail__thumbs">
            <div class="img-wrap"><img class="img-fluid" src="images/preview/1.png"></div>
            <div class="img-wrap"><img class="img-fluid" src="images/preview/4.jpg"></div>
            <div class="img-wrap"><img class="img-fluid" src="images/preview/6.jpg"></div>
            <div class="img-wrap"><img class="img-fluid" src="images/preview/7.jpg"></div>
            <div class="img-wrap"><img class="img-fluid" src="images/preview/8.jpg"></div>
            <div class="img-wrap"><img class="img-fluid" src="images/preview/1.png"></div>
          </div>
        </div>
        {% endif %}
        {% if auctionIsClosed %}
          <div class="appAuctionclosed__overlay">
            <h2 class="appAuctionclosed__title">Ah Jammer! <img class="appAuctionclosed__img" src="images/emoji--sad.png"></h2>
            <h3 class="appAuctionclosed__subtitle">Deze veiling is gesloten!</h3>
          </div>
        {% else %}
          {# {{ item__discount(item, 'hsDiscount--lg hsGradient--green') }} #}
          {# {{ item__search(item) }} #}
        {% endif %}
      </div>
      {# Subview: Main #}
      <div id="appItemDetail__main-sticky" class="appItemDetail__main-sticky">
        {{ itemDetail__main(item, auctionIsClosed) }}
      </div>
      {# Subview: Article #}
      <article class="appItemDetail__article">
        {{ itemDetail__article(item) }}
      </article>
    </div>
    <div class="col-lg-5 appItemDetail__col appItemDetail__col-right">
      {# Subview: Main #}
      {{ itemDetail__main(item, auctionIsClosed) }}
      {# Subview: Aside #}
      <aside class="appItemDetail__aside">
        {{ itemDetail__variations(item) }}
        {{ itemDetail__auctions(item) }}
        {# {{ itemDetail__auctioneer(item) }} #}
        {{ site_features() }}
        <div class="text-center mt-5">
          <a href="index.html" class="btn btn-lg btn-success btn-normalcase"><i class="icon icon-gadgets_elektronica"></i> Alle Gadget &amp; Elektronica Veilingen</a>
        </div>
      </aside>
    </div>
  </section>
  <!-- End main macro: `itemDetail` -->
{% endmacro %}

{% macro itemDetail__main (item, auctionIsClosed=false) %}
  <!-- Start main macro: `itemDetail__main` -->
  <div class="appItemDetail__main">
    <div class="appItemDetail__main-inner hsGradient--pink">
      <div class="hsItem__info d-flex justify-content-between">
        <h4 class="hsItem__info-price">
          <span class="hsItem__info-what">Adviesprijs</span>
          <b class="hsItem__info-is"><span data-price>&euro; {{ item.price }}</span></b>
        </h4>
        <h4 class="hsItem__info-bid">
          <span class="hsItem__info-what">Aan het winnen</span>
          <b class="hsItem__info-is" data-bidder>Lisa</b>
        </h4>
      </div>
      {% if auctionIsClosed %}
        <div class="appAuctionclosed__msg">Zullen we het laten weten als een nieuwe veiling start?</div>
        <button class="btn btn-success btn-block btn-lg appAuctionclosed__btn" data-toggle="modal" data-target="#appModalAuctionclosed">Laat het weten</button>
      {% endif %}
      <button class="btn btn-warning btn-block btn-lg hsItem__btn" data-bid>
        <span class="hsItem__btn-bid">Bied</span> &euro;<span data-price>{{ item.bid }}</span>
        <span class="hsItem__btn-shipping">+ &euro; 6,96 verzendkosten</span>
      </button>
    </div>
    {{ item__state(item, 5) }}
  </div>
  <!-- End main macro: `itemDetail__main` -->
{% endmacro %}


{% macro itemModal () %}
  <!-- Start main macro: `itemModal` -->
  <div id="hsItemModal" class="modal hsItemModal" tabindex="-1" role="dialog" aria-labelledby="itemModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="hsModalBtn close" data-dismiss="modal" aria-label="Close">
          <i class="icon icon-cross" aria-hidden="true"></i>
        </button>
        {# <button type="button" class="hsModalBtn hsGradient--diagonal next" aria-label="Next">
          <i class="icon icon-arrow-right" aria-hidden="true"></i>
        </button>
        <button type="button" class="hsModalBtn hsGradient--velvet prev" aria-label="Prev">
          <i class="icon icon-arrow-left" aria-hidden="true"></i>
        </button> #}
        <div id="hsItemModal__content" class="hsItemModal__content"></div>
      </div>
    </div>
  </div>
  <script type="text/template" id="hsItemModal__tpl">
    {# {{ itemDetail__js() }} #}
  </script>
  <!-- End main macro: `itemModal` -->
{% endmacro %}

{% macro item__state (item, index) %}
  <!-- Start macro: `item__state` -->
  {% set gradientId = 'hsStateGrad--' + (index) + ['0','1','2','3','4','5','6','7','8','9'] | random %}

  <div class="hsItem__state">
    <span class="hsItem__state-msg" data-state-msg>{{ item.state.msg }}</span>
    <div class="hsItem__state-circle">
      <svg class="hsItem__state-svg" viewbox="0 0 50 50">
        <defs>
          <linearGradient id="{{ gradientId }}" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop class="stop1" offset="0%"/>
            <stop class="stop2" offset="100%"/>
          </linearGradient>
        </defs>
        <path data-state-svg transform="translate(25,25)" fill="url(#{{ gradientId }})"/>
      </svg>
    </div>
  </div>
  <!-- End macro: `item__state` -->
{% endmacro %}

{% macro item__state_static (msg) %}
  <!-- Start macro: `item__state_static` -->
  <div class="hsItem__state">
    <span class="hsItem__state-msg" data-state-msg>{{ msg }}</span>
    <div class="hsItem__state-circle">
      <svg class="hsItem__state-svg" viewbox="0 0 50 50">
        <path data-state-svg transform="translate(25,25)"/>
      </svg>
    </div>
  </div>
  <!-- End macro: `item__state_static` -->
{% endmacro %}

{% macro item__discount (item, classes) %}
  <!-- Start macro: `item__discount` -->
  {% if item.discount %}
    <div class="hsDiscount {{ classes }}">-{{ item.discount }}%</div>
  {% endif %}
  <!-- End macro: `item__discount` -->
{% endmacro %}

{% macro item__search (item) %}
  <!-- Start macro: `item__search` -->
  <a href="{{ item.url }}" class="hsItem__search"><i class="icon icon-search"></i></a>
  <!-- End macro: `item__search` -->
{% endmacro %}

{% macro item__info (item) %}
  <!-- Start macro: `item__info` -->
  <div class="hsItem__info d-flex justify-content-between">
    <h4 class="hsItem__info-price">
      <span class="hsItem__info-what">winkelprijs</span>
      <b class="hsItem__info-is"><span data-price>&euro; {{ item.price }}</span></b>
    </h4>
    <h4 class="hsItem__info-bid">
      <span class="hsItem__info-what">topbod</span>
      <b class="hsItem__info-is" data-bidder>Diederik</b>
    </h4>
  </div>
  <!-- End macro: `item__info` -->
{% endmacro %}

{% macro itemDetail__variations(item) %}
  <!-- Start macro: `itemDetail__variations` -->
  <div class="appItemDetail__card">
    <h4 class="appItemDetail__card-title">Kleuren</h4>
    <ul class="appItemDetail__card-list">
      <li>Rood</li>
      <li>Wit</li>
      <li>Blauw</li>
    </ul>
  </div>
  <!-- End macro: `itemDetail__variations` -->
{% endmacro %}

{% macro itemDetail__auctions(item) %}
  <!-- Start macro: `itemDetail__auctions` -->
  <div class="appItemDetail__card">
    <h4 class="appItemDetail__card-title">Bezorging en administratie</h4>
    <p class="appItemDetail__card-line"><i class="icon icon-truck"></i> &euro; 6,95 Verzendkosten</p>
    <p class="appItemDetail__card-line"><i class="icon icon-hammer"></i> &euro; 0,99 Veilingkosten</p>
    <p class="appItemDetail__card-line my-3"><i class="icon icon-calendar"></i> Verzending uiterlijk: 12 oktober 2017</p>
    <h4 class="appItemDetail__card-title">Veiling door</h4>
    <p class="appItemDetail__card-line"><i class="icon icon-bell"></i> <a href="index.html" class="text-underline">Dutcc</a></p>
  </div>
  <!-- End macro: `itemDetail__auctions` -->
{% endmacro %}

{% macro itemDetail__auctioneer(item) %}
  <!-- Start macro: `itemDetail__auctioneer` -->
  <div class="appItemDetail__card">
    <h4 class="appItemDetail__card-title">Veilingmeester</h4>
    <div class="d-flex flex-row">
      <img class="appItemDetail__card-img" src="images/preview/{{ item.auctioneer.img }}">
      <div class="px-3">Deze veiling staat onder toezicht van
        <h6>{{ item.auctioneer.name }}</h6>
      </div>
    </div>
  </div>
  <!-- End macro: `itemDetail__auctioneer` -->
{% endmacro %}

{% macro itemDetail__article(item) %}
  <!-- Start macro: `itemDetail__article` -->
  <h1>Adlex Airfryer Xtra Turbo</h1>
  <p>Maak je graag foto's met je smartphone? Dan is de iPhone 7 een aanrader. De 12 megapixel-camera wordt ondersteund door optische beeldstabilisatie. Ook zorgt het ervoor dat de sensor meer licht opvangt waardoor foto's scherp en helder zijn. Hierdoor heb je geen last van bewogen foto's. Vage selfies behoren tot het verleden met de nieuwe 7 megapixel selfie camera. Wat ook fijn is? Met de iPhone 7 kun je bellen in de regen. Het toestel is namelijk waterdicht.</p>
  <h3>Specificaties</h3>
  <ul>
    <li>Oplader</li>
    <li>Lightning oordopjes</li>
    <li>Lightning naar 3,5 mm aansluiting</li>
    <li>Handleiding</li>
  </ul>
  {# <h3>Beknopte specificaties</h3>
  <table>
    <tbody>
      <tr><td>Schermdiagonaal</td><td>4,7 inch</td></tr>
      <tr><td>Totale opslagcapaciteit</td><td>32 GB</td></tr>
      <tr><td>Versie iOS</td><td>iOS 10</td></tr>
      <tr><td>Megapixels camera('s) achter</td><td>12 MP</td></tr>
      <tr><td>RAM-geheugen</td><td>2 GB</td></tr>
    </tbody>
  </table> #}
  <!-- End macro: `itemDetail__article` -->
{% endmacro %}

{% macro site_features() %}
  <!-- Start macro: `site_features` -->
  <div class="appItemDetail__card">
    <h4 class="appItemDetail__card-title">Over HelloSpecial.com</h4>
    <ul class="appItemDetail__card-iconlist">
      <li><i class="icon icon-checkmark"></i> Bied gratis mee</li>
      <li><i class="icon icon-checkmark"></i> Profiteer van hoge kortingen</li>
      <li><i class="icon icon-checkmark"></i> Niet tevreden? Geld terug</li>
    </ul>
    <div class="text-center">
      <a href="https://www.webwinkelkeur.nl/leden/HelloSpecial_1201424.html" title="Webwinkel Keurmerk en klantebeoordelingen" rel="nofollow"><img class="img-fluid" src="https://dashboard.webwinkelkeur.nl/banners/3" alt="Webwinkel Keurmerk en klantebeoordelingen" title="Webwinkel Keurmerk en klantebeoordelingen"></a>
    </div>
  </div>
  <!-- End macro: `site_features` -->
{% endmacro %}

{% macro itemDetail__js() %}
  <!-- This is basically of a replication of the above templates but written with `lodash` templates, so that they can be rendered dynamically on the client side, one modal template for all the items... -->
{% endmacro %}

{% macro auth_login() %}
  <!-- Start macro: `auth_login` -->
  <form class="card hsAuthform">
    <div class="card-block">
      <h2 class="display-4 hsAuthform__title">Log in</h2>
      <a href="mijn-biedingen.html" class="btn btn-info btn-lg btn-normalcase">Met Facebook</a>
      <div class="hsDivider py-3"><span>of</span><hr></div>
      <p class="pre-form-group">Meld aan met:</p>
      <div class="form-group">
        {# <label for="loginUsername">Gebruikersnaam</label> #}
        <input type="text" class="form-control" id="loginUsername" placeholder="Voornaam">
      </div>
      {# <div class="form-group">
        <input type="text" class="form-control" id="loginEmail" placeholder="E-mailadres">
      </div> #}
      <div class="form-group">
        {# <label for="loginPassword">Wachtwoord</label> #}
        <input type="password" class="form-control" id="loginPassword" placeholder="Uw wachtwoord">
      </div>
      <div class="my-4">
        <button type="submit" class="btn btn-success btn-lg">Aanmelden</button>
      </div>
      <div class="hsAuthform__footer">
        <a class="text-violet text-underline" href="wachtwoord-vergeten.html">Wachtwoord vergeten?</a>
      </div>
    </div>
  </form>
  <!-- End macro: `auth_login` -->
{% endmacro %}

{% macro auth_register() %}
  <!-- Start macro: `auth_register` -->
  <form class="card hsAuthform">
    <div class="card-block">
      <h2 class="display-4 hsAuthform__title">Creeër een nieuw account</h2>
      <a href="mijn-biedingen.html" class="btn btn-info btn-lg btn-normalcase">Met Facebook</a>
      <div class="hsDivider py-3"><span>of</span><hr></div>
      <p class="pre-form-group">Meld aan met:</p>
      <div class="form-group">
        {# <label for="registerUsername">Gebruikersnaam</label> #}
        <input type="text" class="form-control" id="registerUsername" placeholder="Voornaam">
      </div>
      <div class="form-group">
        {# <label for="registerEmail">E-mail adres</label> #}
        <input type="text" class="form-control" id="registerEmail" placeholder="E-mailadres">
      </div>
      <div class="form-group">
        {# <label for="registerPassword">Wachtwoord</label> #}
        <input type="password" class="form-control" id="registerPassword" placeholder="Uw wachtwoord">
      </div>
      {# <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="">
          Ik ga akkoord met de algemene voowaarden
        </label>
      </div> #}
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="nieuwsbrief" value="yes">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Meld mij aan voor de nieuwsbrief</span>
      </label>
      <div class="my-4">
        <button type="submit" class="btn btn-success btn-lg">Aanmelden</button>
      </div>
      <div class="hsAuthform__footer">
        Heb je al een account? <a class="text-violet text-underline" href="login.html" data-authmodal="login">Log in</a>
      </div>
    </div>
  </form>
  <!-- End macro: `auth_register` -->
{% endmacro %}

{% macro auth_modal() %}
  <!-- Start macro: `auth_modal` -->
  <div id="hsAuthModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
    <div class="modal-dialog centered" role="document">
      <div class="modal-content">
        <div class="modal-content__top">
          <div class="view view__register">
            {{ auth_register() }}
          </div>
          <div class="view view__login">
            {{ auth_login() }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End macro: `auth_modal` -->
{% endmacro %}

{% macro pagination() %}
  <!-- Start macro: `pagination` -->
  <nav class="hsPagination">
    <ul class="pagination justify-content-end">
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&#10094;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="mijn-biedingen.html">2</a></li>
      <li class="page-item"><a class="page-link" href="mijn-biedingen.html">3</a></li>
      <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
      <li class="page-item"><a class="page-link" href="mijn-biedingen.html">9</a></li>
      <li class="page-item">
        <a class="page-link" href="mijn-biedingen.html" aria-label="Next">
          <span aria-hidden="true">&#10095;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- End macro: `pagination` -->
{% endmacro %}

{% macro account_tablerow_biedingen(img, name, quantity, price, datum, hour) %}
  <!-- Start macro: `account_tablerow_biedingen` -->
  <tr>
    <td class="hsAccount__table-img">
      <a href="detail.html"><img src="images/preview/{{ img }}"></a>
    </td>
    <td class="hsAccount__table-name">
      <h4><a href="detail.html">{{ name }}</a></h4>
    </td>
    <td data-head="Aantal biedingen" class="hsAccount__table-quantity">{{ quantity }}</td>
    <td data-head="Hoogste bod" class="hsAccount__table-price">&euro; {{ price }}</td>
    <td data-head="Datum" class="hsAccount__table-date">{{ datum }} <div>{{ hour }}</div></td>
  </tr>
  <!-- End macro: `account_tablerow_biedingen` -->
{% endmacro %}

{% macro account_tablerow_gewonnen(img, name, price, btn_text, btn_class, datum, tt_verzendpartij, tt_code) %}
  <!-- Start macro: `account_tablerow_gewonnen` -->
  <tr>
    <td class="hsAccount__table-img">
      <a href="detail.html"><img src="images/preview/{{ img }}"></a>
    </td>
    <td class="hsAccount__table-name">
      <h4><a href="detail.html">{{ name }}</a></h4>
    </td>
    <td data-head="Winnen bod" class="hsAccount__table-price">&euro; {{ price }}</td>
    <td data-head="Status" class="hsAccount__table-status">
      <button class="btn {{ btn_class }} btn-sm">{{ btn_text }}</button>
      {{ shippingtime() }}
    </td>
    <td data-head="T&T" class="hsAccount__table-tt" data-verzendpartij="{{ tt_verzendpartij }}" data-code="{{ tt_code }}"><i class="fa fa-search"></i></td>
    <td data-head="Datum" class="hsAccount__table-date">{{ datum }}</td>
  </tr>
  <!-- End macro: `account_tablerow_gewonnen` -->
{% endmacro %}

{% macro shippingtime() %}
  <!-- Start macro: `shippingtime` -->
  <div class="shippingtime">
    <div class="shippingtime__label">Levertijd:</div>
    <div class="shippingtime__val">2-4 werkdagen <i class="fa fa-info-circle shippingtime-tooltip" data-toggle="tooltip" data-placement="top" data-html="true" title="De levertijd is vanaf de betaaldatum"></i></div>
    <div class="shippingtime__order"><b>Order:</b> 7959586</div>
  </div>
  <!-- End macro: `shippingtime` -->
{% endmacro %}

{% macro newsletter(container_element='form') %}
  <!-- Start macro: `newsletter` -->
  <{{ container_element }} class="input-group hsNewsletter">
    <input type="text" class="form-control" placeholder="Jouw e-mailadres">
    <span class="input-group-btn">
      <button class="btn btn-success" type="button">
        <i class="fa fa-plus"></i>
        <i class="fa fa-check"></i>
      </button>
    </span>
  </{{ container_element }}>
  <!-- End macro: `newsletter` -->
{% endmacro %}

{% macro modal__auctionclosed() %}
  <!-- Start macro: `modal__auctionclosed` -->
  <div id="appModalAuctionclosed" class="modal fade appAuctionclosed__modal appAuctionclosed-hasemail" tabindex="-1" role="dialog" aria-labelledby="Auction closed" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <button type="button" class="hsModalBtn close" data-dismiss="modal" aria-label="Close">
          <id="appAuctionclosed_hasemail"i class="icon icon-cross" aria-hidden="true"></i>
        </button>
        <!-- if has email -->
        <div class="modal-body" id="appAuctionclosed_hasemail">
          <h2 class="appAuctionclosed__title"><img class="appAuctionclosed__img" src="images/emoji--thumb_up.png"> We laten het weten als een nieuwe veiling start!</h2>
          <a href="#" class="btn btn-xl btn-success">Sluiten</a>
        </div>
        <!-- if has no email -->
        <div class="modal-body" id="appAuctionclosed_askemail">
          <h2 class="appAuctionclosed__title">Ah Jammer! <img class="appAuctionclosed__img" src="images/emoji--sad.png"></h2>
          <h3 class="appAuctionclosed__subtitle">Deze veiling is gesloten!</h3>
          <p class="appAuctionclosed__msg">Laat uw emailadres achter en we sturen u een bericht als de veiling weer open is</p>
          <form class="w-100" action="#" method="post">
            {{ newsletter('div') }}
            <label class="custom-control custom-checkbox mt-3">
              <input type="checkbox" class="custom-control-input" name="nieuwsbrief" value="yes">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Meld mij aan voor de nieuwsbrief</span>
            </label>
          </form>
        </div>
        <footer class="modal-footer" data-state="geboden">
          {{ item__state_static('Gesloten...') }}
        </footer>
      </div>
    </div>
  </div>
  <!-- End macro: `modal__auctionclosed` -->
{% endmacro %}

{% macro modal__track_trace() %}
  <!-- Start macro: `modal__track_trace` -->
  <div id="hsTtModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Track & trace" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <button type="button" class="hsModalBtn close" data-dismiss="modal" aria-label="Close">
          <i class="icon icon-cross" aria-hidden="true"></i>
        </button>
        <div class="modal-body">
          <h2 class="display-4">Track &amp; trace</h2>
          <p>
            <div><b>Verzendpartij:</b></div>
            <span class="tt__verzendpartij">PostNL</span>
          </p>
          <p>
            <div><b>Track &amp; Trace code:</b></div>
            <a href="#" class="tt__code">ASD2131ASD</a>
          </p>
          {{ shippingtime() }}
        </div>
      </div>
    </div>
  </div>
  <!-- End macro: `modal__track_trace` -->
{% endmacro %}

{% macro modal__win() %}
  <!-- Start macro: `modal__win` -->
  <div id="hsWinModal" class="modal fade hsModal" tabindex="-1" role="dialog" aria-labelledby="winModal" aria-hidden="true">
    <div class="modal-dialog centered" role="document">
      <div class="modal-content text-center">
        <div class="modal-content__top p-3">
          <img class="img-fluid" src="images/preview/3.jpg">
        </div>
        <form class="modal-content__bottom hsGradient--diagonal p-4">
          <h2>Je hebt gewonnen!</h2>
          <p>Gefeliciteerd, jouw bod van €438 is het winnende bod!</p>
          <div class="form-group">
            <select class="custom-select" name="product_color">
              <option value="red">Red</option>
              <option value="yellow">Yellow</option>
              <option value="black">Black</option>
            </select>
          </div>
          <!-- @dev this link should be a button.. style won't change: --><a href="checkout.html" class="btn btn-md btn-success hsShadow" data-dismiss="modal">Naar de kassa</a><!-- end @dev -->
        </form>
      </div>
    </div>
  </div>
  <!-- End macro: `modal__win` -->
{% endmacro %}

{% macro countdown(days, hours, minutes, seconds) %}
  <!-- Start macro: `countdown` -->
  <div class="countdown">
    <div class="countdown__blocks">
      {% if days %}
      <div class="countdown__block">
        <span class="countdown__label">Dagen</span>
        <div class="countdown__bg">
          <div class="countdown__value" data-countdown="days">{{ days }}</div>
        </div>
      </div>
      {% endif %}{% if hours %}
      <div class="countdown__block">
        <span class="countdown__label">Uren</span>
        <div class="countdown__bg">
          <div class="countdown__value" data-countdown="hours">{{ hours }}</div>
        </div>
      </div>
      {% endif %}{% if minutes %}
      <div class="countdown__block">
        <span class="countdown__label">Minuten</span>
        <div class="countdown__bg">
          <div class="countdown__value" data-countdown="minutes">{{ minutes }}</div>
        </div>
      </div>
      {% endif %}{% if seconds %}
      <div class="countdown__block">
        <span class="countdown__label">Seconden</span>
        <div class="countdown__bg">
          <div class="countdown__value" data-countdown="seconds">{{ seconds }}</div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <!-- End macro: `countdown` -->
{% endmacro %}

{% macro modal__payreminder() %}
  <!-- Start macro: `modal__payreminder` -->
  <div id="appPayreminderModal" class="modal fade appModal appPayreminder__modal" tabindex="-1" role="dialog" aria-labelledby="payreminderModal" aria-hidden="true">
    <div class="modal-dialog modal-lg centered" role="document">
      <div class="modal-content">
        <header class="modal-header hsGradient--diagonal">
          <h3 class="modal-title modal-title--withicon">
            <i class="icon icon-lock" aria-hidden="true"></i> Gewonnen veiling betalen
          </h3>
          <button type="button" class="appModal__close close" data-dismiss="modal" aria-label="Close">
            <i class="icon icon-cross-thin" aria-hidden="true"></i>
          </button>
        </header>
        <form class="modal-body appPayreminder">
          <div class="row">
            <div class="col-lg-6">
              <div class="media">
                <img class="mr-4" src="images/preview/5.jpg" alt="Product title" width="100">
                <div class="media-body">
                  <p class="appPayreminder__date">Gewonennen op 26 september om 16:00</p>
                  <h4 class="appPayreminder__title">K'NEX bouwset 5-in-1 combat crew</h4>
                  <h5 class="appPayreminder__variation">Blue</h5>
                </div>
              </div>
              <div class="appPayreminder__table">
                <p class="appPayreminder__table-header">Jouw bestelling met order nummer: <b>123456789</b></p>
                <table>
                  <tbody>
                    <tr>
                      <td>Winbedrag</td>
                      <td data-winbedrag>&euro; 24</td>
                    </tr>
                    <tr>
                      <td>Verzendkosten</td>
                      <td data-verzendkosten>&euro; 7,95</td>
                    </tr>
                    <tr>
                      <td>Veilingkosten</td>
                      <td data-veilingkosten>&euro; 0,99</td>
                    </tr>
                    <tr>
                      <td>Betaalkosten</td>
                      <td data-betaalkosten>&euro; 0,95</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr class="appPayreminder__table-total">
                      <td>Totaal</td>
                      <td data-totaal>&euro; 25,94</td>
                    </tr>
                  </tfoot>
                </table>
                <p class="appPayreminder__table-footer">Neem <a class="text-violet" href="contact.html"><u>contact</u></a> op voor vragen over je betaling.</p>
              </div>
            </div>
            <div class="col-lg-6 text-center">
              {{ countdown('02', '23', '58', '03') }}
              <!-- @dev this can either be a `<button type="submit"> and a `<a href="#/"></a>` in both cases keep the other attributes: --><a href="checkout.html" class="btn btn-xl btn-success mt-5">Direct betalen</a><!-- end @dev -->
              <p class="mt-4">Eerst mogelijke verzenddatum 29 september</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End macro: `modal__payreminder` -->
{% endmacro %}
