{% extends 'layouts/default.njk' %}

{% block body_class %}page--404{% endblock %}

{% block content %}
  <article class="container hs404">
    <div class="row my-md-5 my-lg-5 py-lg-5">
      <div class="col-md-5">
        <img class="hs404__img img-fluid" src="images/page__404-emoticon.png" alt="Not found">
      </div>
      <div class="col-md-7 d-flex flex-column align-items-stretch">
        <header>
          <h1 class="hs404__title">Ehm 404...</h1>
          <h3 class="hs404__txt">Daar ging iets mis. De pagina die je zoekt is kwijt. Kunnen we je blij maken met iets anders?</h3>
        </header>
        <div class="row hs404__rowtxt">
          <div class="col-sm-6">
            <a class="btn btn-lg btn-block btn-success" href="#">Maak me blij!</a>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-lg btn-block btn-white" href="register.html" data-authmodal="register">Eerst aanmelden</a>
          </div>
        </div>
      </div>
    </div>
    <div class="hs404__cats hidden-md-down">
      {{ macros.nav_categories(common.subheader) }}
    </div>
  </article>
{% endblock %}
