<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block meta_title %}HelloSpecial{% block meta_title__post %}{% endblock %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="kuus <kunderikuus@gmail.com> (http://kunderikuus.net)">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400" rel="stylesheet">
    <base href="/"><!-- for github deploy only -->
    {# Place favicon.ico in the root directory #}

    <!-- build:css styles/app.css inline-->
    <link rel="stylesheet" href="styles/app.css">
    <!-- endbuild-->
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block body %}
    {% endblock %}

    {% block body_scripts %}
    {# Google Analytics: change UA-XXXXX-X to be your site's ID. #}
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <script>
      window.i18n = {
        // set here from the backend the current langcode
        "current": "en",
        // here are the translations
        "en": {
          "bieden": "Bid",
          "eenmaal": "One time...",
          "andermaal": "Other time...",
          "geboden": "bid placed...",
          "geboden-timeless": "Bid placed",
          "verkocht": "Sold!",
          "bieden": "Please Bid",
          "winnen": "Winning",
          "geladen": "Loading Auction",
          "gesloten": "Closing",
          "controleren": "Checking...",
          "uitverkocht": "Sold out"
        },
        "nl": {
          "bieden": "Bid",
          "eenmaal": "Eenmaal...",
          "andermaal": "Andermaal...",
          "geboden": "Geboden...",
          "geboden-timeless": "Geboden",
          "verkocht": "Verkocht!",
          "bieden": "Bieden",
          "winnen": "Winnen",
          "geladen": "Veiling wordt geladen",
          "gesloten": "Veiling wordt gesloten",
          "controleren": "Controleren...",
          "uitverkocht": "Uitverkocht"
        },
        "fr": {
          "bieden": "Bid",
          "eenmaal": "Eenmaal...",
          "andermaal": "Andermaal...",
          "geboden": "Geboden...",
          "geboden-timeless": "Geboden",
          "verkocht": "Verkocht!",
          "bieden": "Bieden",
          "winnen": "Winnen",
          "geladen": "Veiling wordt geladen",
          "gesloten": "Veiling wordt gesloten",
          "controleren": "Controleren...",
          "uitverkocht": "Uitverkocht"
        }
      };
    </script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js"></script> -->

    <!-- build:js scripts/vendor.js inline-->
    <!-- endbuild-->

    <!-- build:js scripts/app.js inline-->
    <script src="scripts/vendor.modernizr.js"></script>
    <!-- injectAppCustomVendors:js-->
    <script src="scripts/vendor.jquery.dataTables.js"></script>
    <script src="scripts/vendor.jquery.highlight.js"></script>
    <script src="scripts/vendor.jquery.liveFilter.js"></script>
    <script src="scripts/vendor.jquery.matchHeight.js"></script>
    <script src="scripts/vendor.jquery.slick-carousel.js"></script>
    <script src="scripts/vendor.jquery.sticky.js"></script>
    <script src="scripts/vendor.jquery.validate.aa.js"></script>
    <script src="scripts/vendor.jquery.validate.additional-methods.js"></script>
    <!-- endinject-->
    <script src="scripts/app.js"></script>
    <!-- endbuild-->
    {% endblock %}

    {% block body_end %}
    {% endblock %}
  </body>
</html>