{% extends 'layouts/default--fluid.njk' %}

{% block body_class %}page--aboutus{% endblock %}

{% block content %}
  <article id="hsAboutus" class="hsAboutus">
    <div class="row hsPage__intro-bg hsPage__intro--withicon" style="background-image: url(images/page__aboutus-header.jpg)">
      <div class="hsPage__intro-overlay hsPage__intro-overlay--faded"></div>
      <div class="container">
        <div class="row hsPage__intro">
          <div class="col">
            <h1 class="hsPage__intro-title">Hello!</h1>
            <img class="hsPage__intro-icon" src="images/page__aboutus-emoticon.png" alt="Hello!" height="80">
          </div>
        </div>
      </div>
    </div>
    <div class="row py-lg-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-10 offset-1 text-center mb-4">
            <p>HelloSpecial is een interactieve en razendsnelle veilingsite waar vraag en aanbod van producten samenkomt. Bekijk online het ruime productaanbod, bied mee op een Special naar keuze en profiteer van hoge kortingen.</p>
            <p>Wij bieden producten aan in de breedste zin van het woord en in de volgende categorieën:</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-10 offset-xl-1">
            <div class="row">
              <a class="col-12 col-md-6 col-lg-4 iconblock my-3" href="#">
                <img class="iconblock__icon" src="images/icon-huis-tuin.png" alt="Huis &amp; Tuin" height="50">
                <h3 class="iconblock__title">Huis &amp; Tuin</h3>
              </a>
              <a class="col-12 col-md-6 col-lg-4 iconblock my-3" href="#">
                <img class="iconblock__icon" src="images/icon-beauty-verzorging.png" alt="Beauty &amp; Verzorging" height="50">
                <h3 class="iconblock__title pink-warm">Beauty &amp; Verzorging</h3>
              </a>
              <a class="col-12 col-md-6 col-lg-4 iconblock my-3" href="#">
                <img class="iconblock__icon" src="images/icon-baby-kinderen.png" alt="Baby &amp; Kinderen" height="50">
                <h3 class="iconblock__title violet">Baby &amp; Kinderen</h3>
              </a>
              <a class="col-12 col-md-6 col-lg-4 iconblock my-3" href="#">
                <img class="iconblock__icon" src="images/icon-hobby-vrije-tijd.png" alt="Hobby &amp; Vrije tijd" height="50">
                <h3 class="iconblock__title pink-warm">Hobby &amp; Vrije tijd</h3>
              </a>
              <a class="col-12 col-md-6 col-lg-4 iconblock my-3" href="#">
                <img class="iconblock__icon" src="images/icon-gadgets-electronica.png" alt="Gadgets &amp; Electronica" height="50">
                <h3 class="iconblock__title violet">Gadgets &amp; Electronica</h3>
              </a>
              <a class="col-12 col-md-6 col-lg-4 iconblock my-3" href="#">
                <img class="iconblock__icon" src="images/icon-mode-sieraden.png" alt="Mode &amp; Sieraden" height="50">
                <h3 class="iconblock__title">Mode &amp; Sieraden</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row hsBg--white py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <div class="row">
              <div class="col-12 col-lg-4 media">
                <img class="d-flex" src="images/page__aboutus-step1.png" alt="Mode &amp; Sieraden" width="80">
                <div class="media-body">
                  <h3 class="display-4">Stap 1</h3>
                  <p>Maak gratis een account aan om mee te bieden op jouw favoriete ‘Specials’</p>
                </div>
              </div>
              <div class="col-12 col-lg-4 media">
                <img class="d-flex" src="images/page__aboutus-step2.png" alt="Mode &amp; Sieraden" width="80">
                <div class="media-body">
                  <h3 class="display-4">Stap 2</h3>
                  <p>Bied gratis mee en betaal alleen als je de veiling wint.</p>
                </div>
              </div>
              <div class="col-12 col-lg-4 media">
                <img class="d-flex" src="images/page__aboutus-step3.png" alt="Mode &amp; Sieraden" width="80">
                <div class="media-body">
                  <h3 class="display-4">Stap 3</h3>
                  <p>Je ontvangt jouw ‘Special’ binnen enkele dagen thuis</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h4 class="pb-4 text-muted">Actuele Specials</h4>
          </div>
          {% for item in common.items.slice(5) %}
            <div class="col-12 col-lg-3 hsItem__col">
              {{ macros.itemCard(item, loop.index) }}
            </div>
          {% endfor %}
          <div class="col-12 text-center py-5">
            <a href="index.html" class="btn btn-lg btn-success">Bekijk alle specials</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-5 hsBg--white text-center">
      <div class="container">
        <div class="row align-items-center row--mobile">
          <div class="col-12 col-lg-5 offset-lg-1 hidden-md-down">
            <h3 class="display-4">HelloSpecial is mobiel!</h3>
            <h4 class="display-5">Altijd, overal bieden en winnen!</h4>
            <img class="mt-4 img-fluid" src="images/mockups.png" alt="Smartphone, Tablet, Laptop" width="340">
          </div>
          <div class="col-12 col-lg-5 offset-lg-1">
            <h4>HelloSpecial beschikt over het WebWinkelKeur keurmerk</h4>
            <a href="https://www.webwinkelkeur.nl/leden/HelloSpecial_1201424.html" title="Webwinkel Keurmerk en klantebeoordelingen" rel="nofollow"><img class="img-fluid" src="https://dashboard.webwinkelkeur.nl/banners/3" alt="Webwinkel Keurmerk en klantebeoordelingen" title="Webwinkel Keurmerk en klantebeoordelingen"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="container">
        <div class="row text-center row--team">
          <div class="col-12 pb-4">
            <h3>Het Team</h3>
          </div>
          <div class="col-lg-10 offset-lg-1">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img class="img-fluid" src="images/team-Lisa.png" alt="Lisa Groenewegen" width="150">
                <h5 class="display-4">Lisa Groenewegen
                  <small class="font-sans">CEO</small>
                </h5>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img class="img-fluid" src="images/team-Erwin.png" alt="Erwin Nandpersad" width="150">
                <h5 class="display-4">Erwin Nandpersad
                  <small class="font-sans">CTO</small>
                </h5>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img class="img-fluid" src="images/team-Axel.png" alt="Axel Kenninck" width="150">
                <h5 class="display-4">Axel Kenninck
                  <small class="font-sans">CPO/CMO</small>
                </h5>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img class="img-fluid" src="images/team-Lisa.png" alt="Lisa Groenewegen" width="150">
                <h5 class="display-4">Lisa Groenewegen
                  <small class="font-sans">CEO</small>
                </h5>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img class="img-fluid" src="images/team-placeholder.png" alt="Jos verbeek" width="150">
                <h5 class="display-4">Jos verbeek
                  <small class="font-sans">Commercial Director</small>
                </h5>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img class="img-fluid" src="images/team-placeholder.png" alt="Matthijs Bon" width="150">
                <h5 class="display-4">Matthijs Bon
                  <small class="font-sans">PHP Developer</small>
                </h5>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img class="img-fluid" src="images/team-Shirley.png" alt="Shirley Klingenstijn" width="150">
                <h5 class="display-4">Shirley Klingenstijn
                  <small class="font-sans">Operations Coördinator</small>
                </h5>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img class="img-fluid" src="images/team-Dhana.png" alt="Dhana Bieshaar" width="150">
                <h5 class="display-4">Dhana Bieshaar
                  <small class="font-sans">Backoffice</small>
                </h5>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img class="img-fluid" src="images/team-Thijmen.png" alt="Thijmen Francken" width="150">
                <h5 class="display-4">Thijmen Francken
                  <small class="font-sans">Growth Hacker</small>
                </h5>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img class="img-fluid" src="images/team-Bart.png" alt="Bart van den Hengel" width="150">
                <h5 class="display-4">Bart van den Hengel
                  <small class="font-sans">Email Marketeer</small>
                </h5>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img class="img-fluid" src="images/team-Tanja.png" alt="Tanja de Graaf" width="150">
                <h5 class="display-4">Tanja de Graaf
                  <small class="font-sans">Finance Administrator</small>
                </h5>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img class="img-fluid" src="images/team-Maarten.png" alt="Maarten Bas" width="150">
                <h5 class="display-4">Maarten Bas
                  <small class="font-sans">Online Marketing Intern</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center py-5">
          <div class="col-12 col-lg-7 offset-lg-1">
            <h4 class="hsPage__title">We’re hiring!</h4>
            <p>Kom je ook bij ons werken? We zijn actief op zoek naar enthousiaste gedreven professionals om ons team te komen versterken. Ben je op zoek naar een nieuwe uitdaging? Zoek dan niet verder. Bekijk snel onze vacatures <strong>➜ ➜ ➜</strong></p>
          </div>
          <div class="col-12 col-lg-4 text-center">
            <a class="btn btn-lg btn-success" href="#" target="_blank">Vacatures</a>
          </div>
        </div>
  </article>
{% endblock %}
