{% extends 'layouts/default.njk' %}

{% block body_class %}page--contact{% endblock %}

{% block content %}
  <article class="container hsContact hsContent">
    <div class="row">
      <div class="col-lg-7 col-xl-8">
        <div class="hsContent__card mb-4">
          <h1 class="hsContent__title hs--shortborder hsContent__pagetitle">Contactgegevens</h1>
          <p>Goede service en klanttevredenheid vinden wij bij HelloSpecial zeer belangrijk. Voor algemene vragen of opmerkingen kun je terecht bij de <u>veelgestelde vragen</u>. Staat je vraag er niet tussen? Neem dan contact op met onze klantenservice.</p>
        </div>
        <div class="hsContent__card">
          <h2 class="h4 hsContent__title hs--shortborder">Stuur ons een bericht</h2>
          <form class="hsContact__form form-validate" action="/">
            <div class="row">
              <div class="form-group col-md-5">
                <label for="naam" class="control-label">Naam</label>
                <input type="text" class="form-control" id="naam" name="naam" placeholder="Jeffrey Kuik" required>
              </div>
              <div class="form-group col-md-5">
                <label for="email" class="control-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="jeffrey@hellospecial.com" required>
              </div>
              <div class="form-group col-md-12">
                <label for="bericht" class="control-label">Bericht</label>
                <textarea class="form-control" id="bericht" name="bericht" rows="9" placeholder="Hallo HelloSpecial, ..." required></textarea>
              </div>
              <div class="form-group pt-3 col-12">
                <button type="submit" class="btn btn-success btn-lg">Versturen</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-5 col-xl-4 hsContact__info">
        <div class="hsContent__card">
          <h2 class="h4 hsContent__title hs--shortborder">Contact informatie</h2>
          <div></div><!-- @@dev this is required despite being empty -->
          <div class="hsContact__inforow hsContact__inforow--address">
            <img class="hsContact__inforow-img" src="images/icon-address.png" alt="address">
            <div class="hsContact__inforow-txt">Kabelweg 43 <br>1014 BA Amsterdam</div>
          </div>
          <div class="hsContact__inforow hsContact__inforow--telephone">
            <img class="hsContact__inforow-img" src="images/icon-telephone.png" alt="telephone">
            <div class="hsContact__inforow-txt">+31 (0)20 - 261 894 0 <div class="small">(ma - vr 9.00 - 17.00u)</div></div>
          </div>
          <div class="hsContact__inforow hsContact__inforow--email">
            <img class="hsContact__inforow-img" src="images/icon-email.png" alt="email">
            <div class="hsContact__inforow-txt"><a href="mailto:customerservice@hellospecial.com">customerservice@hellospecial.com</a></div>
          </div>
          <div class="hsContact__inforow hsContact__inforow--info">
            <img class="hsContact__inforow-img" src="images/icon-info.png" alt="info">
            <div class="hsContact__inforow-txt">
              <b>KvK</b>: 67857116 0000<br>
              <b>BTW nummer</b>: 857201013B01<br>
              <b>IBAN</b>: NL38ABNA0557258456
            </div>
          </div>
          <div class="hsContact__inforow hsContact__inforow--share">
            <a href="https://facebook.com/hellospecial" target="_blank"><img src="images/share-logo--facebook.png" width="28" height="28" alt="Facebook"></a>
            <a href="https://linkedin.com/hellospecial" target="_blank"><img src="images/share-logo--linkedin.png" width="28" height="28" alt="LinkedIn"></a>
            <a href="https://instagram.com/hellospecial" target="_blank"><img src="images/share-logo--instagram.png" width="28" height="28" alt="Instagram"></a>
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock %}
