{% extends 'layouts/default.njk' %}

{% block body_class %}page--hoe-werkt-het-bieden{% endblock %}

{% block content %}
  <article class="container hsHoewerkt">
    <div class="row hsPage__intro">
      <div class="col">
        <h1>Hoe werkt het?</h1>
        <hr class="divider"></hr>
        <p>Bij HelloSpecial hoef je zelf geen bedrag in te vullen om te bieden. Met slechts één druk op de knop kan jij de winnaar zijn van een te gekke Special. Binnen enkele seconden weet je of je hebt gewonnen.</p>
      </div>
    </div>
    <div class="row hsHoewerkt__steps">
      <div class="col-lg-12 iconblock-list">
        <a href="#registreren" class="iconblock">
          <img class="iconblock__img" src="images/registreren--desktop.png" alt="Registreren">
          <h3 class="text-hide">1. Registreren</h3>
        </a>
        <a href="#bieden" class="iconblock">
          <img class="iconblock__img" src="images/bieden--desktop.png" alt="Bied de win!">
          <h3 class="text-hide">2. Bied de win!</h3>
        </a>
        <a href="#betalen" class="iconblock">
          <img class="iconblock__img" src="images/betalen--desktop.png" alt="Betaal veilig online">
          <h3 class="text-hide">3. Betaal veilig online</h3>
        </a>
        <a href="#bezorging" class="iconblock">
          <img class="iconblock__img" src="images/bezorging--desktop.png" alt="Ontvang je bestelling">
          <h3 class="text-hide">4. Ontvang je bestelling</h3>
        </a>
      </div>
      <div class="clearfix hidden-md-down w-100"></div>
      <div class="col-lg-4 offset-lg-1 col-xl-3 offset-xl-2 hidden-md-down text-center">
        <img class="img-fluid mr-5" src="images/image-1.png">
      </div>
      <div id="registreren" class="col-lg-7 hsHoewerkt__text">
        <img class="iconblock__img iconblock__img--mobile" src="images/registreren--mobile.png" alt="Registreren">
        <h3>1. Maak een gratis account aan</h3>
        <p>Om in te loggen en mee te kunnen bieden op alle Specials dien je eerst een gratis account aan te maken. Dit kan door je te <a class="text-underline" href="register.html" data-authmodal="register">registreren</a> met je <span class="text-nowrap">e-mailadres</span> en wachtwoord of door in te loggen via Facebook.</p>
      </div>
      <div class="col-lg-12 hidden-md-down hsHoewerkt__arrow"><img src="images/arrow1.png" height="120"></div>
      <div id="bieden" class="col-lg-5 offset-lg-1 hsHoewerkt__text">
        <img class="iconblock__img iconblock__img--mobile" src="images/bieden--mobile.png" alt="Bied de win!">
        <h3>2. Bied mee en win</h3>
        <p>Bekijk het aanbod, bied mee op een Special naar keuze en profiteer van hoge kortingen. Met één druk op de knop zie je binnen enkele seconden of jij de winnaar bent.</p>
      </div>
      <div class="col-lg-6 hidden-md-down">
        <img class="img-fluid" src="images/image-2.png">
      </div>
      <div class="col-lg-12 hidden-md-down hsHoewerkt__arrow"><img src="images/arrow2.png" height="120"></div>
      <div class="col-lg-5 offset-lg-1 hidden-md-down hsHoewerkt__payicons">
        <img src="images/ideal.png" height="90">
        <img src="images/paypal.png" height="90">
        <img src="images/bancontact.png" height="90">
        <img src="images/sofort.png" height="90">
        <img src="images/afterpay.png" height="90">
        <img src="images/mastercard.png" height="90">
        <img src="images/visa.png" height="90">
      </div>
      <div id="betalen" class="col-lg-6 hsHoewerkt__text">
        <img class="iconblock__img iconblock__img--mobile" src="images/betalen--mobile.png" alt="Betaal veilig online">
        <h3>3. Betaling</h3>
        <p>Je kunt je gewonnen Special direct veilig betalen binnen je profiel met iDEAL, creditcard of PayPal. Na betaling ontvang je een orderbevestiging per mail.</p>
      </div>
      <div class="col-lg-12 hidden-md-down hsHoewerkt__arrow"><img src="images/arrow3.png" height="120"></div>
      <div id="bezorging" class="col-lg-5 offset-lg-1 hsHoewerkt__text hsHoewerkt__step--8">
        <img class="iconblock__img iconblock__img--mobile" src="images/bezorging--mobile.png" alt="Ontvang je bestelling">
        <h3>4. Verzending</h3>
        <p>Na betaling wordt je gewonnen 'special' verzonden naar het opgegeven adres. De levertijd verschilt per Special en wordt altijd vermeld bij de voorwaarden.</p>
      </div>
      <div class="col-lg-5 offset-lg-1 hidden-md-down">
        <img src="images/image-4.png">
      </div>
    </div>
    <div class="row hsHoewerkt__video">
      <div class="col col-lg-8 offset-lg-2">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kh3MwpypfOs" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </article>
{% endblock %}
