{% extends 'layouts/default.njk' %}

{% block body_class %}page--faq{% endblock %}

{% block content %}
  <article id="hsFaq" class="container hsFaq">
    <div class="row hsPage__intro">
      <div class="col">
        <h1>Veelgestelde vragen</h1>
        <hr class="divider"></hr>
        <form class="input-group input-group-lg hsFaq__search">
          <input id="hsFaq_filterInput" type="text" class="form-control" placeholder="Stel je vraag of zoek">
          <span class="input-group-btn">
            <button id="hsFaq_filterSubmit" class="btn btn-success" type="button">Zoeken</button>
          </span>
        </form>
      </div>
    </div>
    <div id="hsFaq_filterList">
      <div class="row hsFaq__row">
        <div class="col-lg-6 hsFaq__col">
          {{ macros.content__faq_group(common.faqs[0]) }}
        </div>
        <div class="col-lg-5 offset-lg-1 hsFaq__col">
          {{ macros.content__faq_group(common.faqs[1]) }}
        </div>
      </div>
      <div class="row hsFaq__row">
        <div class="col-lg-6 hsFaq__col">
          {{ macros.content__faq_group(common.faqs[2]) }}
        </div>
        <div class="col-lg-5 offset-lg-1 hsFaq__col">
          {{ macros.content__faq_group(common.faqs[3]) }}
        </div>
      </div>
    </div>
    <div class="row hsFaq__contacts">
      <div class="col-12 text-center">
        <h5 class="text-violet font-sans">Staat je vraag er niet tussen?</h5>
        <p>neem dan contact op met onze klantenservice via:</p>
      </div>
      <div class="col-md-6 col-lg-5">
        <div class="media hsFaq__media">
          <div class="mr-3 round-img hsGradient--green">
            <img src="images/email.png">
          </div>
          <div class="media-body">
            <strong>Email</strong>
            <p>Op werkdagen reageren we binnen 24 uur <br><a href="mailto:customerservice@hellospecial.com">customerservice@hellospecial.com</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media hsFaq__media">
          <div class="mr-3 round-img hsGradient--green">
            <img src="images/phone.png">
          </div>
          <div class="media-body">
            <strong>Telefoon</strong>
            <p>Bel naar <a href="tel:0202618940">020 - 2618940</a><br><small>(ma - vr 9.00 - 17u)</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="media hsFaq__media">
          <div class="mr-3 round-img hsGradient--green">
            <img src="images/chat.png">
          </div>
          <div class="media-body">
            <strong>Chat</strong>
            <p>We reageren direct <br><small>(ma - vr 9.00 - 17u)</small></p>
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock %}
