{% extends 'layouts/default.njk' %}

{% block body_class %}page--detail{% endblock %}

{# {% block header %}
  {{ macros.header() }}
{% endblock %} #}

{% block content %}
  {# <div class="row appItemDetail__back">
    <div class="col-12">
      <a class="appLink--withicon" href="index.html"><i class="icon icon-keyboard_arrow_left icon--small"></i> <span>Alle veilingen</span></a>
    </div>
  </div> #}
  {{ macros.itemDetail(common.detail) }}
{% endblock %}
