{% extends 'layouts/default.njk' %}

{% block body_class %}page--detail{% endblock %}

{% block content %}
  {# <div class="row">
    {{ macros.nav_categories(common.subheader, true, noIcons=true) }}
  </div> #}
  {{ macros.itemDetail(common.detail, auctionIsClosed=true) }}
{% endblock %}
