{% extends 'layouts/account.njk' %}

{% block body_class %}page--account-gewonnen{% endblock %}

{% block content %}
<div class="card">
  <div class="card-block hsAccount hsAccount__table">
    <h2 class="display-4">Mijn Gewonnen Specials</h2>
    <table class="table table-responsive datatable">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th>Winnen bod</th>
          <th>Status</th>
          <th>T&amp;T</th>
          <th>Datum</th>
        </tr>
      </thead>
      <tbody>
        {{ macros.account_tablerow_gewonnen('5.jpg', 'Magnani Italy 5-delige messenset', '42,00', 'Betalen', 'btn-warning', '04-05-2017', 'PostNL', 'ASD2131ASD') }}
        {{ macros.account_tablerow_gewonnen('2.jpg', 'Magnani Italy 5-delige messenset', '42,00', 'Betaald', 'btn-violet', '04-05-2017', 'RoyalPost', 'F2131ASD') }}
        {{ macros.account_tablerow_gewonnen('5.jpg', 'Magnani Italy 5-delige messenset', '42,00', 'Geannuleerd', 'btn-danger', '04-05-2017', 'PostNL', 'CC1F22342') }}
        {{ macros.account_tablerow_gewonnen('2.jpg', 'Magnani Italy 5-delige messenset', '42,00', 'Verzonden', 'btn-success', '04-05-2017', 'PostNL', 'ASD2131ASD') }}
        {{ macros.account_tablerow_gewonnen('5.jpg', 'Magnani Italy 5-delige messenset', '42,00', 'Betalen', 'btn-warning', '04-05-2017', 'PostNL', 'ASD2131ASD') }}
        {{ macros.account_tablerow_gewonnen('2.jpg', 'Magnani Italy 5-delige messenset', '42,00', 'Betaald', 'btn-violet', '04-05-2017', 'RoyalPost', 'F2131ASD') }}
        {{ macros.account_tablerow_gewonnen('5.jpg', 'Magnani Italy 5-delige messenset', '42,00', 'Geannuleerd', 'btn-danger', '04-05-2017', 'PostNL', 'CC1F22342') }}
        {{ macros.account_tablerow_gewonnen('2.jpg', 'Magnani Italy 5-delige messenset', '42,00', 'Verzonden', 'btn-success', '04-05-2017', 'PostNL', 'ASD2131ASD') }}
        {{ macros.account_tablerow_gewonnen('5.jpg', 'Magnani Italy 5-delige messenset', '42,00', 'Betalen', 'btn-warning', '04-05-2017', 'PostNL', 'ASD2131ASD') }}
        {{ macros.account_tablerow_gewonnen('2.jpg', 'Magnani Italy 5-delige messenset', '42,00', 'Betaald', 'btn-violet', '04-05-2017', 'RoyalPost', 'F2131ASD') }}
        {{ macros.account_tablerow_gewonnen('5.jpg', 'Magnani Italy 5-delige messenset', '42,00', 'Geannuleerd', 'btn-danger', '04-05-2017', 'PostNL', 'CC1F22342') }}
        {{ macros.account_tablerow_gewonnen('2.jpg', 'Magnani Italy 5-delige messenset', '42,00', 'Verzonden', 'btn-success', '04-05-2017', 'PostNL', 'ASD2131ASD') }}
        {{ macros.account_tablerow_gewonnen('5.jpg', 'Magnani Italy 5-delige messenset', '42,00', 'Betalen', 'btn-warning', '04-05-2017', 'PostNL', 'ASD2131ASD') }}
        {{ macros.account_tablerow_gewonnen('2.jpg', 'Magnani Italy 5-delige messenset', '42,00', 'Betaald', 'btn-violet', '04-05-2017', 'RoyalPost', 'F2131ASD') }}
        {{ macros.account_tablerow_gewonnen('5.jpg', 'Magnani Italy 5-delige messenset', '42,00', 'Geannuleerd', 'btn-danger', '04-05-2017', 'PostNL', 'CC1F22342') }}
        {{ macros.account_tablerow_gewonnen('2.jpg', 'Magnani Italy 5-delige messenset', '42,00', 'Verzonden', 'btn-success', '04-05-2017', 'PostNL', 'ASD2131ASD') }}
      </tbody>
    </table>
    {# {{ macros.pagination() }} #}
  </div>
  {{ macros.modal__track_trace() }}
</div>
{% endblock %}
