{% extends 'layouts/account.njk' %}

{% block body_class %}page--account-biedingen{% endblock %}

{% block content %}
<div class="card">
  <div class="card-block hsAccount hsAccount__table">
    <h2 class="display-4">Mijn Biedingen</h2>
    <table class="table table-responsive datatable">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th>Aantal biedingen</th>
          <th>Hoogste bod</th>
          <th>Datum</th>
        </tr>
      </thead>
      <tbody>
        {{ macros.account_tablerow_biedingen('5.jpg', 'Magnani Italy 5-delige messenset', 2, '22,00', '22-03-2017', '11:06:22') }}
        {{ macros.account_tablerow_biedingen('2.jpg', 'Magnani Italy 5-delige messenset', 2, '22,00', '22-03-2017', '11:06:22') }}
        {{ macros.account_tablerow_biedingen('5.jpg', 'Magnani Italy 5-delige messenset', 2, '22,00', '22-03-2017', '11:06:22') }}
        {{ macros.account_tablerow_biedingen('5.jpg', 'Magnani Italy 5-delige messenset', 2, '22,00', '22-03-2017', '11:06:22') }}
        {{ macros.account_tablerow_biedingen('2.jpg', 'Magnani Italy 5-delige messenset', 2, '22,00', '22-03-2017', '11:06:22') }}
        {{ macros.account_tablerow_biedingen('5.jpg', 'Magnani Italy 5-delige messenset', 2, '22,00', '22-03-2017', '11:06:22') }}
        {{ macros.account_tablerow_biedingen('5.jpg', 'Magnani Italy 5-delige messenset', 2, '22,00', '22-03-2017', '11:06:22') }}
        {{ macros.account_tablerow_biedingen('2.jpg', 'Magnani Italy 5-delige messenset', 2, '22,00', '22-03-2017', '11:06:22') }}
        {{ macros.account_tablerow_biedingen('5.jpg', 'Magnani Italy 5-delige messenset', 2, '22,00', '22-03-2017', '11:06:22') }}
        {{ macros.account_tablerow_biedingen('5.jpg', 'Magnani Italy 5-delige messenset', 2, '22,00', '22-03-2017', '11:06:22') }}
        {{ macros.account_tablerow_biedingen('2.jpg', 'Magnani Italy 5-delige messenset', 2, '22,00', '22-03-2017', '11:06:22') }}
        {{ macros.account_tablerow_biedingen('5.jpg', 'Magnani Italy 5-delige messenset', 2, '22,00', '22-03-2017', '11:06:22') }}
        {{ macros.account_tablerow_biedingen('5.jpg', 'Magnani Italy 5-delige messenset', 2, '22,00', '22-03-2017', '11:06:22') }}
        {{ macros.account_tablerow_biedingen('2.jpg', 'Magnani Italy 5-delige messenset', 2, '22,00', '22-03-2017', '11:06:22') }}
        {{ macros.account_tablerow_biedingen('5.jpg', 'Magnani Italy 5-delige messenset', 2, '22,00', '22-03-2017', '11:06:22') }}
      </tbody>
    </table>
    {# {{ macros.pagination() }} #}
  </div>
  {{ macros.modal__track_trace() }}
</div>
{% endblock %}

