{% extends 'layouts/account.njk' %}

{% block body_class %}page--account-biedingen{% endblock %}

{% block content %}
<div class="card hsNocontent">
  <div class="card-block">
    <h2 class="display-4"><b>Mijn Biedingen</b></h2>
    <div class="hsNocontent__cnt">
      <img class="hsNocontent__img" src="images/misc-sadface.png">
      <h4 class="hsNocontent__title">Je hebt nog niet geboden.</h4>
      <p class="hsNocontent__msg">Bied mee op onze Specials en win!</p>
      <a class="hsNocontent__btn btn btn-lg btn-success" href="#">Bied mee</a>
    </div>
  </div>
</div>
{% endblock %}
