{% extends 'layouts/account.njk' %}

{% block body_class %}page--account-gegevens{% endblock %}

{% block content %}
<div class="card">
  <form class="card-block hsAccount hsAccount__form">
    <h2 class="display-4"><b>Mijn gegevens</b></h2>
    <div id="gegevens_show">
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6">
              <span class="hsAccount__key">Naam</span>
            </div>
            <div class="col-md-6">
              <span class="hsAccount__value">Dhr. Jeffrey Kuik</span>
            </div>
            <div class="col-md-6">
              <span class="hsAccount__key">Adres</span>
            </div>
            <div class="col-md-6">
              <span class="hsAccount__value">Jacob Honigstraat 15 <br>1544 VJ Zaandijk <br> Nederland</span>
            </div>
            <div class="col-md-6">
              <span class="hsAccount__key">Naam</span>
            </div>
            <div class="col-md-6">
              <span class="hsAccount__value">Telefoonnummer</span>
            </div>
            <div class="col-md-6">
              <span class="hsAccount__key">067123819</span>
            </div>
            <div class="col-md-6">
              <span class="hsAccount__value">jeffrey@hellospecial.com</span>
            </div>
            <div class="col-md-6">
              <span class="hsAccount__key">Geboortedatum</span>
            </div>
            <div class="col-md-6">
              <span class="hsAccount__value">11 september 1994</span>
            </div>
            <div class="col-md-6">
              <span class="hsAccount__key">Nieuwsbrief</span>
            </div>
            <div class="col-md-6">
              <span class="hsAccount__value">Ja</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button id="gegevens_switchedit" class="btn btn-success btn-lg d-block-sm-down">Bewerken</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="gegevens_edit">
      <div class="form-group form-group--custom-radio">
        <label class="control-label">Aanhef</label>
        <label for="title1" class="custom-control custom-radio">
          <input id="title1" name="title" type="radio" class="custom-control-input" checked>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Dhr.</span>
        </label>
        <label for="title2" class="custom-control custom-radio">
          <input id="title2" name="title" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Mvr.</span>
        </label>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="surname" class="control-label">Voornam</label>
              <input type="text" class="form-control" id="surname">
            </div>
            <div class="form-group col-md-6">
              <label for="firstname" class="control-label">Achternaam</label>
              <input type="text" class="form-control" id="firstname">
              <small class="form-text text-muted">Example help text.</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="form-group col-md-8 has-feedback has-success">
              <label for="straat" class="control-label">Straat</label>
              <input type="text" class="form-control form-control-success" id="straat">
              <small class="form-control-feedback">Example of input validation feedback.</small>
            </div>
            <div class="form-group col-md-4">
              <label for="huisnummer" class="control-label">Huisnummer</label>
              <input type="text" class="form-control" id="huisnummer">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="form-group col-md-4">
              <label for="postcode" class="control-label">Postcode</label>
              <input type="text" class="form-control" id="postcode">
            </div>
            <div class="form-group col-md-8">
              <label for="woonplats" class="control-label">Woonplats</label>
              <input type="text" class="form-control" id="woonplats">
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <label for="land" class="col-12">Land</label>
        <div class="col-md-10">
          <select id="land" class="custom-select w-100" name="land">
            <option selected>Select a country</option>
            <option value="nl">Nederlands</option>
            <option value="bl">België</option>
            <option value="it">Italy</option>
          </select>
        </div>
      </div>
      <div class="row form-group has-success">
        <label for="telephone" class="col-12">Telefoonnummer</label>
        <div class="col-md-10">
          <input type="tel" class="form-control form-control-success" id="telephone">
        </div>
      </div>
      <div class="row form-group has-danger">
        <label for="email" class="col-12">Email</label>
        <div class="col-md-10">
          <input type="email" class="form-control form-control-danger" id="email">
          <small class="form-control-feedback">The email is not valid.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="birthdate" class="col-12">Geboorteedatum</label>
        <div class="col-md-10">
          <div class="input-group">
            <input type="date" class="form-control" id="birthdate">
            <span class="input-group-addon"><i class="icon icon-calendar"></i></span>
          </div>
        </div>
      </div>
      <div class="form-group pt-3">
        <label for="newsletter" class="custom-control custom-checkbox">
          <input type="checkbox" id="newsletter" name="newsletter" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Ja, ik wil graag de nieuwsbrief ontvangen</span>
        </label>
      </div>
      {# <h2 class="display-4 mt-5">Betaalgegevens</h2>
      <p>Indien je de hoogste bieder bent en ervoor kiest de veiling niet binnen 5 dagen te betalen, gebruiken we je rekeningnummer om het bedrag automatisch te incasseren</p>
      <div class="form-group row">
        <label for="IBAN" class="col-12">IBAN</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="IBAN">
        </div>
      </div> #}
      <div class="row form-group pt-3">
        <div class="col-md-10">
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-success btn-lg d-block-sm-down">Opslaan</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}

