{% extends 'layouts/default.njk' %}

{% block body_class %}page--thanks{% endblock %}

{% block content %}
  <article class="container hsThanks">
    <div class="row hsPage__intro">
      <div class="col">
        <h1 class="text-uppercase">Gefeliciteerd!</h1>
        <hr class="divider"></hr>
        <div class="media hsCheckout__product">
          <img class="d-flex mr-3 mb-3 hsCheckout__product-img" src="images/preview/1.png" width="120">
          <div class="media-body">
            <h5 class="mt-0 hsCheckout__product-name font-sans">Magnani Italy 5-delige messenset</h5>
          </div>
        </div>
        <p>We hebben je betaling in goede orde ontvangen Jeffrey.<br>
        Je ordernummer is <strong>7959586</strong>. We gaan direct aan het werk om je bestelling te verwerken.<br>
        Binnen enkele seconden ontvang je een bevestigingsmail op het opgegeven emailadres. Het kan zijn dat de email in je spam folder terecht komt.<br>
        Je kunt je bestelling in je account bij <a href="#" class="hsLink">gewonnen specials</a> volgen.</p>
      </div>
    </div>
    <div class="row hsThanks__steps">
      <h2 class="col-12 text-uppercase">Wat gebeurt er nu?</h2>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-4">
            <h3 class="hsThanks__steps-title">1. Bevestiging per mail</h3>
            <p>Binnen enkele seconden ontvang je een bevestigingsmail op het opgegeven emailadres.</p>
          </div>
          <div class="col-md-4">
            <h3 class="hsThanks__steps-title pink-warm">2. Special wordt verzonden</h3>
            <p>Zodra je Special klaar is wordt deze verzonden door de leverancier. De Track & Trace code kun je in dive account bekijken bij <a href="#" class="hsLink">gewonnen specials</a>.</p>
          </div>
          <div class="col-md-4">
            <h3 class="hsThanks__steps-title violet">3. Je ontvangt je special</h3>
            <p>De levertijd van je Special is afhankelijk van de leverancier.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row hsThanks__footer">
      <div class="col-md-6">
        <div class="hsSimpleCard">
          <h3 class="text-uppercase">Heb je nog vragen?</h3>
          <p>Als je nog vragen hebt over je Special kun je onze <a href="#" class="hsLink">veelgestelde vragen</a> pagina bezoeken. Mocht je vraag er niet tussen zitten kun je altijd <a href="#" class="hsLink">contact</a> met ons opnemen.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="hsSimpleCard">
          <h3 class="text-uppercase">Deel je ervaring</h3>
          <p>Ken jij iemand die ook wel van onze aanbiedingen gebruik wilt maken? Deel het met ze!</p>
          <ul class="list-unstyled hsThanks__share">
            <li><a href="https://facebook.com/hellospecial" target="_blank"><img src="images/share-logo--facebook.png" width="40" height="40" alt="Facebook"></a></li>
            <li><a href="https://twitter.com/hellospecial" target="_blank"><img src="images/share-logo--twitter.png" width="40" height="40" alt="Twitter"></a></li>
            <li><a href="https://linkedin.com/hellospecial" target="_blank"><img src="images/share-logo--linkedin.png" width="40" height="40" alt="LinkedIn"></a></li>
            <li><a href="https://instagram.com/hellospecial" target="_blank"><img src="images/share-logo--instagram.png" width="40" height="40" alt="Instagram"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </article>
{% endblock %}
