{% extends 'layouts/default.njk' %}

{% block body_class %}page--orderconfirm{% endblock %}

{% block header %}
  {{ macros.header() }}
{% endblock %}

{% block content %}
  <article id="appOrderconfirm" class="container appOrderconfirm">
    <div class="row hsPage__intro">
      <div class="col">
        <h1 class="text-uppercase">Gefeliciteerd!</h1>
        <hr class="divider"></hr>
      </div>
    </div>
    <div class="row appOrderconfirm__main nask">
      <div class="col-lg-7 appOrderconfirm__main-product">
        <div class="media hsContent__card">
          <img class="d-flex mr-3 mb-3" src="images/preview/5.jpg" width="120">
          <div class="media-body">
            <h4 class="hsContent__simpletitle">Magnani Italy 5-delige messenset</h4>
            <p>We hebben je betaling in goede orde ontvangen Jeffrey.<br>
            Je ordernummer is <strong>7959586</strong>. We gaan direct aan het werk om je bestelling te verwerken.</p>
            Binnen enkele seconden ontvang je een bevestigingsmail op het opgegeven emailadres. Het kan zijn dat de email in je spam folder terecht komt.</p>
            <p>Je kunt je bestelling in je account bij <a href="#" class="hsLink">gewonnen specials</a> volgen.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 appOrderconfirm__main-notifications nask__viewwrap">
      {# View: nask--granted #}
        <!-- we don't show nothing here -->
      {# View: nask--other #}
        <div class="hsContent__card" data-nask-view="other">
          <h4 class="hsContent__simpletitle hsContent__simpletitle--withimg">Nog even je aandacht <img src="images/icon-bell.png" width="30"></h4>
          <p>Onze site werkt het beste in andere browsers. Probeer ook eens 1 van deze:</p>
          <div class="hsContent__card-maincentered">
            <ul class="appOrderconfirm__browsers">
              <li class="appOrderconfirm__browsers-item">
                <a class="appOrderconfirm__browsers-link" href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">
                  <img src="images/browser-firefox.png" alt="Firefox" width="60">
                  <span>Firefox</span>
                </a>
              </li>
              <li class="appOrderconfirm__browsers-item">
                <a class="appOrderconfirm__browsers-link" href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank">
                  <img src="images/browser-chrome.png" alt="Google Chrome" width="60">
                  <span>Google Chrome</span>
                </a>
              </li>
              <li class="appOrderconfirm__browsers-item">
                <a class="appOrderconfirm__browsers-link" href="http://www.opera.com/download" target="_blank">
                  <img src="images/browser-opera.png" alt="Opera" width="60">
                  <span>Opera</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      {# View: nask--other-mobile #}
        <!-- we don't show nothing here -->
      {# View: nask--request #}
        <div class="hsContent__card" data-nask-view="request">
          <h4 class="hsContent__simpletitle hsContent__simpletitle--withimg">Nog even je aandacht <img src="images/icon-bell.png" width="30"></h4>
          <p>Mogen wij je af en toe een bericht sturen over interessante veilingen voor jou?</p>
          <div class="hsContent__card-maincentered">
            <button class="btn btn-lg btn-success nask__askbtn">Ja natuurlijk</button>
          </div>
        </div>
      {# View: nask--thanks #}
        <div class="hsContent__card" data-nask-view="thanks">
          <h4 class="hsContent__simpletitle hsContent__simpletitle--withimg">Nog even je aandacht <img src="images/icon-bell.png" width="30"></h4>
          <p>Mogen wij je af en toe een bericht sturen over interessante veilingen voor jou?</p>
          <div class="hsContent__card-maincentered">
            <button class="btn btn-lg btn-success"><i class="icon icon-checkmark-thin"></i> Bedankt</button>
          </div>
        </div>
      {# View: nask--allowing #}
        <div class="hsContent__card" data-nask-view="allowing">
          <h4 class="hsContent__simpletitle hsContent__simpletitle--withimg">Nog even je aandacht <img src="images/icon-bell.png" width="30"></h4>
          <p>Mogen wij je af en toe een bericht sturen over interessante veilingen voor jou?</p>
          <div class="hsContent__card-maincentered appOrderconfirm__allowing">
            <span data-nask-env="android">
              Klik onderaan op <button class="btn-native-android">Toestaan</button>
            </span>
            <span data-nask-env="chrome">
              Klik linksboven op: <button class="btn-native-chrome">Toestaan</button>
            </span>
            <span data-nask-env="firefox">
              Klik linksboven op: <button class="btn-native-firefox">Notificaties toestaan</button>
            </span>
            <span data-nask-env="opera">
              Klik midden boven op: <button class="btn-native-opera">Allow</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row appOrderconfirm__steps">
      <h2 class="col-12 text-uppercase">Wat gebeurt er nu?</h2>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-4">
            <h3 class="appOrderconfirm__steps-title">1. Bevestiging per mail</h3>
            <p>Binnen enkele seconden ontvang je een bevestigingsmail op het opgegeven emailadres.</p>
          </div>
          <div class="col-md-4">
            <h3 class="appOrderconfirm__steps-title pink-warm">2. Special wordt verzonden</h3>
            <p>Zodra je Special klaar is wordt deze verzonden door de leverancier. De Track & Trace code kun je in dive account bekijken bij <a href="#" class="hsLink">gewonnen specials</a>.</p>
          </div>
          <div class="col-md-4">
            <h3 class="appOrderconfirm__steps-title violet">3. Je ontvangt je special</h3>
            <p>De levertijd van je Special is afhankelijk van de leverancier.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row appOrderconfirm__footer">
      <div class="col-lg-6">
        <div class="hsContent__card">
          <h3 class="hsContent__simpletitle">Heb je nog vragen?</h3>
          <p>Als je nog vragen hebt over je Special kun je onze <a href="#" class="hsLink">veelgestelde vragen</a> pagina bezoeken. Mocht je vraag er niet tussen zitten kun je altijd <a href="#" class="hsLink">contact</a> met ons opnemen.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hsContent__card">
          <h3 class="hsContent__simpletitle">Deel je ervaring</h3>
          <p>Ken jij iemand die ook wel van onze aanbiedingen gebruik wilt maken? Deel het met ze!</p>
          <ul class="list-unstyled appOrderconfirm__share">
            <li><a href="https://facebook.com/hellospecial" target="_blank"><img src="images/share-logo--facebook.png" width="40" height="40" alt="Facebook"></a></li>
            <li><a href="https://twitter.com/hellospecial" target="_blank"><img src="images/share-logo--twitter.png" width="40" height="40" alt="Twitter"></a></li>
            <li><a href="https://linkedin.com/hellospecial" target="_blank"><img src="images/share-logo--linkedin.png" width="40" height="40" alt="LinkedIn"></a></li>
            <li><a href="https://instagram.com/hellospecial" target="_blank"><img src="images/share-logo--instagram.png" width="40" height="40" alt="Instagram"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </article>
{% endblock %}
