{% extends 'layouts/default.njk' %}

{% block body_class %}page--register wrap--centered hsGradient--bg{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block container %}
  <div class="wrap__top-inner">
    <a href="index.html"><h1 class="hsLogotype mb-2">Hello Special</h1></a>
    {{ macros.auth_register() }}
  </div>
{% endblock %}
