{% extends 'layouts/default--fluid.njk' %}

{% block body_class %}page--sellercontact{% endblock %}

{% block content %}
  <article id="hsSellercontact" class="hsSellercontact">
    <div class="row hsPage__intro-bg hsPage__intro--var1" style="background-image: url(images/page__seller-header--small.jpg)">
      <div class="hsPage__intro-overlay"></div>
      <div class="container">
        <div class="row hsPage__intro">
          <div class="col">
            <h1 class="hsPage__intro-title">Meld je aan als verkoper</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-lg-3">
      <div class="container py-5">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
            <div class="hsPage__box hsBg--white">
              <h2 class="hsPage__title">Een paar vragen...</h2>
              <form class="form--standard" action="#" method="post" class="form-validate">
                <div class="form-group">
                  <label class="form-required" for="naam">Naam:</label>
                  <input type="text" class="form-control" id="naam" name="naam" required>
                </div>
                <div class="form-group">
                  <label class="form-required" for="bedrijfsnaam">Bedrijfsnaam:</label>
                  <input type="text" class="form-control" id="bedrijfsnaam" name="bedrijfsnaam" required>
                </div>
                <div class="form-group">
                  <label class="form-required" for="kvk_nummer">KvK nummer:</label>
                  <input type="text" class="form-control" id="kvk_nummer" name="kvk_nummer" required>
                </div>
                <div class="form-group">
                  <label class="form-required" for="voorbeeld">Voorbeeld:</label>
                  <input type="text" class="form-control" id="voorbeeld" name="voorbeeld" placeholder="Website waar jouw producten worden verkocht" required>
                </div>
                <div class="form-group">
                  <label class="form-required" for="telefoonnummer">Telefoonnummer:</label>
                  <input type="text" class="form-control" id="telefoonnummer" name="telefoonnummer" required>
                </div>
                <div class="form-group">
                  <label class="form-required" for="email">Email:</label>
                  <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                  <div class="mb-2"><label class="form-required">Kun je direct aan HelloSpecial consumenten leveren?</label></div>
                  <div class="custom-controls-stacked d-block my-3">
                    <label class="custom-control custom-radio">
                      <input id="leveren_ja" name="leveren" type="radio" class="custom-control-input" value="ja" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Ja</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input id="leveren_nee" name="leveren" type="radio" class="custom-control-input" value="nee" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Nee</span>
                    </label>
                  </div>
                </div>
                <div class="form-group hsLeverenCountry">
                  <div class="mb-2"><label class="form-required">In welke landen kun je leveren?</label></div>
                  <div class="row">
                    <div class="col-6 col-sm-4 country">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="leveren_country" value="nl">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Nederland</span>
                      </label>
                    </div>
                    <div class="col-6 col-sm-4 country">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="leveren_country" value="be">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">België</span>
                      </label>
                    </div>
                    <div class="col-6 col-sm-4 country">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="leveren_country" value="de">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Duitsland</span>
                      </label>
                    </div>
                    <div class="col-6 col-sm-4 country">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="leveren_country" value="fr">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Frankrijk</span>
                      </label>
                    </div>
                    <div class="col-6 col-sm-4 country">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="leveren_country" value="es">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Spanje</span>
                      </label>
                    </div>
                    <div class="col-6 col-sm-4 country">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="leveren_country" value="other">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Andere landen</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="mt-3 row row--submit">
                  <div class="col col-lg-6 offset-lg-6">
                    <!-- just for the demo I put here a link but it should be a button type="submit", as below -->
                    <a href="seller-thanks.html" class="btn btn-lg btn-success">Verstuur</a>
                    <!-- <button type="submit" class="btn btn-lg btn-success">Verstuur</button> -->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock %}
