{% extends 'layouts/default--fluid.njk' %}

{% block body_class %}page--seller{% endblock %}

{% block content %}
  <article id="hsSeller" class="hsSeller">
    <div class="row hsPage__intro-bg" style="background-image: url(images/page__seller-header.jpg)">
      <div class="hsPage__intro-overlay"></div>
      <div class="container">
        <div class="row hsPage__intro">
          <div class="col">
            <h1 class="hsPage__intro-title">Psst, snel, veel verkopen?</h1>
            <h2 class="hsPage__intro-subtitle">Meld je aan als verkoper op HelloSpecial</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-lg-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
            <h3 class="hsPage__title">Meld je aan als verkoper</h3>
            <p class="hsPage__text">HelloSpecial is altijd op zoek naar leveranciers met restvoorraad, stocklots, geretourneerde producten etc. om het aanbod op ons platform uit te breiden. Heeft jouw bedrijf een sterk productaanbod waar onze bezoekers blij van worden? Registreer dan als verkoper <strong>➜ ➜ ➜ ➜</strong></p>
          </div>
          <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
            <div class="hsPage__box hsBg--grey text-center">
              <p><img src="images/icon-seller.png" alt="Verkopen" width="100"></p>
              <p>Probeer HelloSpecial als verkoopplatform voor jouw business, meld je vandaag nog aan als verkoper.</p>
              <a href="seller-contact.html" class="btn btn-lg btn-success">Aanmelden als verkoper</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row hsBg--white py-5">
      <div class="container">
        <div class="row text-center">
          <div class="iconblock col-12 col-lg-4">
            <div class="iconblock__header">
              <img class="iconblock__icon" src="images/icon-registreren.png" alt="Registreren" width="150">
              <h3 class="iconblock__title">1. Registreren</h3>
            </div>
            <p class="iconblock__text">Maak een account aan en krijg toegang tot de HelloSpecial portal.</p>
          </div>
          <div class="iconblock col-12 col-lg-4">
            <div class="iconblock__header">
              <img class="iconblock__icon" src="images/icon-verkopen.png" alt="Verkopen" width="150">
              <h3 class="iconblock__title violet">2. Verkopen</h3>
            </div>
            <p class="iconblock__text">Voeg snel en eenvoudig producten toe. Verkoop zonder risico en met winstgarantie!</p>
          </div>
          <div class="iconblock col-12 col-lg-4">
            <div class="iconblock__header">
              <img class="iconblock__icon" src="images/icon-verzenden.png" alt="Verzenden" width="150">
              <h3 class="iconblock__title pink-warm">3. Verzenden</h3>
            </div>
            <p class="iconblock__text">Verzend de verkochte producten naar de consument.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-md-5 py-lg-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center pt-5">
            <h3>Voordelen van verkopen via HelloSpecial:</h3>
          </div>
          <div class="col-8 offset-2 py-4">
            <div class="row">
              <div class="col-md-4 media">
                <div class="d-flex mr-3"><img src="images/icon-actieve_kopers.png" alt="Registreren" height="30"></div>
                <p class="media-body">Actieve kopers</p>
              </div>
              <div class="col-md-4 media">
                <div class="d-flex mr-3"><img src="images/icon-snel.png" alt="Snel verzenden" height="30"></div>
                <div class="media-body">
                  <div>Snel verzenden</div>
                  <div><small class="text-muted">Zelf of via ons</small></div>
                </div>
              </div>
              <div class="col-md-4 media">
                <div class="d-flex mr-3"><img src="images/icon-geen_risico.png" alt="Geen risico" height="30"></div>
                <p class="media-body">Geen risico</p>
              </div>
            </div>
          </div>
          <div class="col-12 text-center">
            <a href="seller-contact.html" class="btn btn-lg btn-success">Start als verkoper</a>
          </div>
        </div>
      </div>
    </div>

  </article>
{% endblock %}
