{% extends 'layouts/default--fluid.njk' %}

{% block body_class %}page--sellerthanks{% endblock %}

{% block content %}
  <article id="hsSellerthanks" class="hsSellerthanks">
    <div class="row hsPage__intro-bg hsPage__intro--var1" style="background-image: url(images/page__seller-header--small.jpg)">
      <div class="hsPage__intro-overlay"></div>
      <div class="container">
        <div class="row hsPage__intro">
          <div class="col">
            <h1 class="hsPage__intro-title">Bedankt!</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-lg-3">
      <div class="container py-5">
        <div class="row py-5">
          <div class="col text-center">
            <h2 class="h1 pb-5">We nemen zo spoedig mogelijk contact op!</h2>
            <a href="index.html" class="btn btn-lg btn-success">Terug naar de homepage</a>
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock %}
