{% extends 'layouts/default.njk' %}

Mede mogelijk gemaakt door HelloSpecial.com

{% block body_class %}page--veilingacties{% endblock %}

{% block header %}
  {{ macros.header(isVeiling=true) }}
{% endblock %}

{% block content %}
  <section class="row table-row hidden-md-down">
    <div class="col-lg-9">
      <div class="card hsContentCard">
        <div class="hsContentCard__top" style="background-image:url(images/home--veilingacties.jpg)">
          <div class="hsContentCard__overlay"></div>
          <img class="hsContentCard__top-logo" src="images/VA-logo.png" alt="VeilingActies.nl">
          <h2 class="hsContentCard__top-title">Mede mogelijk gemaakt door HelloSpecial.com</h2>
        </div>
        <div class="hsContentCard__bottom row">
          <div class="col-md-4">
            <div class="media">
              <img class="d-flex img-fluid" src="images/home-icon1.png">
              <div class="media-body">
                <h3>1. Registreer</h3>
                <h4>Maak gratis een account aan om mee te bieden op jouw favoriete ‘Specials’</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media">
              <img class="d-flex img-fluid" src="images/home-icon2.png">
              <div class="media-body">
                <h3>2. Bied mee en win!</h3>
                <h4>Bied gratis mee en betaal alleen als je de veiling wint</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media">
              <img class="d-flex img-fluid" src="images/home-icon3.png">
              <div class="media-body">
                <h3>3. Ontvang je product!</h3>
                <h4>Je ontvangt jouw ‘Special’ binnen enkele dagen thuis</h4>
              </div>
            </div>
          </div>
          <div class="mx-auto">
            <a href="#" class="btn btn-success">Registreer en bied mee!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 hsItem__col">
      {{ macros.itemCard(common.items[3], 3) }}
    </div>
  </section>
  <section class="row">
    <header class="col-12">
      <h4 class="py-2 mt-lg-5 text-center text-muted">Alle veilingen</h4>
    </header>
    {% for item in common.items %}
    <div class="col-12 col-lg-3 hsItem__col">
      {{ macros.itemCard(item, loop.index) }}
    </div>
    {% endfor %}
  </section>
{% endblock %}
