<nav class="hsAccountSidebar">
  <h4 class="display-4 hidden-lg-up">Mijn account</h4>
  <ul class="nav flex-column">
    {% for page in common.account.sidebar %}
      <li class="nav-item">
        <h4 class="display-4">{{ page.title }}</h4>
        {% if page.subpages %}
        <ul class="nav flex-column">
          {% for subpage in page.subpages %}
            <li class="nav-item">
              <a class="nav-link {% if subpage.title == 'Mijn gegevens' %}active{% endif %}" href="{{ subpage.url }}">{{ subpage.title }}</a>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>