<aside class="hsColophon">
  <div class="container">
    <nav class="row">
      {% for item in common.footer %}
      <div class="hsColophon__col col-md-6 col-lg-3">
        {% if loop.index != 3 %}
        <h4 class="hsColophon__heading">{{ item.title }}</h4>
        {% endif %}
        <ul class="list-unstyled">
          {% if loop.index === 4 %}
          <li>
            {% for subitem in item.items %}
            <a href="{{subitem.link}}" target="_blank">
              <img src="images/{{ subitem.img }}" alt="{{subitem.text}}">
            </a>
            {% endfor %}
          </li>
          {% elif loop.index != 3 %}
            {% for subitem in item.items %}
            <li>
              <a class="hsColophon__item" href="{{subitem.link}}">{{subitem.text}}</a>
            </li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
      {% endfor %}
    </nav>
  </div>
</aside>
