<footer class="hsFooter hsGradient p-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="hsFooter__text col"><span>&copy; <span id="js-copyyear">2017</span></span>
        <a class="text-white" href="index.html"> | HelloSpecial.com</a> |  Kabelweg 43  |  1014 BA Amsterdam | &nbsp;
        <span class="text-nowrap"><i class="fa fa-phone"></i> +31 (0)20 - 261 894 0</span>
      </div>
      <div class="w-100 hidden-lg-up"></div>
      <div class="hsFooter__logos col">
        <div class="row justify-content-end">
          <div class="hsFooter__keur col-sm-12 col-md-3 col-lg-auto">
            <a href="https://www.webwinkelkeur.nl/leden/HelloSpecial_1201424.html" title="Webwinkel Keurmerk en klantebeoordelingen" rel="nofollow"><img class="img-fluid" src="https://dashboard.webwinkelkeur.nl/banners/3" alt="Webwinkel Keurmerk en klantebeoordelingen" title="Webwinkel Keurmerk en klantebeoordelingen"></a>
          </div>
          <div class="w-100 hidden-md-up"></div>
          <div class="hsFooter__pay col-sm-12 col-md-8 col-lg-auto">
            <img src="images/ideal.png" height="48">
            <img src="images/paypal.png" height="48">
            <img src="images/mastercard.png" height="48">
            <img src="images/visa.png" height="48">
            <img src="images/maestro.png" height="48">
            <img src="images/afterpay-white.png" height="48">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>