<aside class="hsColophon__above hidden-sm-down">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-9 col-xl-8">
        <div class="row">
          <div class="col-sm-12 col-lg-auto hsColophon__above-title">
            <h3>{{ common.newsletter.title }}</h3>
          </div>
          <div class="clearfix d-none d-sm-block"></div>
          <div class="col-sm-12 col-lg-auto hsColophon__above-txt">
            <p>{{ common.newsletter.txt }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-3 col-xl-4">
        {{ macros.newsletter() }}
      </div>
    </div>
  </div>
</aside>
