<aside class="appSubheader">
  <div class="container">
    <ul class="appSubheader__list">
      {% for item in common.subheader %}
      <li class="appSubheader__item">{# data-toggle="modal" data-target="#hsWinModal" #}
        <a class="appSubheader__link{% if loop.index === 5 %} active{% endif %}" href="{{ item.link }}">
          <i class="icon icon-{{ item.icon }}"></i>
          <h4 class="appSubheader__title">{{ item.title }}</h4>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</aside>
